<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.p101</string>
			<key>IV</key>
			<string>e58440d7fa0500325edbe58c935f8482</string>
			<key>Key</key>
			<string>d8dde80028b3d889c182863c8b79875c135ab833afb6291f952f289634d7207c</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.p101</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-03578-368.dmg</string>
			<key>IV</key>
			<string>51933e0162ae171c4a432dd9b8c5a2b3</string>
			<key>Key</key>
			<string>cb9266a50e3ed9fc97187d108901935f0894f448249b1983d16e9b751aa0195d</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p101.RELEASE.dfu</string>
			<key>IV</key>
			<string>f9fe615cf195c4bf249d6f282a1cd812</string>
			<key>Key</key>
			<string>f5cc596caa7498117e87e5c3355c1509bf9f9b1b7b084766c7b0c14652eecd82</string>
			<key>Patch</key>
			<string>iBSS.p101.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p101.RELEASE.dfu</string>
			<key>IV</key>
			<string>4d094835b8c85e36da3eee54bcd6edb8</string>
			<key>Key</key>
			<string>16a818c3929634067d463888ffd2a7847f219e6d0fb1ddd62fe24cf8bd57a2a7</string>
			<key>Patch</key>
			<string>iBEC.p101.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p101ap.production/DeviceTree.p101ap.img3</string>
			<key>IV</key>
			<string>9b3ec71ebbebf897989c45af1b29d3b8</string>
			<key>Key</key>
			<string>0870a949408ca96c290319752608df5f0b42a2f936a4c8242cf671686c0efefb</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.p101ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p101ap.production/applelogo@2x~ipad.s5l8955x.img3</string>
			<key>IV</key>
			<string>199301a8cdbf9d3c57acdb28920fe4d7</string>
			<key>Key</key>
			<string>ffec95d521af68ce832f54a71e735d7627c6038967719740287500fb0d4d8624</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~ipad.s5l8955x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p101.plist</string>
	<key>RootFilesystem</key>
	<string>058-04041-356.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2096</integer>
	<key>RootFilesystemKey</key>
	<string>517050d27a67387bd9b25886d95e838694218a9e625e28340439dda563f8498c75d06e53</string>
	<key>RootFilesystemMountVolume</key>
	<string>Monarch13A452.P101OS</string>
	<key>SHA1</key>
	<string>e023080958ebe3eda2ea76163d920a82f45a3e7b</string>
	<key>Filename</key>
	<string>iPad3,4_9.0.2_13A452_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad3,4_9.0.2_13A452</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
