<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.p101</string>
			<key>IV</key>
			<string>dfac1f99632003b1a8c9ac2a5f0f9d2b</string>
			<key>Key</key>
			<string>8c0f00b97be4f5b132e6f9fa3d82425ebd5508aafc8c2d2eff6c27451d0a8afc</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.p101</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-14978-072.dmg</string>
			<key>IV</key>
			<string>ce64c091f69bd2ef03348bd782e1abfa</string>
			<key>Key</key>
			<string>ed82e44926f636cc0502bf97776b4622ddfd67f2614e39366da5aa7a8a7fc38c</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p101.RELEASE.dfu</string>
			<key>IV</key>
			<string>6073544396407ecd8ee9a7a5808752b9</string>
			<key>Key</key>
			<string>460f4a5c8516db1a66af9594a802b20a26664acc7338e2419aefd5965c95c1e5</string>
			<key>Patch</key>
			<string>iBSS.p101.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p101.RELEASE.dfu</string>
			<key>IV</key>
			<string>7f5ce384e4b596b349144eec0a2b8c89</string>
			<key>Key</key>
			<string>ae466141bc519f818a696348833ad4e400e82d7a0b94529eb961acf005f015c8</string>
			<key>Patch</key>
			<string>iBEC.p101.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p101ap.production/DeviceTree.p101ap.img3</string>
			<key>IV</key>
			<string>3bd598d8fedefa8dfb493d6556b0a69e</string>
			<key>Key</key>
			<string>416fdcec85badfd75068d8b13cef31615db85d6a46cd4f593685fb21c540ec49</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.p101ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p101ap.production/applelogo@2x~ipad.s5l8955x.img3</string>
			<key>IV</key>
			<string>492fbdf0d692d6f37fd86203c8119ae1</string>
			<key>Key</key>
			<string>44594e849eedf1832a566fbbafe6d16594733754bdb83e7ea5b3acac8f07682a</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~ipad.s5l8955x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p101.plist</string>
	<key>RootFilesystem</key>
	<string>058-14774-072.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2187</integer>
	<key>RootFilesystemKey</key>
	<string>347bff8eb22ad95961f5228bc74c4635826bc13c292f7f3f29a878f3463d97ea7f0747d6</string>
	<key>RootFilesystemMountVolume</key>
	<string>Stowe12F69.P101OS</string>
	<key>SHA1</key>
	<string>70f9b90607f373a89935b706f63df4b6ce8f5cf7</string>
	<key>Filename</key>
	<string>iPad3,4_8.3_12F69_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad3,4_8.3_12F69</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
