<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>3e6df3a8c7099f01e84d7541f00075c0</string>
			<key>Key</key>
			<string>f18625d849947d010bc91f07f865c9c06a062c9c6a702a9bb9885092666a6c9a</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-03653-288.dmg</string>
			<key>IV</key>
			<string>5aa658da4d8ecd4b2c891baa1378a58c</string>
			<key>Key</key>
			<string>c39310236f50f4f272e3f97f4795ea1fe52c3644b57743a0318af90252e17cba</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>39c8c98a536aab16aa8a210389ba2f73</string>
			<key>Key</key>
			<string>b1d8d4a3e20f912715b4cd04a1f663ea40b89e8e9e04495c9ad6fd12ef54ad77</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>0f898094dd2cfff3f95a7dc34b85814d</string>
			<key>Key</key>
			<string>c448b48ee9cada4f3b6b8aa4e88da6f8470f4d598f3536b5b5da8ef58a614ce2</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>9a8e80fcce7e8052073622b42b70d06a</string>
			<key>Key</key>
			<string>db06344bdf08634398483b92d4e9efce34d533b2690404e9db8484afff5380de</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>1a2b5092ba05394f0c959340c340be9c</string>
			<key>Key</key>
			<string>19941ef1a348c3f354772ab4b19a97038fb0abeb73e4ecba66718bcdb8e3c35d</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>058-04038-276.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2035</integer>
	<key>RootFilesystemKey</key>
	<string>386bdea2325c9fb1082e4368fb6d86af32bef325117bee64b309cd8c3f4dd6acae53d15a</string>
	<key>RootFilesystemMountVolume</key>
	<string>Monarch13A404.N94OS</string>
	<key>SHA1</key>
	<string>117c44cb1e6a737a4b0537864eb409e3d761a43f</string>
	<key>Filename</key>
	<string>iPhone4,1_9.0.1_13A404_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_9.0.1_13A404</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
