<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>dc67cb57ba31ab0dbc32df7e153e73b2</string>
			<key>Key</key>
			<string>02c481c444e7e3b5d90e995e8365e7b53c6724188f49d9bca3d58f0ef16ba346</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2548-005.dmg</string>
			<key>IV</key>
			<string>1e51ebdb23dfb1a55824c459337cc23c</string>
			<key>Key</key>
			<string>eaebbfa1b25f28ccf00a059ddfe64662a99008ffa3db284658365cd5810c6f93</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>b213c5e7ea60235bf85cc555d3ca9b9c</string>
			<key>Key</key>
			<string>a7863aee09a20bbfd2829afd2d2967271e4b28db73a8da68e7ed396cd37624a4</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>3bc6c9a06b39dd9c84a571a4eddf2594</string>
			<key>Key</key>
			<string>92291a2c5623b0b3656fec02375e73cb607b28ab508fc18417b7b66e73fff137</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>1adb3f1311009f60038141037721516f</string>
			<key>Key</key>
			<string>6ed29ef3f496b4d766cc73d2c4ab8deb37af0aec2b6bee9ec9d41edf4dcdad57</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x.s5l8950x.img3</string>
			<key>IV</key>
			<string>e3bc620448124e5853d679496b7fa43d</string>
			<key>Key</key>
			<string>db6eed02d1c5f5be50692e8fd5905b12f435dbe2a349d2afa7548e3667ec6e7b</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RootFilesystem</key>
	<string>048-2681-005.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>945</integer>
	<key>RootFilesystemKey</key>
	<string>207f8e1e4406cf7f2baa2f86e417c5f978a087b8473c09e9cd9eca93e89a74a346a6ebc6</string>
	<key>RootFilesystemMountVolume</key>
	<string>BrightonMaps10B329.N42OS</string>
	<key>SHA1</key>
	<string>9f7dcc672fd54a3aeefcabbcd547c0e53818513d</string>
	<key>Filename</key>
	<string>iPhone5,2_6.1.3_10B329_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,2_6.1.3_10B329</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
