<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>d67bd5c1ccf8d05b68402a6651589a1d</string>
			<key>Key</key>
			<string>97b7caa31c00f7c869017aa463f3222c74781ba2f6e5bc77bf4eaa7fbf2abd4a</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-0337-002.dmg</string>
			<key>IV</key>
			<string>2a95a37352899953b26c2d3ec257943e</string>
			<key>Key</key>
			<string>1c9e56b1c095a96c8396bf61a7c4d21218f080431c7e0b3113636cd7f8555ec4</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-0329-002.dmg</string>
			<key>IV</key>
			<string>5cdb48ce5f62d44d95196d502447bab4</string>
			<key>Key</key>
			<string>c1ab37982745b4961163a8ec8bf0508f4a6a68c6a90436cb1333be42e0ebec12</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>12c0985dde68de3d08e6200d098ff1f3</string>
			<key>Key</key>
			<string>e5fd50b7ae01fcf0f9f3a31b19011f26c2a5f750b52237ff2e0a236d08d45332</string>
			<key>Patch</key>
			<string>iBSS.n94ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>35c56a9785691ab3fc92d335ff88d5f7</string>
			<key>Key</key>
			<string>aa0c57ff73e54ba953e1b9766a1f56bb575c3ef6dec8f344cd58c13fcee295ac</string>
			<key>Patch</key>
			<string>iBEC.n94ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>94582cb8f88093bb3587ddec31f4e2b9</string>
			<key>Key</key>
			<string>eb34a006aad720fa2241161cb715aa4dabe39e3e7a343a42ecdba5735166e927</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>fb6fc009bddd74f05c422557874d1988</string>
			<key>Key</key>
			<string>a5d9abd77f23547fb1d837349de2bed2ecac0a8b86844898aabb345bd46d9de8</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>058-0197-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1572</integer>
	<key>RootFilesystemKey</key>
	<string>ffb423b614c544b005b5a5bc49ced3bcc12321c8cc2e8229f3f260c7f283cc7b936e4ace</string>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B511.N94OS</string>
	<key>SHA1</key>
	<string>75e46b940d1caf432e2c5ac8b263050fa0c059d2</string>
	<key>Filename</key>
	<string>iPhone4,1_7.0.3_11B511_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_7.0.3_11B511</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
