<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>682caa256c65783133279b425ec8f596</string>
			<key>Key</key>
			<string>b3abe0f01175acc6544a517cb01d2d514d6dc9b21af8b922d45a74e0f69ab7bd</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-03478-368.dmg</string>
			<key>IV</key>
			<string>01050744c13ca9f47df1e7b8fa63a6b8</string>
			<key>Key</key>
			<string>435927b2da4380b96548526fabce5a86919456380aa17bfa267fd53636f860a2</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-03706-369.dmg</string>
			<key>IV</key>
			<string>4903122eb1fb855d29aa42b2ee1a1e09</string>
			<key>Key</key>
			<string>9bf020d0e15a8253fa3dc65c92fe6911b863f3ba585dab9f505189428729e37e</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>e5cd1673fb47bb3912277a01815c4e47</string>
			<key>Key</key>
			<string>df81111dfa8655a6d3c3eda13c0e583dbc1fef4cd0012aa3ee642d8e86817d3c</string>
			<key>Patch</key>
			<string>iBSS.n42.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>9ece1352600807a675463ba44a75adc0</string>
			<key>Key</key>
			<string>e121792b9a064bc4118d3908ca581eda448ea1e4a19f63dfe2c48a14487f9ff2</string>
			<key>Patch</key>
			<string>iBEC.n42.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>c68b08d2b321e25ee49cc294745660c3</string>
			<key>Key</key>
			<string>0c3627ecac5368076288c4b3cb280c931be6b8c16d157f2e73ead7df0f775e4d</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>962dd1d4734e9e9b27a0014ac0a9379a</string>
			<key>Key</key>
			<string>dfa1dcbba6faa4d6016a065af725a244305be093457c0ddbc8c928f18c0bdc10</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RootFilesystem</key>
	<string>058-07912-303.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2048</integer>
	<key>RootFilesystemKey</key>
	<string>55833657da22e514fd826fd8c94ad990dafdf5022ae20d25495fcdf26fd0c3d35f651e41</string>
	<key>RootFilesystemMountVolume</key>
	<string>Monarch13A452.N42OS</string>
	<key>SHA1</key>
	<string>9105653341b2e35e28547a58b466666e8159f5b7</string>
	<key>Filename</key>
	<string>iPhone5,2_9.0.2_13A452_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,2_9.0.2_13A452</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
