<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>058-1123-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1589</integer>
	<key>Filename</key>
	<string>iPhone5,1_7.0.4_11B554a_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone5,1_7.0.4_11B554a</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>SHA1</key>
	<string>00f13e376490e0aa91b950d65a43bf93d46a1e79</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B554a.N41OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>b55a091e39f79eba5f90fd8300923fe17d02bb91eff4f97a8a3887909100e42a</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n41ap.RELEASE.patch</string>
			<key>IV</key>
			<string>b76f278a5f6b24937b071460c234bcde</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>bea85da6bb61305bf8843f80a2e114a18e062492bd5976722414fd98721b515e</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n41ap.RELEASE.patch</string>
			<key>IV</key>
			<string>7ca6012f2c16ee62879e5476aec76621</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>Key</key>
			<string>d6b0d5ca19e08eac1325e7a87eb6d6509f5ac46724adbd3785e2d515cafaa4c8</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>d99aa06ace855bebb2fc9c0a6c087e5c</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Key</key>
			<string>3c1057501b2ef53d0c396c3dca0ad48eaa209ae101accf4ec1d54159351837ef</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>b2f669b628697fb0adaac1fcf457a743</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-1089-002.dmg</string>
			<key>Key</key>
			<string>6fc6e536725f33b5709a1007c20a368edae3bf04727568e2c5453e6e302403c2</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>8940ebeec479495d909153be0bdbc5e6</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>Key</key>
			<string>516037f37d47f25c85bfa9a83db2ae298a64552ed6ebcfb311754a83be7f7a33</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>4f1dcfe7933ad13736ee2ff0ad2dafe6</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>c22c513d281dcaecbbcae2308baf29eb00fc750a1aa0d0bcf840d3cb4422f920ae99f14c</string>
</dict>
</plist>
