<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone4,1_8.1.2_12B440_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-09642-017.dmg</string>
			<key>IV</key>
			<string>1877de077581ddcd94f9d7d5d5fb6146</string>
			<key>Key</key>
			<string>578170763ce0f688313fea9983dea10c32ca17ea0307fcde96ec3ea3f486f1b3</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>7801a3998c46736b88fad3a306c688cf</string>
			<key>Key</key>
			<string>39b8ad8b5f7af3fcd215258bb2a60a0b96b4afd6074660b5adbe9fda1193ca33</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>68fdac19d23eb4023bfdfb8327072c72</string>
			<key>Key</key>
			<string>2cd690822ae394d95e45426ffadc7206c20be69b15947afcc34f8d8ac5498830</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>f3df68b38e330c10d1c15f3568e34164</string>
			<key>Key</key>
			<string>0a52316a178b7e5a4df8f28fd086d7faf68c2baccacc4f1e5d7fff722159e061</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>ffa653e386178620c207de5b2166f2bd</string>
			<key>Key</key>
			<string>9c1a11bcb3ff4a152bcd341ba95c068536e6f4d3e57c0b7e36dfe110d22f186d</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>22c287bf4cfc22f0854e3b127d861c6c</string>
			<key>Key</key>
			<string>decb6827816f2734af66329b81f117ae0a42bcde5ef64e18dc80c1c2bf25ffab</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone4,1_8.1.2_12B440</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-09779-017.dmg</string>
	<key>RootFilesystemKey</key>
	<string>ae52bd8ffeb5ab6a96637c124fb2d9b820ceb232a2a469e4690b29967b8ee764dd298ecb</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUOkemoTaos12B440.N94OS</string>
	<key>RootFilesystemSize</key>
	<integer>1977</integer>
	<key>SHA1</key>
	<string>53fa0cf99b772736630555b00d6d0f92494a09d9</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
