<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>04ebf0d783e1bd2dee34bf2c992c76c4</string>
			<key>Key</key>
			<string>8529bf7528dc2b439d70c8928e5a4471f75070069c0b6c373bf337a16eda0809</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4442-001.dmg</string>
			<key>IV</key>
			<string>17cfa68bbc4a8058c21feb8fce32f8dd</string>
			<key>Key</key>
			<string>71593b2a2361575a547a4ea03494f2b1083e6c97a82b3423537158e454a0b32f</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4228-001.dmg</string>
			<key>IV</key>
			<string>f5f7c5d5f3dfbc93447e3ef82fba12aa</string>
			<key>Key</key>
			<string>c91551af47d0f2669e10f6c5bdbbab4e0b7b14918ff0534f0abee8891591749f</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>bd795899cef3e07e6281fee49365b23b</string>
			<key>Key</key>
			<string>215bdf4f52bce9a492fc33c16d545fd95bfddf123c21d68da6a94b6373fe1f73</string>
			<key>Patch</key>
			<string>iBSS.n94ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>d54abdc3982cb4adde159ed26ea6a8c5</string>
			<key>Key</key>
			<string>52b004df74d668d6026d756b684257556fcb6d8214802e3b363785b102a1692c</string>
			<key>Patch</key>
			<string>iBEC.n94ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>c1b32a1e76b1d30cc6abebf1258b6798</string>
			<key>Key</key>
			<string>3e5bfe04b519be6b27ccb6d574f11032a564bfe473aabbb60361213ce41dcdae</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>f09df4a588b23608a05770b2524f4afb</string>
			<key>Key</key>
			<string>99900ce29f4a9ca2e284b7cc0cb92c17200724e4b2d44239665b38dd035622ba</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>058-4365-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1643</integer>
	<key>RootFilesystemKey</key>
	<string>b4f9bd3dbe2b37693da72d39e22b57aebbd7276af072376384a1eccf0fdc6d3be37af0f0</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sochi11D167.N94OS</string>
	<key>SHA1</key>
	<string>97d0f9437b605813342f598d43809881d51fd0ce</string>
	<key>Filename</key>
	<string>iPhone4,1_7.1_11D167_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_7.1_11D167</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
