attrs==20.2.0
autopep8==1.5.4
bsdiff4==1.1.9
certifi==2020.6.20
chardet==3.0.4
flake8==3.8.4
humanize==2.5.0
idna==2.10
importlib-metadata==1.7.0
iniconfig==1.1.1
iospytools==1.0.7
mccabe==0.6.1
packaging==20.4
pluggy==0.13.1
progressbar==2.5
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytest==6.1.2
pyusb==1.0.2
remotezip==0.9.2
requests==2.24.0
six==1.15.0
tabulate==0.8.7
toml==0.10.1
urllib3==1.25.9
zipp==1.2.0
