<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>IV</key>
			<string>d9f08a9cfc4bb34a44358758f1e1e2aa</string>
			<key>Key</key>
			<string>80464a55157f2cbe8a43b59f108b29d0fca2d410978c6ae192734905081fa616</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-00219-002.dmg</string>
			<key>IV</key>
			<string>2838928c73d02ca634f86e82111b95dd</string>
			<key>Key</key>
			<string>9aa9231890dd6cc72ad9ddc4927743526665b59c6d9a50f796d0f9b98980babc</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>f63554aeb722e189c2b99478487862dc</string>
			<key>Key</key>
			<string>def5a49ec22236406a927e8ecbd3be1b2af0d4a03aa4d172bc026ed482a14fa0</string>
			<key>Patch</key>
			<string>iBSS.n41ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>c58af4a09140e4871dd2a4f0f945a29e</string>
			<key>Key</key>
			<string>fb310531a526692abe648df83dcd436f9826c05ddf65cd0462acfea0d405207b</string>
			<key>Patch</key>
			<string>iBEC.n41ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>c9f893f54d8fcb9bbd822347d54689d6</string>
			<key>Key</key>
			<string>08edd5c2398bc69bd78cc2e7d718fbf0a7e351fc9b14b160d181885f9667b4c3</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>bba99d7ae4bb94dff69bacc69a49da51</string>
			<key>Key</key>
			<string>7c8b569010ba6596c5e9f4bf52d74ead57829f238e7d1758e70034313be7fb9a</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>RootFilesystem</key>
	<string>058-00357-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1660</integer>
	<key>RootFilesystemKey</key>
	<string>adefb892e79693a5f6df3f0fc492f3ca71c570e0689302e9e4437ed2bee5c6ad04542c66</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUSochi11D201.N41OS</string>
	<key>SHA1</key>
	<string>5cc2878ae2786a9d29c4550a02b495d222081bf3</string>
	<key>Filename</key>
	<string>iPhone5,1_7.1.1_11D201_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,1_7.1.1_11D201</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>