<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.p103</string>
			<key>IV</key>
			<string>dc88f3d64ce26c698b9c72629059fb52</string>
			<key>Key</key>
			<string>ee49b73ab9788d5b90a81a11f6370047e6d1c1eaeb52e86d8518ed67693b45c7</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.p103</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-1121-002.dmg</string>
			<key>IV</key>
			<string>c77fd3ed925d29e02abeb728793d69b5</string>
			<key>Key</key>
			<string>3c44768dcb4ee8c29b554739e82fa78454124df1fa3d4f7854489666576f5a99</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p103ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>41a62bd34151bdf844a6f2045b601835</string>
			<key>Key</key>
			<string>254a4babbd0b657f6a760b82b9767d3fa42d6212ec93a5c38ddc12ad6224e29b</string>
			<key>Patch</key>
			<string>iBSS.p103ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p103ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>f16d99ecd47a94372108192f69407f6b</string>
			<key>Key</key>
			<string>b567944ef191aa74a2fc9fac5126f1ef9e6c5f5b4d7505e99de285ce82ef6ab5</string>
			<key>Patch</key>
			<string>iBEC.p103ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p103ap.production/DeviceTree.p103ap.img3</string>
			<key>IV</key>
			<string>e784a6cc8f369336b749dc24c79bb6d3</string>
			<key>Key</key>
			<string>beb7eeaaf6076b6b65d14ec6c32fab29dfb821e65d478c731f7e0f50ba937e3e</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.p103ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p103ap.production/applelogo@2x~ipad.s5l8955x.img3</string>
			<key>IV</key>
			<string>fef2662715245b3d18b00f56061ca150</string>
			<key>Key</key>
			<string>8ff6bcb1aa4c6e12275da7e8854d94a385cc9660e7b409cfb8674e4dc4f4e335</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~ipad.s5l8955x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p103.plist</string>
	<key>RootFilesystem</key>
	<string>058-1094-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1739</integer>
	<key>RootFilesystemKey</key>
	<string>d1652b58dc9fa9a0ab535e1dd56256e55a80a061fce098780820ce058dfac7b12c6ae0cc</string>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B554a.P103OS</string>
	<key>SHA1</key>
	<string>d0674fb72cf831e7df3fb0ccc8507358fbb474fb</string>
	<key>Filename</key>
	<string>iPad3,6_7.0.4_11B554a_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad3,6_7.0.4_11B554a</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
