<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>dadc5f9a598f0b41e36c62aab089e2e4</string>
			<key>Key</key>
			<string>973b08a002d317410a49181ff9d60bf34eff91f044db32175a141d9bfd70eed4</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-14620-073.dmg</string>
			<key>IV</key>
			<string>d0c46dd9d805f544179b3c87894ffd29</string>
			<key>Key</key>
			<string>0bf6736d6e13fe96f03cd6f3441b858631ef6e8a3a7781af61e17b414446d934</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-14828-073.dmg</string>
			<key>IV</key>
			<string>a1515f4f1ca59da149c78402c5df1d15</string>
			<key>Key</key>
			<string>3a29bb3e959a047e09c238422573904b16dee4cbaf131f75f757f8c54cdb5665</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>053218c1c094435850746232625191f2</string>
			<key>Key</key>
			<string>f53120db128402434c0366555361aaea2012dac4eba2765421cb734fda838b4c</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>645132786e8a81f25e51330aa84daae5</string>
			<key>Key</key>
			<string>d0cbbebcd386bb9d65b2d4784a4e69cdc73d761c5df939a47635b2decd808f49</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>c29616595e9f78fd7284d21ca037d0f9</string>
			<key>Key</key>
			<string>1504c3d5cd9b02e10be85f4b90cb0c9d8ca666822ce67b50b885397c3c0e30cd</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>4238a26549cafc784e9a3ea867dce97c</string>
			<key>Key</key>
			<string>d2b4a85df723300661f57e2aae0C65e9c53305472a8362554892db00a880902e</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>058-14563-073.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1996</integer>
	<key>RootFilesystemKey</key>
	<string>c24679951764a6fe5e7eef2c3a331b4ee1d0a7efb9a678c9d2091d8af2d23f54e9243a56</string>
	<key>RootFilesystemMountVolume</key>
	<string>Stowe12F70.N94OS</string>
	<key>SHA1</key>
	<string>2b1b3e1670c65d142aaecbe91b30f72c5d459265</string>
	<key>Filename</key>
	<string>iPhone4,1_8.3_12F70_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_8.3_12F70</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
