<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.n88</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
		<!--key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
			</dict>
		</array-->
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n88</string>
			<key>IV</key>
			<string>3cc0a84f6b8120fd4f40cff12cc58ed6</string>
			<key>Key</key>
			<string>5bb60c7597bf4ed465f8c68938c36184e6af924dda3f8dc4d3eb2767213bcb91</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-1203-273.dmg</string>
			<key>IV</key>
			<string>404e344acc3ab148a3d90997f00aa308</string>
			<key>Key</key>
			<string>96bbec672f7c5533250f4fa14798647031b5913843d00d8a4c9b6ebec0664f55</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-6450-001.dmg</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>c32ff0788530d2650a3c1108a959aed0</string>
			<key>Key</key>
			<string>bf3b69f9bd9c3ec1a6aae962d9cb3da4bbc4e1de12608df2756dc0814857fee8</string>
			<key>Patch</key>
			<string>iBSS.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>2efa019c5b20a427daf6a3cbf4452209</string>
			<key>Key</key>
			<string>1a982cd5566a3476db211c4c1aafbd2450843d79f6478a87a3b0b9f1562fc1d1</string>
			<key>Patch</key>
			<string>iBEC.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>1ede720c9c329081dfac906fc2d497e9</string>
			<key>Key</key>
			<string>2a83acad1432e9a41854ff33c2404814bbcd64c392ef11d3dbed92c2947fd148</string>
			<key>Patch</key>
			<string>iBoot.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.n88ap.RELEASE.patch</string>
			<key>IV</key>
			<string>62e04bfb4f633c5098cad1dde38ac051</string>
			<key>Key</key>
			<string>5928cf1fe79143bf9b12e34f1add8368766582fd98fe4f3ffc65238e35bad359</string>
			<key>IsPlain</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.ssh</string>
	</array>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n88.plist</string>
	<key>RootFilesystem</key>
	<string>038-6491-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1350</integer>
	<key>RootFilesystemKey</key>
	<string>9b80f46bffd90f2507fd1978df3d72e933ac0f894b8ff13aca73f2ef6b822186a4075236</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sundance10A403.N88OS</string>
	<key>SHA1</key>
	<string>85963dfe1c0febf34d9871ee32b891b93d47b2b6</string>
	<key>Filename</key>
	<string>iPhone2,1_6.0_10A403_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone2,1_6.0_10A403</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>5</integer>
</dict>
</plist>
