<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>058-09862-017.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1962</integer>
	<key>Filename</key>
	<string>iPhone5,1_8.1.2_12B440_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone5,1_8.1.2_12B440</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>SHA1</key>
	<string>55e79628252e680065ba2a40588fc1dce5374ef3</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>SUOkemoTaos12B440.N41OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41.RELEASE.dfu</string>
			<key>Key</key>
			<string>09dd13d61963a5b9da7fe4596cd1c584fd5cbd48c36fbd0a3dd28410eabe6ef3</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n41.RELEASE.patch</string>
			<key>IV</key>
			<string>32e5d89a873d4eff490f76d02583fffb</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41.RELEASE.dfu</string>
			<key>Key</key>
			<string>d82fefc1d58e6197c49d17d359d5e5dc53f9067cbf72a6b124e446b5ceb1f983</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n41.RELEASE.patch</string>
			<key>IV</key>
			<string>45de6b669cb6d22e8e57c014f73e61a1</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>Key</key>
			<string>b71adeff1c651705e95b3e622fc3fc44ead7facb031ec39679656ff00246de01</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>1d811ca7360081246cc0837113ef7ae1</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Key</key>
			<string>087b3b6f0a7b36f715ba28a32c1faf68d3c37bd50f03bf2e60eaeb2a6c6fdc3c</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>0f26e4182ed76e6f2465e372f70b2d94</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-09687-017.dmg</string>
			<key>Key</key>
			<string>3a86b177c1c822f6c00f47eef6c47bc58eb2106950d70729e63877b0eb942553</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>1f68bc1be26bb378f100082dfe0de0fe</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>Key</key>
			<string>0feeaeb78b08a28b51e3e60c042003d2a15e37e436ed7d25e240c0ab2601d2ca</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>bcdc205ef963b48384d37ca9df1e225a</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>eb2be0b9d91627d0f11ec6b7f75688283386309db1708e121f17b4c39b8d5178765090c1</string>
</dict>
</plist>
