<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>b94be35b45f98368c080c701d5fb039b</string>
			<key>Key</key>
			<string>4d9d02ca18239aafef01fbb642a1dd362b77f00ed0a7aed60c7eef569eeeccf2</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-3474-250.dmg</string>
			<key>IV</key>
			<string>a69cfdd6d439dca235399203493ae4ff</string>
			<key>Key</key>
			<string>72f37a03216f8594ea0d6f21238f417d101a5828e2fedfbc13cab7a0bdbd0f7c</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>4a3ed8a8cf9d8714c872370a591659ea</string>
			<key>Key</key>
			<string>572313e3342986c01550809c66be42d8ad970a0f12343ff6cb500ad1dca9d514</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>7da6b09741820594def19ded0018ea4a</string>
			<key>Key</key>
			<string>66492e30f186fb1bba6042f6558bbad832e25c338f5ad8bb12ffb86a7e2e6c0a</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>1530845e01f08ab122b3e74d1635d7ae</string>
			<key>Key</key>
			<string>b63a9897f8301d28ea0db1c8e6c30e45240581881e362735deb82dc5166e3acf</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>39347e67b48ff81d1c7dbe0a23e06479</string>
			<key>Key</key>
			<string>be830b634d8dfc4cbb001df67b8797c7fb078dd3e7b997d4f8724cce9e00c5ee</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RootFilesystem</key>
	<string>038-4014-394.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1589</integer>
	<key>RootFilesystemKey</key>
	<string>e36c8b97a6992d0c0f2d8076de29247bf076c52365efe1c3b983645a61ce1cc84e99adde</string>
	<key>RootFilesystemMountVolume</key>
	<string>Innsbruck11A465.N42OS</string>
	<key>SHA1</key>
	<string>137e2031a4c03b5da2e05bf33b2741883131371c</string>
	<key>Filename</key>
	<string>iPhone5,2_7.0_11A465_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,2_7.0_11A465</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
