<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n78</string>
			<key>IV</key>
			<string>9ec311142a772711ffe38f5469c0a6b5</string>
			<key>Key</key>
			<string>eeb52175b3b13919a78be4b8e9fc80b873bd651bd34c93f4f3821faf7c0e064b</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n78</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-00261-002.dmg</string>
			<key>IV</key>
			<string>b89bbcc4ea1b0346bf8c61dc36678805</string>
			<key>Key</key>
			<string>29fa3765b13c37e8704b29bf2730ead97bd643a083c0bd4a8e43595b52da75a6</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n78ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>b0efeca9ce2d44a8cdc97f4ec681d59e</string>
			<key>Key</key>
			<string>6e24fb81ffcc1e4826a3f41aee5baaf132064ba292667f6c66662d068a17e90c</string>
			<key>Patch</key>
			<string>iBSS.n78ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n78ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>6e4d113fa1cf2b096ffa5cfecdbd60ed</string>
			<key>Key</key>
			<string>1ebaa9773d9aba5e5d62d65ddc664e10fe7938488c69323435fa008e513051b2</string>
			<key>Patch</key>
			<string>iBEC.n78ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/DeviceTree.n78ap.img3</string>
			<key>IV</key>
			<string>5aa94c6c16050c6022455236c45372e1</string>
			<key>Key</key>
			<string>e33011bff80303b6f90e26b94c69cf927d715017fe7a4bb14f1a8ce4fdb3536f</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n78ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/applelogo@2x~iphone.s5l8942x.img3</string>
			<key>IV</key>
			<string>be86642e7cbe007cb327ee1168d7d0a6</string>
			<key>Key</key>
			<string>97e07ea175bcc824654a4f16ab2385c037dda857284f89630c5165786a246ed5</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n78.plist</string>
	<key>RootFilesystem</key>
	<string>058-00309-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1622</integer>
	<key>RootFilesystemKey</key>
	<string>c1807ccd196ab3bb87dcce431289bb21e6ec9a933fe2d98ca1bd56d836446bc9aa697dd9</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUSochi11D201.N78OS</string>
	<key>SHA1</key>
	<string>45ae21d187f1db94db543b13871dc32d29c69c1e</string>
	<key>Filename</key>
	<string>iPod5,1_7.1.1_11D201_Restore.ipsw</string>
	<key>Name</key>
	<string>iPod5,1_7.1.1_11D201</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
