<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>048-1058-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1222</integer>
	<key>Filename</key>
	<string>iPhone4,1_6.1.2_10B146_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone4,1_6.1.2_10B146</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>SHA1</key>
	<string>40392e8b3cf6934e639374a215cae7859f83f02c</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>Brighton10B146.N94OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>1483f0ea471f263db078fdabed965f428d55dc29b8e06fe0e372762093b5d72a</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n94ap.RELEASE.patch</string>
			<key>IV</key>
			<string>e1367119649f6e6c99223dd46da87c3f</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>a324afca08c2c2c29c387743cdd425905dabc2c242f5dc573e52a5be7e0c3670</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n94ap.RELEASE.patch</string>
			<key>IV</key>
			<string>e0c5ae557870056781e525959a2be55e</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>Key</key>
			<string>1067fb810a27fc5c2d5878047cd57d6b2cf49bc5dc1da2848be6ccab0fec07dd</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>9f2191d871faf8f952c0100335b68f51</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x.s5l8940x.img3</string>
			<key>Key</key>
			<string>0bccbe429eaf7e7836c516ffd99c3e5a1f66fbb901e792c960f5c1033b2a9625</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8940x.img3</string>
			<key>IV</key>
			<string>1fe8f71f6414570ec5a2050163dd8dd6</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-1054-002.dmg</string>
			<key>Key</key>
			<string>406a707f77149dadcc22109b8601cea1ef03f805445b3dd64bf43097bc484d5b</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>14a5fdde52adf7b034b81cc8a3c6a2ce</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>Key</key>
			<string>99b92cc4b2f6403371c1bbe1a83d12a8551a7f06bbb422e6d84fad6475c9b551</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>f5afb4934ce15fe41e9515d602dc1cbe</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>77910c656ce8f5f42980823dab6124839b9616517883027f44df8e0967c2d8bf4fb85b9f</string>
</dict>
</plist>
