<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,1_8.4_12H143_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-15840-139.dmg</string>
			<key>IV</key>
			<string>c432b11e7087fb0fbcfbec7077b27eed</string>
			<key>Key</key>
			<string>dbf5985333350da89d4a3fcb4375bcf6b1d2519be8a153c96b3dd10c7a0aba65</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>4919ca5eecab0b8fcfd96fb8dee11044</string>
			<key>Key</key>
			<string>289cb231cc791132fa96c5ff2add046e74a0b8dec634a2c5ec5de8d92a82a46f</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>IV</key>
			<string>83c07c33005c167326d5e8a090060808</string>
			<key>Key</key>
			<string>79f3c0b2dcb2a665728c7bc48d4df9479cafe50b41df81f0a6044c4a285047e8</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>95060c517c02d434b437e8f16069f46f</string>
			<key>Key</key>
			<string>55f096d0d3fe9444925bce54ed393290a604161f4d578b73be31c6880d8dc5da</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41.RELEASE.dfu</string>
			<key>IV</key>
			<string>aedccda16260044bb2b260a820a745dd</string>
			<key>Key</key>
			<string>bcf78e6d706f96d26c4d0fde8f0c4def093b354ad6c9b1c83527d616cc0663bd</string>
			<key>Patch</key>
			<string>iBEC.n41.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41.RELEASE.dfu</string>
			<key>IV</key>
			<string>9a10770aaec9577842a5d0c2f8012c15</string>
			<key>Key</key>
			<string>5d2485e2a9db478217a4da712c418915788fadd92acb59205e2bea3919996795</string>
			<key>Patch</key>
			<string>iBSS.n41.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,1_8.4_12H143</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-15941-139.dmg</string>
	<key>RootFilesystemKey</key>
	<string>9a4af15d1d95672675bf5d5028c4c5fa6206a6154878e6859d3265c38e5830f02c441b17</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUOkemoTaos12B440.N41OS</string>
	<key>RootFilesystemSize</key>
	<integer>1962</integer>
	<key>SHA1</key>
	<string>AB3A147BD92644935F0DF5458656E89C9B0824E5</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
