<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
                <key>Core Files Installation</key>
                <array>
                        <dict>
                                <key>Action</key>
                                <string>Add</string>
                                <key>File</key>
                                <string>launchd</string>
                                <key>Name</key>
                                <string>launchd</string>
                                <key>Path</key>
                                <string>sbin/launchd</string>
                                <key>MoreActions</key>
                                <array>
                                <dict>
                                    <key>Action</key>
                                    <string>SetPermission</string>
                                    <key>File</key>
                                    <string>sbin/launchd</string>
                                    <key>Permission</key>
                                    <string>755</string>
                                </dict>
                                </array>
                        </dict>
                </array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
				<key>MoreActions</key>
				<array>
				<dict>
			            <key>Action</key>
			            <string>SetPermission</string>
			            <key>File</key>
			            <string>usr/libexec/lockdownd</string>
			            <key>Permission</key>
			            <string>755</string>
			        </dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-1447-003.dmg</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-1436-003.dmg</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>181ee0b292538b2052dbd119770d7348</string>
			<key>Key</key>
			<string>f131471b406795abf7ae70617dd30968e5ad6b847b84a1671d5801c04fc07643</string>
			<key>Patch</key>
			<string>iBSS.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>038-1417-003.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>768</integer>
	<key>RootFilesystemKey</key>
	<string>148f4fca734e973551fc8fa65a04883041854b060e3fe1e6c3ca4499a3204d1d97594a47</string>
	<key>RootFilesystemMountVolume</key>
	<string>Durango8J2.N88OS</string>
	<key>SHA1</key>
	<string>027aaf90744076551a93a7f78e9aae2c740f3b40</string>
	<key>Filename</key>
	<string>iPhone2,1_4.3.3_8J2_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone2,1_4.3.3_8J2</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>5</integer>
</dict>
</plist>
