<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>1a9ed17c0353f4df70fb69469d5c6dc1</string>
			<key>Key</key>
			<string>22df13c54b35ce188b498a461c5858e94c4c6d912e398a28f561c9410d30ce4e</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-32327-015.dmg</string>
			<key>IV</key>
			<string>1748cd2cbb87d4970f7471fb9fce2980</string>
			<key>Key</key>
			<string>4512dc4f276eadba7237e7b2ae0ae4a5c62923cd5356a6547f05a28de5cd294e</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>b5b6326b622093b9b9b7dd7f979d4efd</string>
			<key>Key</key>
			<string>de009fb55ff385412a8154ce317bf82917babd60c43132c11854bb2d28102820</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>05ea572cd92514080e06c2a8c60b3a21</string>
			<key>Key</key>
			<string>a2387134172374d561be4d83c0b1ddbaed65dfd4eabb118cf492d77e6608e69f</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>08b791c9796d1f51814e51e4ccd8bc41</string>
			<key>Key</key>
			<string>1d03d10c7e1cd7a4dadc7e89c27c1d1b5d03cf1f04628630b213dbb93a255124</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>196d08fe8078a78c704ede111b65213a</string>
			<key>Key</key>
			<string>24cec19ae1b7d49cfbbac4bbdea11a49d499deddf51b0fbe14996e8ff726165f</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>058-32057-015.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2025</integer>
	<key>RootFilesystemKey</key>
	<string>b6644378699052dbd0a53f596f5916c9ac68a3ca8650454dd0a431bb8b617b2e9149b2b8</string>
	<key>RootFilesystemMountVolume</key>
	<string>Dillon13D15.N94OS</string>
	<key>SHA1</key>
	<string>b6bd61a4ddb78bc65edc7d409de74bd6aa573e0a</string>
	<key>Filename</key>
	<string>iPhone4,1_9.2.1_13D15_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_9.2.1_13D15</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
