<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,1_6.1.2_10B146_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>048-0856-002.dmg</string>
			<key>IV</key>
			<string>87a214c4a43b9f6fd745b20e363034ce</string>
			<key>Key</key>
			<string>ac261239ccf677c7333abdea1624bce320d67bb6254842b8a6ff1f7ae1d55017</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>939daa03bc77b5836b4c71dd03d01756</string>
			<key>Key</key>
			<string>826a825b6b58756ceef5e229e969c601afe03306f4ea33bb6f3b6fc64bacdf58</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>IV</key>
			<string>a01a9d087045766c2545721fc54d490b</string>
			<key>Key</key>
			<string>29eed4f930e7ec7c9f81c33f6002eed13a0d51f1a129d48562c64cc8eea865c1</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x.s5l8950x.img3</string>
			<key>IV</key>
			<string>27b2550d29cc5b5582e50c3c4d40dbef</string>
			<key>Key</key>
			<string>3cbb37f09ee009ae592b098ac72e93b5ae2cbfe6332366cd76eb75798b270630</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>bfa03dd561efe2bc5725cd41ead88b4e</string>
			<key>Key</key>
			<string>80ed4d002675a2f75923f98795eee72d6d7d6da189b761df07b44205f192bf39</string>
			<key>Patch</key>
			<string>iBEC.n41ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>92d1e42a0323ce08e4ce5fb2d74ef136</string>
			<key>Key</key>
			<string>eb544c2ca64db38d2ccc94240fa756f0d764fc07973d6d99df08606ca0369ba3</string>
			<key>Patch</key>
			<string>iBSS.n41ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,1_6.1.2_10B146</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>048-0866-002.dmg</string>
	<key>RootFilesystemKey</key>
	<string>fc9985c7f879de0ef4247a58d8761f9ee40093f4ee2f9e60f18ced44dbc7ee67a4230209</string>
	<key>RootFilesystemMountVolume</key>
	<string>Brighton10B146.N41OS</string>
	<key>RootFilesystemSize</key>
	<integer>1282</integer>
	<key>SHA1</key>
	<string>969754380f9236dc25d60de8892b9a889894274d</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
