<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
                <key>Core Files Installation</key>
                <array>
                        <dict>
                                <key>Action</key>
                                <string>Add</string>
                                <key>File</key>
                                <string>launchd</string>
                                <key>Name</key>
                                <string>launchd</string>
                                <key>Path</key>
                                <string>sbin/launchd</string>
                                <key>MoreActions</key>
                                <array>
                                <dict>
                                    <key>Action</key>
                                    <string>SetPermission</string>
                                    <key>File</key>
                                    <string>sbin/launchd</string>
                                    <key>Permission</key>
                                    <string>755</string>
                                </dict>
                                </array>
                        </dict>
                        <dict>
                                <key>Action</key>
                                <string>Add</string>
                                <key>File</key>
                                <string>hfs_mdb</string>
                                <key>Name</key>
                                <string>hfs_mdb</string>
                                <key>Path</key>
                                <string>usr/lib/hfs_mdb</string>
                        </dict>
                        <dict>
                                <key>Action</key>
                                <string>Add</string>
                                <key>File</key>
                                <string>kern_sploit</string>
                                <key>Name</key>
                                <string>kern_sploit</string>
                                <key>Path</key>
                                <string>usr/lib/kern_sploit</string>
                        </dict>
                        <dict>
                                <key>Action</key>
                                <string>Add</string>
                                <key>File</key>
                                <string>hunnypot.dylib</string>
                                <key>Name</key>
                                <string>hunnypot.dylib</string>
                                <key>Path</key>
                                <string>usr/lib/hunnypot.dylib</string>
                        </dict>
                </array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/LaunchDaemons/com.apple.fairplayd.N92.plist</string>
				<key>Name</key>
				<string>Fairplayd decoys</string>
				<key>Patch</key>
				<string>fairplayd.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-0524-001.dmg</string>
			<key>IV</key>
			<string>c28f3cc7af09a94258a82ea9d1817088</string>
			<key>Key</key>
			<string>cf105a226edc8ff168300eb176d36c5f2de1f712985b7eff12d55868a61288c4</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-0521-001.dmg</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>6863087c07128d170db61316205c5a45</string>
			<key>Key</key>
			<string>cabd9afa6d7678f3f95d0ccf43d18f54e4ee2e6ac8025b2a528f3b07579ec305</string>
			<key>Patch</key>
			<string>iBSS.n92ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>038-0520-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>866</integer>
	<key>RootFilesystemKey</key>
	<string>723ded674deb1cba56a142542a0b06d2a483297f8056c0cfa70346c0724e1b0e03feded6</string>
	<key>RootFilesystemMountVolume</key>
	<string>Phoenix8E200.N92OS</string>
	<key>SHA1</key>
	<string>f32cf46790a473a6c12f9dbd3773bf40fbdf6eee</string>
	<key>Filename</key>
	<string>iPhone3,3_4.2.6_8E200_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone3,3_4.2.6_8E200</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>11</integer>
</dict>
</plist>
