<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.p105</string>
			<key>IV</key>
			<string>038dced3c847bbb5cbe17c2dcd8f01fb</string>
			<key>Key</key>
			<string>7dfe7e87103effdb779d5ad51c5f25a7d30284cefa11095512c5431cf7bec8b5</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.p105</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-1096-002.dmg</string>
			<key>IV</key>
			<string>b4be858ec467d6f54ccc589a0f08729d</string>
			<key>Key</key>
			<string>3dbe80a491be07fb1708a1bd73098370c28991ea1ccb07e53246b360a6d9d1d5</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p105ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>678bcad19017e9950814d3f7887aaf98</string>
			<key>Key</key>
			<string>055b68e43619bf17c74e8e8e59c1c33d22d1001ad80b4acbfc3cb890a85c3a37</string>
			<key>Patch</key>
			<string>iBSS.p105ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p105ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>1cf8363a0c1a999254589aef60642b73</string>
			<key>Key</key>
			<string>8326b8d6c1def0120897c59841adc0f33f111b5f05ea3ff31d30dee745ff7440</string>
			<key>Patch</key>
			<string>iBEC.p105ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/DeviceTree.p105ap.img3</string>
			<key>IV</key>
			<string>b40736d1eb2debc846415e66ef7249ca</string>
			<key>Key</key>
			<string>0102ec80f81c5cd09c8c149a7792804b16f1d4dba00775552238e75d173222a3</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.p105ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>78db205861abc427b15620f643d31715</string>
			<key>Key</key>
			<string>78205c241c32e1fe0c07121c78c4a2f73fc4299084a78496d3c457eef1caeedc</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p105.plist</string>
	<key>RootFilesystem</key>
	<string>058-1110-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1496</integer>
	<key>RootFilesystemKey</key>
	<string>3c868510ffcaa5062c75f2d77d5cea4976380eb54405d3c5e143217285bdbdecf1067b34</string>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B554a.P105OS</string>
	<key>SHA1</key>
	<string>41301bbaea6d3bd1bca7f739bd84c4a9ceb98d0d</string>
	<key>Filename</key>
	<string>iPad2,5_7.0.4_11B554a_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,5_7.0.4_11B554a</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
