<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.s5l8920x</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8920x</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
			<key>IV</key>
			<string>ed019bb2f4f55e681723211e43cff726</string>
			<key>Key</key>
			<string>0ca1682b2c68e70af273680641c4980d527caccb876af37458bba20fbd2cced1</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
			<key>IV</key>
			<string>ad0e262f4cba68d6fe9d7089e94e3c05</string>
			<key>Key</key>
			<string>7ed397a83645c524e555cc1612b091d02b8d727ae87b4cc2fa9df7248bd41bc7</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.s5l8920x</string>
			<key>IV</key>
			<string>7b08e696f4ce3ff66c0f03614cb43843</string>
			<key>Key</key>
			<string>e4cc0a7a463008395192bd364d3ef882dbf77120f92a9d26db96f694dddc8d6b</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.n88ap.RELEASE.patch</string>
			<key>IV</key>
			<string>f6c407732804fde7baa6c18f4e9219b3</string>
			<key>Key</key>
			<string>3958c7975d357c09d5ae13d5824ecd7ba311d48e66e495cd9482bf541c23e17</string>
			<key>IsPlain</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-5352-086.dmg</string>
			<key>IV</key>
			<string>74b6379adc29a078a69c502bfc850b51</string>
			<key>Key</key>
			<string>cbc20b0045f8ee317b08f3481f4f255f77ab48745546c7095e8bbb696746638b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-5349-086.dmg</string>
			<key>IV</key>
			<string>05fbba6bfd7bca47827b866e80b1bd9e</string>
			<key>Key</key>
			<string>1e23357267715aaffdb0dfbaebd5ea6bea928414cce593a15ac3b27a4c629e7c</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>be27e0308bc2609dae706776d9b4ead1</string>
			<key>Key</key>
			<string>94f92412c804d39821b0f515a823669a1b6cf0e491b6737f29a6dc9a519f2be3</string>
			<key>Patch</key>
			<string>iBEC.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>421e5f0f481a3344c9f04c45a13482da</string>
			<key>Key</key>
			<string>b831608d0ff9f84d3c35d5c3849cd147808763646ce7695c8bbc39adccb112fb</string>
			<key>Patch</key>
			<string>iBSS.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>7018fa05ee1b3154bf9acb775c0a4ede</string>
			<key>Key</key>
			<string>a4360eed53aa2d69857148e047cc52d585b88736885cff4a3c48038b4202e303</string>
			<key>Patch</key>
			<string>iBoot.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
		<string>com.ripdev.icy</string>
	</array>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-5344-086.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>540</integer>
	<key>RootFilesystemKey</key>
	<string>B9CD10DD88AB615C1963E8AA04950B12DD64E0E5B11EA63C79A02AF6DB62334C710D21DA</string>
	<key>RootFilesystemMountVolume</key>
	<string>Northstar7C144.N88OS</string>
	<key>SHA1</key>
	<string>527c74f87588afa1d69c1e2c08eedc88f113013a</string>
	<key>Filename</key>
	<string>iPhone2,1_3.1_7C144_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone2,1_3.1_7C144</string>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-6609.20090909.mwws4/iPhone2,1_3.1_7C144_Restore.ipsw</string>
	<key>Platform</key>
	<integer>3</integer>
	<key>SubPlatform</key>
	<integer>4</integer>
</dict>
</plist>
