<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,3_8.1.3_12B466_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-11793-017.dmg</string>
			<key>IV</key>
			<string>027655a9befca9ed00c3e96bca3c296a</string>
			<key>Key</key>
			<string>e1234e750aa8a1cf164962f4be60746556ff750302d5fa1e0791ae0b28354f5a</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n48ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/DeviceTree.n48ap.img3</string>
			<key>IV</key>
			<string>b2c953505800c4ba77e08758521c5639</string>
			<key>Key</key>
			<string>e9102201e03e3bcc3cdd2fb1bfbffdeeeebb5534aa04f761437f251d33726d54</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n48</string>
			<key>File</key>
			<string>kernelcache.release.n48</string>
			<key>IV</key>
			<string>8e80bd8b2745eda31a161895ce729ed9</string>
			<key>Key</key>
			<string>8fcd17ae0279de70e0cf85667fc3f8eb68c1242b4744f0523a0fa78ac260616f</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>35d385d7bf22f7fa071f72f38e2c8bde</string>
			<key>Key</key>
			<string>d6fd175f1f3bae75721525d6d713a67d1c357af457cc7f00a218b23bfa05fc51</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n48.RELEASE.dfu</string>
			<key>IV</key>
			<string>2401227c60e4def66a1ccbbd2137f15e</string>
			<key>Key</key>
			<string>09b3e5a90f71efee42495208abfd71f28731bdba68fc82843c6e660aba0b459c</string>
			<key>Patch</key>
			<string>iBEC.n48.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n48.RELEASE.dfu</string>
			<key>IV</key>
			<string>dcf0f1dc92d042cefb01328c31e8f557</string>
			<key>Key</key>
			<string>38a866ec72c0cd1c7db3062781b620e9b0dec8066a6460aa46f175da9ba51eb9</string>
			<key>Patch</key>
			<string>iBSS.n48.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,3_8.1.3_12B466</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n48.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-12070-017.dmg</string>
	<key>RootFilesystemKey</key>
	<string>47bf46936045175541cb1e345c8976c83f8f9c1e14a81c2e5ac9f594dc5fbd2475754aa1</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUOkemoTaosTwo12B466.N48OS</string>
	<key>RootFilesystemSize</key>
	<integer>1971</integer>
	<key>SHA1</key>
	<string>a562e6527cf18ef50e5f5b1626514670e64e1abc</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>