<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>ad8128a46ca4833f6c837a74424a2242</string>
			<key>Key</key>
			<string>410bf9ef46bf53fe2f747a00428b332f994d3948ce37345d06f4a6d8c36f7271</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-3121-001.dmg</string>
			<key>IV</key>
			<string>9b56e41f100484ebaa6fe6c93346d342</string>
			<key>Key</key>
			<string>7e547306b1b6038967b5e7269ccb07bbf0c8612df2279b0f1a364926f26f2750</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>14ae9dd6ad593c53427a35c4d9ab5ce7</string>
			<key>Key</key>
			<string>3e11dbab958af42279bee7e15aabb0dd9061a7390f3f0e6f8d9b55926fc0c6a9</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>97167c44ca016f44730f325608328703</string>
			<key>Key</key>
			<string>591840b35fef3f82b578bce1697b9a13c720e76afc26525c6e1f6343147a90b3</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>37777202ed963a78005bbdfb2fc9192a</string>
			<key>Key</key>
			<string>bc870d009053f0af18959580f3639f784918950473c85c49a1c079301c10f548</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>0a255d591aa2120974a05b1507840dc9</string>
			<key>Key</key>
			<string>0c18a7bccaddf5728ed870f85af7de04c9caf3a880605043ab0dff86991f70a5</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RootFilesystem</key>
	<string>058-2387-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1589</integer>
	<key>RootFilesystemKey</key>
	<string>7dabfd01a114c1135abd4182a9679809b66b3df732070917af2c06c96c3c86fe86d7f565</string>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B651.N42OS</string>
	<key>SHA1</key>
	<string>5d053695d6423943f17a91efbdc17ca39df12c3b</string>
	<key>Filename</key>
	<string>iPhone5,2_7.0.6_11B651_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,2_7.0.6_11B651</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
