<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>058-2383-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1589</integer>
	<key>Filename</key>
	<string>iPhone5,1_7.0.6_11B651_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone5,1_7.0.6_11B651</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>SHA1</key>
	<string>0f47de2d381732bf2e463a3062abd2a58d05176e</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B651.N41OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>e6ff963b6caba7815bbb94257706f40788ee43e8177a7cc659e640d4428db822</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n41ap.RELEASE.patch</string>
			<key>IV</key>
			<string>f59920a3a2d15230e05f0ae6c07d45e1</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>4ec345782ee717f88c0dfaecc76bd7d655590c548c5898091b81f99facce143e</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n41ap.RELEASE.patch</string>
			<key>IV</key>
			<string>d0f0014ac1af45d128e80fdd02e0b1cb</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>Key</key>
			<string>3e27f8604ea10845fdb7a97537cf4e9a46116d32235304010f030de104551cab</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>241c2a455f1317e3e2ec27022561a901</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Key</key>
			<string>0c18a7bccaddf5728ed870f85af7de04c9caf3a880605043ab0dff86991f70a5</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>0a255d591aa2120974a05b1507840dc9</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-3121-001.dmg</string>
			<key>Key</key>
			<string>4d99aefbe5ee9845f21e702af287a1bfcd4b3597459330cfec857b526b55f125</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>7d200f5a2b6ccfcb9d90f59c0b73a65d</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>Key</key>
			<string>9d24f920814a9771546979fb441fff9c0b0bb520ad002a3dd6399ad9224594d7</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>a616849d6f6f07a4134582c8a3365f55</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>59f39fb3f79ee38e54a798148fb8284ef650c84ecab1337f13318dbaa3a225a4cbc827f8</string>
</dict>
</plist>
