<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n48</string>
			<key>IV</key>
			<string>30230d2c83c2eebafaa4d59ee577deef</string>
			<key>Key</key>
			<string>2bafde255dbb3816e86abb827030d6aab565c22014e37883cbdc6428bf72a2e1</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n48</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4357-009.dmg</string>
			<key>IV</key>
			<string>12db1f3cd5a1d8c36291ca5d12159812</string>
			<key>Key</key>
			<string>122e68d5005919ef12cc2faf8bbc090e88a2e62f1382f94f2b38ffdee2896406</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4276-009.dmg</string>
			<key>IV</key>
			<string>b2c9a993e0c2e5905993d95751d7e593</string>
			<key>Key</key>
			<string>47c69d148b1b091084c17044f605a7757e3a8fe03c87f5a632faa9ade0cb330f</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>7456fc0204f434d7f2a56385668f85aa</string>
			<key>Key</key>
			<string>c32c235edc8d29436d3c5a5f6d0607b97c70af3e2c68a7cbef0e60115baae06e</string>
			<key>Patch</key>
			<string>iBSS.n48ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>91302d8a02ba87a006633a8b11eb1f8d</string>
			<key>Key</key>
			<string>456ed22121c84c411d44bbb689f925b906019491cc2529150eaef0da9c59dbc3</string>
			<key>Patch</key>
			<string>iBEC.n48ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/DeviceTree.n48ap.img3</string>
			<key>IV</key>
			<string>1a0be99352bd472c1045d7da794f2413</string>
			<key>Key</key>
			<string>5c349354157f1456c20439f3427234c9981bab795ac7a78ca2ffa55663a401c6</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n48ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>9e81e7de70555a77c8ca9ee14d00420b</string>
			<key>Key</key>
			<string>89e683b3820c83b0971e46c28ef3f11e851a4907b85bedffa14c4ccde8e5736c</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n48.plist</string>
	<key>RootFilesystem</key>
	<string>058-4139-009.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1665</integer>
	<key>RootFilesystemKey</key>
	<string>caaa25959d0b0dcdad4dcacee631ad072928a6a992142f5b1458dd85aa705f8378cd89b7</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sochi11D257.n48OS</string>
	<key>SHA1</key>
	<string>8042b1c7fc02ad80a511f23dfd9091773ee11fc9</string>
	<key>Filename</key>
	<string>iPhone5,3_7.1.2_11D257_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,3_7.1.2_11D257</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
