<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.p105</string>
			<key>IV</key>
			<string>e8568cb1b9a1928d486ec6f23ff62153</string>
			<key>Key</key>
			<string>308d0bb3e558a7c98366a5dafa28195b7806ffdbb0aa3194d7e42388fa120cde</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.p105</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-15872-140.dmg</string>
			<key>IV</key>
			<string>5a28b116da8ee36681834b0eb4b6457f</string>
			<key>Key</key>
			<string>7827412299a87592ad9910ed0ffb0a2c2507bb1f607e377834ed063500349494</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p105.RELEASE.dfu</string>
			<key>IV</key>
			<string>f5a6eb81155778d58ea95ee47d3bf655</string>
			<key>Key</key>
			<string>7fbab8c450c6ae24cd558b141ac815bf0a45549bd7ef7f56d418b5ca0a00d399</string>
			<key>Patch</key>
			<string>iBSS.p105.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p105.RELEASE.dfu</string>
			<key>IV</key>
			<string>e5c9b53df33fb87af4de95075b73e930</string>
			<key>Key</key>
			<string>5c433b258d030e7d6a3a479778b63db0fcdc403771f08fe8edb9bedb5de422bb</string>
			<key>Patch</key>
			<string>iBEC.p105.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/DeviceTree.p105ap.img3</string>
			<key>IV</key>
			<string>6d647a7445e53be053e37a986a0d03cd</string>
			<key>Key</key>
			<string>910b47d48562f88eeabff1e4eaaa21cd8a2f7203fa2cb2810ffa5cacd178c024</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.p105ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>16a638317198a9f960ec57ec669e8490</string>
			<key>Key</key>
			<string>b12dd2096902d2ba57e5e061bdc43fa2680203b7317d7fbda82da3765f951946</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p105.plist</string>
	<key>RootFilesystem</key>
	<string>058-15898-139.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1955</integer>
	<key>RootFilesystemKey</key>
	<string>a57aee7799db6effe612cf12709da12f107bfb9a81ce52a3475cc36d78840ddeebeacde8</string>
	<key>RootFilesystemMountVolume</key>
	<string>Copper12H143.P105OS</string>
	<key>SHA1</key>
	<string>bf32bfbcd860e4d02631396bed6f55f3f0f6fef0</string>
	<key>Filename</key>
	<string>iPad2,5_8.4_12H143_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,5_8.4_12H143</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
