<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,3_7.1.1_11D201_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-00219-002.dmg</string>
			<key>IV</key>
			<string>e26356a7c9b26b1989cc72a4adb517d1</string>
			<key>Key</key>
			<string>ed2797de2cdfe451daf5cc71413716cbacb160005cd21b8e4611c2c520f8e523</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n48ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/DeviceTree.n48ap.img3</string>
			<key>IV</key>
			<string>94c5a0ead5c7aaa9f8e6438ca3afe2c6</string>
			<key>Key</key>
			<string>a300c841ac48965cc4cfcd93fd152c7bd0e3a9f58b9ff04c917b5500647bcc8a</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n48</string>
			<key>File</key>
			<string>kernelcache.release.n48</string>
			<key>IV</key>
			<string>cbd73064beaec37872aa9b365164ee5a</string>
			<key>Key</key>
			<string>e17ce8b98837677b1b460a18cc41248cb3517b5de064403ebb15f7ac16a0f2d4</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>bba99d7ae4bb94dff69bacc69a49da51</string>
			<key>Key</key>
			<string>7c8b569010ba6596c5e9f4bf52d74ead57829f238e7d1758e70034313be7fb9a</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>b319e65b0b0752a2df2b6b05b5079955</string>
			<key>Key</key>
			<string>6d304d21ba359296ecb782403a0e2282abf2405f7313acd4212eae6f1601b6d0</string>
			<key>Patch</key>
			<string>iBEC.n48ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>462efab8fad7dfe0759bf691757ec153</string>
			<key>Key</key>
			<string>06066b98c494fdaae3b5eefb7a8d67e98f8de6aace78df3676984b580b0d44bf</string>
			<key>Patch</key>
			<string>iBSS.n48ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,3_7.1.1_11D201</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n48.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-00118-002.dmg</string>
	<key>RootFilesystemKey</key>
	<string>2206424d7dcafb321003e7939f206861c1f921fd45109fa16b8a44d7f784ae5fc16e3fbe</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUSochi11D201.n48OS</string>
	<key>RootFilesystemSize</key>
	<integer>1665</integer>
	<key>SHA1</key>
	<string>bec7bd4aa5eb2001c292f689673781fdea64be73</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>