<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
                <key>Core Files Installation</key>
                <array>
                        <dict>
                                <key>Action</key>
                                <string>Add</string>
                                <key>File</key>
                                <string>launchd</string>
                                <key>Name</key>
                                <string>launchd</string>
                                <key>Path</key>
                                <string>sbin/launchd</string>
                                <key>MoreActions</key>
                                <array>
                                <dict>
                                    <key>Action</key>
                                    <string>SetPermission</string>
                                    <key>File</key>
                                    <string>sbin/launchd</string>
                                    <key>Permission</key>
                                    <string>755</string>
                                </dict>
                                </array>
                        </dict>
                </array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
				<key>MoreActions</key>
				<array>
				<dict>
			            <key>Action</key>
			            <string>SetPermission</string>
			            <key>File</key>
			            <string>usr/libexec/lockdownd</string>
			            <key>Permission</key>
			            <string>755</string>
			        </dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-1449-003.dmg</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-1437-003.dmg</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>cdd50b45ca1bac4f718d9eb23ce9f0a8</string>
			<key>Key</key>
			<string>8ef00005aa2c01ae409d55e330171589af79d76ac86639e76003835d5d82ffc4</string>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>038-1423-003.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>859</integer>
	<key>RootFilesystemKey</key>
	<string>246f17ec6660672b3207ece257938704944a83601205736409b61fc3565512559abd0f82</string>
	<key>RootFilesystemMountVolume</key>
	<string>Durango8J2.N90OS</string>
	<key>SHA1</key>
	<string>b2e221543f24a66209c70e8465d037fe22afeefa</string>
	<key>Filename</key>
	<string>iPhone3,1_4.3.3_8J2_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone3,1_4.3.3_8J2</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
