<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>NoReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.n90</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<!--key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>afce264ccb21c493139317fff62e0fa5</string>
			<key>Key</key>
			<string>aee1c0b20c11c0ae764e07e6a5bc0e4b0c4995e59fae7316b444b9f8a6808d97</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict-->
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-1086-002.dmg</string>
			<key>IV</key>
			<string>108cda04886217dee8ccffe3ca1b530b</string>
			<key>Key</key>
			<string>8e93144724729b4ea7f49c182bf017a583049875c02480d2b873fa756928331c</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-1056-002.dmg</string>
			<key>IV</key>
			<string>3707bcd41bbf11af597e1844fe0bd964</string>
			<key>Key</key>
			<string>cbb0869204367e5d69a2ad8b75a4546afcebc1417ce8bb1d5bae5027bbbf5f01</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>531f37b0f6f2afbf28ebb6ede5fb6f21</string>
			<key>Key</key>
			<string>44c2233bc06d03514fb36430de396950dd5f89bfda9742045a933bf60570927c</string>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>55d8910130a73f430a513b783509eeae</string>
			<key>Key</key>
			<string>8a139440bf43769da1d46b965e4a40d318128561b6538529c1fc0661bcb2d019</string>
			<key>Patch</key>
			<string>iBEC.n90ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>my.activation.ticket</string>
		<string>com.evasi0n.jailbreak</string>
		<string>org.ultrasn0w.unlock</string>
	</array>
	<key>DeleteBaseband</key>
	<string>Firmware/ICE*</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n90.plist</string>
	<key>RootFilesystem</key>
	<string>058-1139-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1512</integer>
	<key>RootFilesystemKey</key>
	<string>252d81c8cbc9f645ca46635c0a554dbc5e9841578bed978902f385aa382f5182ac580ba3</string>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos.N90OS</string>
	<key>SHA1</key>
	<string>964c2e3e152cc4ca3efe4cedbc71aa7b06350555</string>
	<key>Filename</key>
	<string>iPhone3,1_7.0.4_11B554a_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone3,1_7.0.4_11B554a</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
