<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
	        <key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>jb.plist</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/jb.plist</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>payload</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/payload</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>payload-vars</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/payload-vars</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>racoon-exploit.conf</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/racoon-exploit.conf</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>sysent_1c50</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/sysent_1c50</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>vnimage.clean</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/vnimage.clean</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>vnimage.overflow</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/vnimage.overflow</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>vnimage.payload</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/vnimage.payload</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>launchd.conf</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/etc/launchd.conf</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/sbin/racoon</string>
				<key>Name</key>
				<string></string>
				<key>Patch</key>
				<string>racoon.patch</string>
				<key>MoreActions</key>
				<array>
				<dict>
			            <key>Action</key>
			            <string>SetPermission</string>
			            <key>File</key>
			            <string>usr/sbin/racoon</string>
			            <key>Permission</key>
			            <string>755</string>
			        </dict>
				</array>
			</dict>
		</array>
	        <key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/locationd</string>
				<key>Name</key>
				<string>Locationd Patch</string>
				<key>Patch</key>
				<string>locationd.patch</string>
				<key>MoreActions</key>
				<array>
				<dict>
			            <key>Action</key>
			            <string>SetPermission</string>
			            <key>File</key>
			            <string>usr/libexec/locationd</string>
			            <key>Permission</key>
			            <string>755</string>
			        </dict>
				</array>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
				<key>MoreActions</key>
				<array>
				<dict>
			            <key>Action</key>
			            <string>SetPermission</string>
			            <key>File</key>
			            <string>usr/libexec/lockdownd</string>
			            <key>Permission</key>
			            <string>755</string>
			        </dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-3713-001.dmg</string>
			<key>IV</key>
			<string>ed03628b68b98887702ef6ef277f2b48</string>
			<key>Key</key>
			<string>18c6320fee6ce45a7983f4ed9aeb8eed90c08c05cc0d406a207d3c1ccf3587b3</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-3710-001.dmg</string>
			<key>IV</key>
			<string>9d0286d2433deb6b8f8a420c1f448b40</string>
			<key>Key</key>
			<string>8e83e55d68083cf9aaf6a546a7cb092a23fd03fdea36a1324221222a67cf9928</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>10b618d7d5731e326b018e95de6b8554</string>
			<key>Key</key>
			<string>34a2126f10e985c36f8d3aa9fee1210fb21eff5fb00b92312df6d83e5e5c22a1</string>
			<key>Patch</key>
			<string>iBSS.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>27eddd5c22cff6a32d02ac99669f8395</string>
			<key>Key</key>
			<string>98299b12ee0eafe9028c2af13a2a5da96678848c0c2cf068ea3af269f5332985</string>
			<key>Patch</key>
			<string>iBEC.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n88.plist</string>
	<key>RootFilesystem</key>
	<string>038-3697-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1175</integer>
	<key>RootFilesystemKey</key>
	<string>afde073c5b7a637f0a40b37c7b59f22836074d1f1ec8e85f05573da87da77629624179b4</string>
	<key>RootFilesystemMountVolume</key>
	<string>Telluride9A405.N88OS</string>
	<key>SHA1</key>
	<string>647e869bd1ba0de616082611131c541bac5bd088</string>
	<key>Filename</key>
	<string>iPhone2,1_5.0.1_9A405_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone2,1_5.0.1_9A405</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>5</integer>
</dict>
</plist>
