<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>038-9663-003.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1280</integer>
	<key>Filename</key>
	<string>iPhone5,1_6.0.2_10A551_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone5,1_6.0.2_10A551</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>SHA1</key>
	<string>b68b927f245ce8b6ab7c3ff88ac2f9e2fbf2fe6b</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>Sundance10A551.N41OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>2507c3729aebb9bfcd2ae4a8ed6117dd27dc37b661d9a580cf6a0b66461af8f5</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n41ap.RELEASE.patch</string>
			<key>IV</key>
			<string>5c0f74824dc120f9956f78af174c6a7c</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>a50adc9acafa3a5e3fe4e33300378d607bf9d52204678eb893db8937c823088d</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n41ap.RELEASE.patch</string>
			<key>IV</key>
			<string>a444d65e76c1367b9005879596995b86</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>Key</key>
			<string>22e2ba86411de61bd60a40321e80b30445e4834e51231bd3aa16f3cb517c0ba8</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>c6299e9be6a9378b1091c42e19974820</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x.s5l8950x.img3</string>
			<key>Key</key>
			<string>6127304e4efee11d6c4f369cc43395c2bf40a0c068045d8a99d3f6294159c086</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8950x.img3</string>
			<key>IV</key>
			<string>328e282c9e60a9380b92845a22894cf1</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-9066-004.dmg</string>
			<key>Key</key>
			<string>d9d1a3ba58d11d9cf3c90539f4e2b692b5696bbd2b255e014efa3358a4669e27</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>e7e7c81aba2bf450fe0e0d63a9852b12</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>Key</key>
			<string>7b6cbcbd10777a4a7cb5f8cab8fd527e26dc0d5542f0b83b07ea425c73226f74</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>d071bf96a5ce955b7b492f075be9f340</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>8a5c66595177ead41647820036313ab54c446d2be4ea1a0e6beb8932c2d6365c2d278404</string>
</dict>
</plist>
