<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone4,1_8.2_12D508_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-06667-149.dmg</string>
			<key>IV</key>
			<string>3ab071e1cb61e3ba93fae2a8544784dc</string>
			<key>Key</key>
			<string>1accb4995743638b29e5a9b499868e6425129e14d2327606d36ed68c432cd009</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>1edd6219c2be5700661dc5f167f5b734</string>
			<key>Key</key>
			<string>a9efbefa63ef9a8fc776010ea6862358cc41a65bf01c7ee014ab1c1935a2618c</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>cd5f4accf259d7032cf100367d946695</string>
			<key>Key</key>
			<string>5a44fdc947b7e494c15ec8767804979f69b0671fda5c2ee719d2dd543c58b5a4</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>a557e6f832684894944588c2ff40a8fd</string>
			<key>Key</key>
			<string>af286fc79e0bbe558516c5b89bd78489a6514a01424ecabbb0c454c88427552d</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>70e06e042bf4fb71b986b35e4f3ffabc</string>
			<key>Key</key>
			<string>f7f7154e4135eb84863a3fdc423c984c695cb8641852b0ca27da1fca74950b01</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>597baa1c8c01eeb099636cd6379948a9</string>
			<key>Key</key>
			<string>69d577fc46d3458f8d56de96676264e5eb7026c4dc4ee8b0dad2f930f91c8f56</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone4,1_8.2_12D508</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-06753-149.dmg</string>
	<key>RootFilesystemKey</key>
	<string>2761fabe87d8691aeed3961d1034f7c2108a5576754beb47f2cb99e98f8af9ab533c4817</string>
	<key>RootFilesystemMountVolume</key>
	<string>OkemoZurs12D508.N94OS</string>
	<key>RootFilesystemSize</key>
	<integer>2001</integer>
	<key>SHA1</key>
	<string>926ba7adb8624022cd41d313f1a5748e9845ff6e</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
