<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>3a19c52b00fc3e07b9eaaa28b3bfb980</string>
			<key>Key</key>
			<string>31451444df3c7fcbbee9b87d40c62a5e901b3a12a64a6bfeefd509ed650ca9bd</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-25684-330.dmg</string>
			<key>IV</key>
			<string>9da86bac97be6eb5f8b210431a52028c</string>
			<key>Key</key>
			<string>824ce46957248056c096c4f6c9467e13c2a5e60fa8267476c389592f8b53acb1</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-25712-330.dmg</string>
			<key>IV</key>
			<string>0525116e2fbec7acfbcfc8d16d21c866</string>
			<key>Key</key>
			<string>203bbd17ca6057c79e177f0ef1e3df34d1715f757f7b4d7b715a778ec6338851</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>6b1bf14f37357ce1fe3018d8843d53b8</string>
			<key>Key</key>
			<string>cd0fb31a6891f1f606c393e91cff6a7ef48b6423bf6886302869f5da304a829a</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>dd6d06ac438582364e44e333bb4246b9</string>
			<key>Key</key>
			<string>4ac12fe923e92dace25a613530565b9b9f90c6ae81f49b5eb35376cc4dac083b</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>24e84bf536551c93c4d738565045b181</string>
			<key>Key</key>
			<string>450236ac1f07f7edecb3fbcc55af4d3d5239f3013835d9f4cf6bb3ab138946b8</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>37916a8bfcf7e917067f80d60fba79b7</string>
			<key>Key</key>
			<string>ac208d67459dae9c7d3c132e10ef1f1782b9e467605e50428af122cd286af4ea</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>058-25522-330.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2016</integer>
	<key>RootFilesystemKey</key>
	<string>7b88d42e0ab95a6324768c204c25a920381b90abe28d76fc52a3faf2b3525cc6d1b3c904</string>
	<key>RootFilesystemMountVolume</key>
	<string>Eagle13E233.N94OS</string>
	<key>SHA1</key>
	<string>989b535c7c5266f215752f3ac4de5a5f85e95784</string>
	<key>Filename</key>
	<string>iPhone4,1_9.3_13E233_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_9.3_13E233</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
