<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,2_6.0_10A405_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-6463-002.dmg</string>
			<key>IV</key>
			<string>0134ed5be7c03cefa7f64b6efd680c2f</string>
			<key>Key</key>
			<string>ee79936acaab7c59cf7c34dc1338a7ab75e85fe9040a72597d3cd28dc4c5ce19</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>ed55f52a765a12b675c04000eeac5a23</string>
			<key>Key</key>
			<string>96b128e7b2262a3da38209a2bd00851a97e217483c5a47d24cbff331d3a3b903</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>2dbea4c65d1988f491fe777325e4fd41</string>
			<key>Key</key>
			<string>827a9388f026985054343b2c09eda78d82afb61c90de11c360c3275fea126ba7</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x.s5l8950x.img3</string>
			<key>IV</key>
			<string>5458f2dce1333bfc5e0bd1aae814f089</string>
			<key>Key</key>
			<string>a64a7e657f574100abef63a64101b076d67394b08d4ce99ef6f99b88cba629c0</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>e0e779d7b6a0d2e08f5cdce3d9fe0261</string>
			<key>Key</key>
			<string>837af1be9405f362e1d7d46dc39032971005c9ae7eddf48f139e49e9e203a4bf</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>1e8e163389e73064096950c3e9a511af</string>
			<key>Key</key>
			<string>4dc9623f604ed09dd0d92eabab7f960534bf71df9d9c575a1c69a9c994b231d8</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,2_6.0_10A405</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-6488-002.dmg</string>
	<key>RootFilesystemKey</key>
	<string>38c040cba2b2c23d4096fdb57512fa78455f0a9521d4160641afb456fe87c246b27aed2d</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sundance10A405.N42OS</string>
	<key>RootFilesystemSize</key>
	<integer>1280</integer>
	<key>SHA1</key>
	<string>bd86f460ffcb0a7d198ab1db591335e832593dc1</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
