<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,4_8.4_12H143_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-15840-139.dmg</string>
			<key>IV</key>
			<string>3e670a97ca30fff9b9d7853950d984ec</string>
			<key>Key</key>
			<string>340ffb4518fe831ff0dbc4f38a0e28727394a0d1f08bda5355c581bd36984566</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n49ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/DeviceTree.n49ap.img3</string>
			<key>IV</key>
			<string>1f72e6860cf56e705f17199b980b4632</string>
			<key>Key</key>
			<string>17c853bacea820f7f438c6f15b3aa4e7c77a31c04aa6315e4f63f0d9f82b5f66</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n49</string>
			<key>File</key>
			<string>kernelcache.release.n49</string>
			<key>IV</key>
			<string>f04dda2f63b86c1cc1810dc6b6e05068</string>
			<key>Key</key>
			<string>74ca6c623e1125b4e6fe20795a9d97e2293712d3c36a9135fbf7f0707e466a37</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>95060c517c02d434b437e8f16069f46f</string>
			<key>Key</key>
			<string>55f096d0d3fe9444925bce54ed393290a604161f4d578b73be31c6880d8dc5da</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n49.RELEASE.dfu</string>
			<key>IV</key>
			<string>954d41246a090d7e72335c4ff3b1bf76</string>
			<key>Key</key>
			<string>cc565373ddd9ee6fe56108144d8596a6dc85ee17369e492cc28a9f6cf4a1efc8</string>
			<key>Patch</key>
			<string>iBEC.n49.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n49.RELEASE.dfu</string>
			<key>IV</key>
			<string>26edf13103120da668a73545dd1400f3</string>
			<key>Key</key>
			<string>dbdca8e47bf7a60e9bded1e175e0e0c7243a2840b7aaf9c1eef1f09afe02d0fd</string>
			<key>Patch</key>
			<string>iBSS.n49.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,4_8.4_12H143</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n49.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-15897-139.dmg</string>
	<key>RootFilesystemKey</key>
	<string>1b6779b669b510587759cc9822f48bbabc9d5fec238fea652d0582073694b81db2e1d699</string>
	<key>RootFilesystemMountVolume</key>
	<string>Copper12H143.N49OS</string>
	<key>RootFilesystemSize</key>
	<integer>2068</integer>
	<key>SHA1</key>
	<string>7e32cfb799c6d434780010752852b82a54b763c7</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
