<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>148239aae108ba69f0ffcd5661d50552</string>
			<key>Key</key>
			<string>547208b8a96dff2d305e187414ea4048352e4a935bc821d7dd5de87b36e99591</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-0174-001.dmg</string>
			<key>IV</key>
			<string>4a9603aaaa5f4b43259b6c39f43a82e2</string>
			<key>Key</key>
			<string>b5c0e22b25b66a085aff62d086bcd5f1825f37951189bdaa8e093ba8af41bc22</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>308b316baf12e3f6525db7ae57d19cf3</string>
			<key>Key</key>
			<string>dc58fdc2486bc4e0e0f4797804467aa4df9cad65aacc2d5d7814aeac49dc8f60</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>aae81b3543ac4cf5ebaeb1ed1ef3e7cf</string>
			<key>Key</key>
			<string>a2ef7e9bedd6dddd0893639f3b299d205286e0da8d0ba67ce4d2f28b64a97124</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>4ca82ffbd45c9f8c897c6a4e4e2aaf89</string>
			<key>Key</key>
			<string>5e5a36b8f1b528c98f989b8e3d474fa7a501f126697161732a1f597375ac70cb</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>fb2aa8a900e618bce5717ce2431afbd6</string>
			<key>Key</key>
			<string>3dcf7e393d774b30b4f3cc2d09117a47ca0f36d7104ec46c2efdaccd2972bf62</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RootFilesystem</key>
	<string>058-0215-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1589</integer>
	<key>RootFilesystemKey</key>
	<string>c67678c6cbf68b27f840554f57b620cd12ee996e4ff4a32360bb4cfbb41084ceaef9902e</string>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B511.N42OS</string>
	<key>SHA1</key>
	<string>8914b74051935633c846f630a3c99f38d0e4815b</string>
	<key>Filename</key>
	<string>iPhone5,2_7.0.3_11B511_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,2_7.0.3_11B511</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
