<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>93502beb627042937da67d7e87152f0a</string>
			<key>Key</key>
			<string>10bbfca165c18c17a2f7830eb42757eb2a892a24c4e291a58b60e399c88cd088</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-3390-250.dmg</string>
			<key>IV</key>
			<string>49e947a1300b562736dbe79c9492ba16</string>
			<key>Key</key>
			<string>3b0aebad9a9a1b67206e7699bd4d11c6f2e658746fd1196969197d39fd00a6b5</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-3465-251.dmg</string>
			<key>IV</key>
			<string>f704eb1b687cc331d6a841ed3a22cca3</string>
			<key>Key</key>
			<string>2c60154dae75e45ef379635a7e85bbf2f516cb72bf8a63907dfb08587f2476ff</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>76e3553fd531fb83d3dd680c429b8fe9</string>
			<key>Key</key>
			<string>1cc8396573899896fa808470dc286202da56e2e9be3f8565e3b3997b4c7796a8</string>
			<key>Patch</key>
			<string>iBSS.n94ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>1ef2a4ddcbc041ef2caef09071f01995</string>
			<key>Key</key>
			<string>0d479c586400f7a0f015840b329422860009a97e32203e3117b9016290153071</string>
			<key>Patch</key>
			<string>iBEC.n94ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>7b71fdf4b79b4e5d03f48052fd0d23bc</string>
			<key>Key</key>
			<string>cd502ea50f6569a94320466cc5490cbd3cdc74b6e552d05146aec9fc0e5726ab</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>c6cfc861039ffa6b7df42d56eba4937e</string>
			<key>Key</key>
			<string>90ade5c83cdffe311b46ca892ae9a40337469cdcf72a7294fd79ffb6058b4830</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>038-3456-396.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1572</integer>
	<key>RootFilesystemKey</key>
	<string>c48e7ca8e80ad69ad15cc8738cd51fbaddabf5b3255eb38ebf31f01da912e192363bcff4</string>
	<key>RootFilesystemMountVolume</key>
	<string>Innsbruck11A465.N94OS</string>
	<key>SHA1</key>
	<string>b4e6627c3de97405e04e5dc122834082ab386a13</string>
	<key>Filename</key>
	<string>iPhone4,1_7.0_11A465_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_7.0_11A465</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
