<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,4_7.1.1_11D201_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-00219-002.dmg</string>
			<key>IV</key>
			<string>088220ac3e4ba10bdaee00a3ce9e20b8</string>
			<key>Key</key>
			<string>6813a30dd6c0f135e74299e87f31fc00910f02428890707914c2592ffe2fa2d1</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n49ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/DeviceTree.n49ap.img3</string>
			<key>IV</key>
			<string>5b1dfa071c3841604a5f6543ec673f16</string>
			<key>Key</key>
			<string>5ee6524d257cee41959f8c9ab00bf77d764d743494da5c7267b1ff364e2a36cc</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n49</string>
			<key>File</key>
			<string>kernelcache.release.n49</string>
			<key>IV</key>
			<string>f8edfce8d069778f330ce796efc51b9f</string>
			<key>Key</key>
			<string>ad8c378279906851dcee4a3834772c9964cbce514547e3dc67d41356ce8504dd</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>bba99d7ae4bb94dff69bacc69a49da51</string>
			<key>Key</key>
			<string>7c8b569010ba6596c5e9f4bf52d74ead57829f238e7d1758e70034313be7fb9a</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n49ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>468563ce00e60cf3f3ec122f92ee4820</string>
			<key>Key</key>
			<string>4e0b871c397319368659e4036207602f9a2d27ab2e72c72a18e9636bd64e5388</string>
			<key>Patch</key>
			<string>iBEC.n49ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n49ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>0a5dc2e597ced4d908c41fb608e8dad1</string>
			<key>Key</key>
			<string>db2dddd4013335cc835a7b39c3eb9bde0af88b78fd4670617f91c3e0a1921edd</string>
			<key>Patch</key>
			<string>iBSS.n49ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,4_7.1.1_11D201</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n49.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-00296-002.dmg</string>
	<key>RootFilesystemKey</key>
	<string>f8bdb043ca23571c2308040a269518bbb1f07cfe38fe76cbb6ffc14c42d6b84de8ea54d2</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUSochi11D201.N49OS</string>
	<key>RootFilesystemSize</key>
	<integer>1665</integer>
	<key>SHA1</key>
	<string>c55aa2c3b1a0d23a65bfe6cec62a38ef0efe225a</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>