<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,4_8.1.1_12B435_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-09687-016.dmg</string>
			<key>IV</key>
			<string>844b693351e26cae40ce1ed226d8dc3b</string>
			<key>Key</key>
			<string>f5cfc05f1e41cf6cf8557ad27380f43422b5ebcd0d6eaca9e0195bb4679f9d37</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n49ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/DeviceTree.n49ap.img3</string>
			<key>IV</key>
			<string>2f161399b1dfd1c7164c50c40c228634</string>
			<key>Key</key>
			<string>eb883df635830e4c549ba63290858a3c66719d3a5db136b5f83015e04d79ab57</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n49</string>
			<key>File</key>
			<string>kernelcache.release.n49</string>
			<key>IV</key>
			<string>931920a5b325a18e025c07a73f069c54</string>
			<key>Key</key>
			<string>b762d3704e7dd7c5c188681ea624c0dc8b83adfd345a51bbf94951107dfd63cd</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>0f26e4182ed76e6f2465e372f70b2d94</string>
			<key>Key</key>
			<string>087b3b6f0a7b36f715ba28a32c1faf68d3c37bd50f03bf2e60eaeb2a6c6fdc3c</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n49.RELEASE.dfu</string>
			<key>IV</key>
			<string>659abd575726c27501989388eae8ef73</string>
			<key>Key</key>
			<string>0afcf83bdeaa78a15834dbd5d6d13ae5f966d220c082cc9491cba397e8ede534</string>
			<key>Patch</key>
			<string>iBEC.n49.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n49.RELEASE.dfu</string>
			<key>IV</key>
			<string>39495db41d8df4e6f7a0704adf2f0797</string>
			<key>Key</key>
			<string>09379ddfc77bb6f90aa42838de28fc3f1f2d6fba546ad3c167c9cb9190d01df0</string>
			<key>Patch</key>
			<string>iBSS.n49.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,4_8.1.1_12B435</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n49.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-09782-016.dmg</string>
	<key>RootFilesystemKey</key>
	<string>76de9864e3834fb87476fc89f70300a3dd068ad2759f8e1dcfb145e493d1015c1609c2c6</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUOkemoTaos12B435.N49OS</string>
	<key>RootFilesystemSize</key>
	<integer>1971</integer>
	<key>SHA1</key>
	<string>b87a2c6f427950c6547a9ae4b60ec77453db0e9a</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
