<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.p105</string>
			<key>IV</key>
			<string>750ad23b0cec03eee69bd5948afe6a08</string>
			<key>Key</key>
			<string>0a547387ea55999ec45c77e8cbcf7d924f8bb706ecfe4950d2276e0780d6d343</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.p105</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-37626-072.dmg</string>
			<key>IV</key>
			<string>1ee344babcac2d44d575c2801afc2fd5</string>
			<key>Key</key>
			<string>6d12105988d7b287881974029ce8e2614e62966832de05c8d97ae120e2a19856</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p105.RELEASE.dfu</string>
			<key>IV</key>
			<string>da963ef6412bc4e558fbd777d7ac21c2</string>
			<key>Key</key>
			<string>0c4d79777c107bcc509a67b9a344ab41303a7a813f265c194cf8e26164670a91</string>
			<key>Patch</key>
			<string>iBSS.p105.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p105.RELEASE.dfu</string>
			<key>IV</key>
			<string>43bf40d89834adfd470bb2e34f0e2b5c</string>
			<key>Key</key>
			<string>f3410b0e901edeb3f10dcee95227df24c7c0208e5bd4c7425a3c1565a62822aa</string>
			<key>Patch</key>
			<string>iBEC.p105.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/DeviceTree.p105ap.img3</string>
			<key>IV</key>
			<string>1b54af04ec54602b0024b6750921464b</string>
			<key>Key</key>
			<string>cafaf7579529e65dc8f0d8cbfbb2e81cabae2294fd0cd4a9fec1f4809b1dc660</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.p105ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>055fc1f3bebcbd7f0777412883c5152f</string>
			<key>Key</key>
			<string>1acad4a7a3ce8d9236f6b9cf5e9f08df6288d61ef4c573e354c80a344cc32b15</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p105.plist</string>
	<key>RootFilesystem</key>
	<string>058-36785-072.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1945</integer>
	<key>RootFilesystemKey</key>
	<string>20a229b810a233246dd50db3dc4113fb798b48a07b882916230c3abba6d74a8b89f2829d</string>
	<key>RootFilesystemMountVolume</key>
	<string>Frisco13F69.P105OS</string>
	<key>SHA1</key>
	<string>68fb69c2d6eba528923080a03e9916c582ec3d95</string>
	<key>Filename</key>
	<string>iPad2,5_9.3.2_13F69_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,5_9.3.2_13F69</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
