<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
	        <key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>jb.plist</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/jb.plist</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>payload</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/payload</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>payload-vars</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/payload-vars</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>racoon-exploit.conf</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/racoon-exploit.conf</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>sysent_1c50</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/sysent_1c50</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>vnimage.clean</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/vnimage.clean</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>vnimage.overflow</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/vnimage.overflow</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>vnimage.payload</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/vnimage.payload</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>launchd.conf</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/etc/launchd.conf</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/sbin/racoon</string>
				<key>Name</key>
				<string></string>
				<key>Patch</key>
				<string>racoon.patch</string>
				<key>MoreActions</key>
				<array>
				<dict>
			            <key>Action</key>
			            <string>SetPermission</string>
			            <key>File</key>
			            <string>usr/sbin/racoon</string>
			            <key>Permission</key>
			            <string>755</string>
			        </dict>
				</array>
			</dict>
		</array>
	        <key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-3715-001.dmg</string>
			<key>IV</key>
			<string>02d55437d1fd7c9d24aeb312a78dbd49</string>
			<key>Key</key>
			<string>3aeab4ceb61e011f3013873998bfcf01c585bb548f91e19c9085473f93f6a708</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-3711-001.dmg</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>f12c8bac769bc818db694a4e4ce431a5</string>
			<key>Key</key>
			<string>ba01d8cc57ecb0e6ac5760efc8a3b007c45e58c4b97aed78d34b8f2a4ad12822</string>
			<key>Patch</key>
			<string>iBSS.n92ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>12a4ef7d5541c6a7aacbee76aaba93d0</string>
			<key>Key</key>
			<string>a53678bb23ac9782c6dc5a9c41276d79be63ce7e270b717c2ec2a309b98dfbce</string>
			<key>Patch</key>
			<string>iBEC.n92ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n92.plist</string>
	<key>RootFilesystem</key>
	<string>038-3704-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1012</integer>
	<key>RootFilesystemKey</key>
	<string>36895be7d36aa1415695ec3cd7d33ccf9b088bfc179d48f4d8fc5fd220a2c6f07c9b76d2</string>
	<key>RootFilesystemMountVolume</key>
	<string>Telluride9A405.N92OS</string>
	<key>SHA1</key>
	<string>81afa9d2079a7153e5d27e30f1f08e7c53074591</string>
	<key>Filename</key>
	<string>iPhone3,3_5.0.1_9A405_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone3,3_5.0.1_9A405</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>11</integer>
</dict>
</plist>
