<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,3_8.1_12B411_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-05086-079.dmg</string>
			<key>IV</key>
			<string>511c3641412557ae99a6f98c51e5d9c4</string>
			<key>Key</key>
			<string>0f9fd7a1805aefd5d2e418032a11f9f746f2fca0d179a502dc700aeeac95b7ca</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n48ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/DeviceTree.n48ap.img3</string>
			<key>IV</key>
			<string>05bf93cb0076b30ed74254d02ac1a65a</string>
			<key>Key</key>
			<string>a1a04a5acaaa467573a7e6c77cafa7758f2a37428b44027bdc59d49766ca1fd7</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n48</string>
			<key>File</key>
			<string>kernelcache.release.n48</string>
			<key>IV</key>
			<string>9bdd20d2a4f483fbc2e419217816debf</string>
			<key>Key</key>
			<string>71d4e944dfacaa4648f038f643ffe0de19383733ac573c37d9929b34068d547f</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>ec515228176bb4fbaf65ffad9460f09c</string>
			<key>Key</key>
			<string>8f256264d0d3cb8ee47e4372faff6b0063790c39de912f2ecf50a55c93dbdb4c</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n48.RELEASE.dfu</string>
			<key>IV</key>
			<string>1c7df1e4b4a62448f7103558e7c8565d</string>
			<key>Key</key>
			<string>330f7e4466c33bd2f66193f72a1cd7876ea520fdf73e6f1175794c8444ff3497</string>
			<key>Patch</key>
			<string>iBEC.n48.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n48.RELEASE.dfu</string>
			<key>IV</key>
			<string>fbf3332badf82b86d7a1be3abcd9a34d</string>
			<key>Key</key>
			<string>2fce08600725a09bb8e92d3f05ed139d7345a788e1b7da6ad3232e183678917f</string>
			<key>Patch</key>
			<string>iBSS.n48.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,3_8.1_12B411</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n48.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-05009-079.dmg</string>
	<key>RootFilesystemKey</key>
	<string>a5a73e28983a0d20e84f7c79cb3140c061efde1d1e47626213c370c3319f9d9d048f94d2</string>
	<key>RootFilesystemMountVolume</key>
	<string>OkemoTaos12B411.N48OS</string>
	<key>RootFilesystemSize</key>
	<integer>2234</integer>
	<key>SHA1</key>
	<string>86e7b61ec70e11631ec1966fe5c9874fb3674af9</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
