<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>360be822488daef816a2e78ad9119c9f</string>
			<key>Key</key>
			<string>05727b3d40dc0fc6e309e67f737e26031591a9e54adf62b1d74a4a75eaccf9fb</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2891-001.dmg</string>
			<key>IV</key>
			<string>d07c550c0820305d96ca91403763de98</string>
			<key>Key</key>
			<string>49975f9f8c82b4ee5ff617da125d92701b8515930f72763cfe679c0c6f4a2c55</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2930-001.dmg</string>
			<key>IV</key>
			<string>10e7926c1cce7bbdfb0ec956ef4c1768</string>
			<key>Key</key>
			<string>a31d81fdcdb6645edea8b5152702bdf92b5df273a1b377e62c9b3273f43d8cb9</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>b213c5e7ea60235bf85cc555d3ca9b9c</string>
			<key>Key</key>
			<string>a7863aee09a20bbfd2829afd2d2967271e4b28db73a8da68e7ed396cd37624a4</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>3bc6c9a06b39dd9c84a571a4eddf2594</string>
			<key>Key</key>
			<string>92291a2c5623b0b3656fec02375e73cb607b28ab508fc18417b7b66e73fff137</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>1adb3f1311009f60038141037721516f</string>
			<key>Key</key>
			<string>6ed29ef3f496b4d766cc73d2c4ab8deb37af0aec2b6bee9ec9d41edf4dcdad57</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x.s5l8950x.img3</string>
			<key>IV</key>
			<string>e3bc620448124e5853d679496b7fa43d</string>
			<key>Key</key>
			<string>db6eed02d1c5f5be50692e8fd5905b12f435dbe2a349d2afa7548e3667ec6e7b</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RootFilesystem</key>
	<string>048-2944-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1282</integer>
	<key>RootFilesystemKey</key>
	<string>26636364204d5705d7aace7293e740616323eae2fd6c2d5aa7915b2ce7b22fa4ad8f7669</string>
	<key>RootFilesystemMountVolume</key>
	<string>BrightonMaps10B350.N42OS</string>
	<key>SHA1</key>
	<string>5afaa5f085d19595d0884c2662a954d61b1a627e</string>
	<key>Filename</key>
	<string>iPhone5,2_6.1.4_10B350_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,2_6.1.4_10B350</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
