<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,4_8.3_12F70_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-14496-073.dmg</string>
			<key>IV</key>
			<string>39883b5977d8a93e022e74b58b998ee2</string>
			<key>Key</key>
			<string>8a66d38663a3a344a467c285661112f30b3493f728bc200d03fe32f06225c9dd</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n49ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/DeviceTree.n49ap.img3</string>
			<key>IV</key>
			<string>11af3606bc96bdbdcd2dab2c534d7c24</string>
			<key>Key</key>
			<string>c4540fe446d600333113f1d2edd39c85fa68fce717dac1608f6c2f9cea5b25eb</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n49</string>
			<key>File</key>
			<string>kernelcache.release.n49</string>
			<key>IV</key>
			<string>845f98967b1b31ac335ba949de508ee1</string>
			<key>Key</key>
			<string>0c51bc74541ae287453fc54609975c92431158c67a5d67c345d8b0ba9ad8118c</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>1c0253a5b30cd4e767384ddecf5f2b20</string>
			<key>Key</key>
			<string>3a9b60dff5f00de0bf1b1b09e7078077607a3d0fb9bcbace310bbeed9c4cba59</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n49.RELEASE.dfu</string>
			<key>IV</key>
			<string>313f81cbb8f012a82ec216d99eb01f4f</string>
			<key>Key</key>
			<string>7987f6ba6eef15926c51ba950911d73aa28841463d396d622af75cd6d3fe874f</string>
			<key>Patch</key>
			<string>iBEC.n49.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n49.RELEASE.dfu</string>
			<key>IV</key>
			<string>b7407069f0174170c245d1145d43af81</string>
			<key>Key</key>
			<string>1c28845a40ac8780438263ba401d244f6bdb23ca1783722a3326550f57c49990</string>
			<key>Patch</key>
			<string>iBSS.n49.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,4_8.3_12F70</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n49.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-14928-073.dmg</string>
	<key>RootFilesystemKey</key>
	<string>9b3a94e6a6b07e62fb86b0d889c9eb109c25f63aa857a85b53d3aa8916fa5797fbf09bee</string>
	<key>RootFilesystemMountVolume</key>
	<string>Stowe12F70.N49OS</string>
	<key>RootFilesystemSize</key>
	<integer>2055</integer>
	<key>SHA1</key>
	<string>69b7a549bf172fcfb6ec4b68c85b08835d37eab8</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
