<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k93</string>
			<key>IV</key>
			<string>acf0d10ed1ef37a11ce84dd4b21197ee</string>
			<key>Key</key>
			<string>f8e388d60b8de7ce37dcfe8e810fcb3c20cdb8721c88dc4828e8946c83fc1938</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k93</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-00363-002.dmg</string>
			<key>IV</key>
			<string>3894beeb09e6fdca96fadf719c8aca6b</string>
			<key>Key</key>
			<string>: b891d02598ac1cf1bcabdf77797490b92324adb47bc021692f321692cc822991</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-00183-002.dmg</string>
			<key>IV</key>
			<string>b939b1eace3f92d8a7a06578668f3df8</string>
			<key>Key</key>
			<string>e0b0e13670ae63c557c6f7cb4b321568e7dcc01a442515270dd5df63e52bb75f</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>16f33b3271337f23015f3b1e0b42ad3f</string>
			<key>Key</key>
			<string>7a5fe70327cd47d9990ed53439314c88331f3e31ac376ef1c1a8a18ca66f4e4f</string>
			<key>Patch</key>
			<string>iBSS.k93ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>7db975b1d5894b4a3106970a5129e437</string>
			<key>Key</key>
			<string>8b22506c4adbe5046a2f718cb2bd2597924cf64aedcd5ea7ad260d90ab5cd545</string>
			<key>Patch</key>
			<string>iBEC.k93ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93ap.production/DeviceTree.k93ap.img3</string>
			<key>IV</key>
			<string>ffe6ab8f76df7f6e522078d09c9cb9ae</string>
			<key>Key</key>
			<string>c23ea8fd62989aa3306de68337ebf93aa2035e29344e057977f3fb28c0bf0f35</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93ap.production/applelogo.s5l8940x.img3</string>
			<key>IV</key>
			<string>15ecdd75dd4a4a0ca05b2d248c469217</string>
			<key>Key</key>
			<string>1c3c7fe8f1f87687cb68ce9c4f9243ced41b415fea0ca0e3793559a1407e1b8d</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k93.plist</string>
	<key>RootFilesystem</key>
	<string>058-00314-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1419</integer>
	<key>RootFilesystemKey</key>
	<string>0d1063596253f7606124904ae8bcc47daae5c9bd031835caaf2dc0539919acf3e21ba83a</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUSochi11D201.k93OS</string>
	<key>SHA1</key>
	<string>6CCAA523BAEC28E33F90113458787E0C356B6266</string>
	<key>Filename</key>
	<string>iPad2,1_7.1.1_11D201_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,1_7.1.1</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
