<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.p105</string>
			<key>IV</key>
			<string>996ec7ab706ab037b96f1db2bb77fed9</string>
			<key>Key</key>
			<string>cf5c8fe2bc1418c82ba9426b85dcad398a3b911fd6eb26cba9c6ad111c5fb6df</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.p105</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-00261-002.dmg</string>
			<key>IV</key>
			<string>93fd1a26b69f3300c0ce392905562231</string>
			<key>Key</key>
			<string>7aca94d0febc8eb05d723941031e8b412b1d491438f4c25685ccdbc9bdce7b74</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p105ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>5bc0c26bed32b5bd4b789c9e27e4d92d</string>
			<key>Key</key>
			<string>662f7dbe0856a187a615e4048cff689d51c335b146c2f1f5734453762b82ee31</string>
			<key>Patch</key>
			<string>iBSS.p105ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p105ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>fbceb89f327ccc0b70a497d18d3a1dd4</string>
			<key>Key</key>
			<string>73169eb91810165bbde123fd26a5fa60a96ae5bf254f7c85b0c4d29cb0438f9a</string>
			<key>Patch</key>
			<string>iBEC.p105ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/DeviceTree.p105ap.img3</string>
			<key>IV</key>
			<string>4dfb5c46fe64eaca4c3af828bd278494</string>
			<key>Key</key>
			<string>653d6327b671317d1f01c3b0b2678b4b942d7cdac1ebb19c265e960f6c3c4dd9</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.p105ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>b8e0a6a8b2dd9c2b69ffb06749c271ca</string>
			<key>Key</key>
			<string>08e21ca82d39b1834bc0e79d306721aac3947cb963f614e8bca66b341f91f765</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p105.plist</string>
	<key>RootFilesystem</key>
	<string>058-00299-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1555</integer>
	<key>RootFilesystemKey</key>
	<string>48e6b8101c2dbcc6205d7e842f35cae1de4a3fc456fd564156f68eaef2b18163731c72bc</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUSochi11D201.P105OS</string>
	<key>SHA1</key>
	<string>49f4cd10daa3ec64a854f05817e3b887667f56a5</string>
	<key>Filename</key>
	<string>iPad2,5_7.1.1_11D201_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,5_7.1.1_11D201</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
