<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.p105</string>
			<key>IV</key>
			<string>ef7d4528d12537b348ba1efc37990155</string>
			<key>Key</key>
			<string>942fc460cf137f002c50dfec269ebf00ad82cd23889d40f267ab2730db2661c9</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.p105</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-49111-036.dmg</string>
			<key>IV</key>
			<string>a7e6e64244b7f9d500acd750eb726d74</string>
			<key>Key</key>
			<string>cd70389935c4820f971a3c53d97b5af143603dca854d6dfd8699c2f3fb411e12</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p105.RELEASE.dfu</string>
			<key>IV</key>
			<string>d64c69ef67a875b940dbf6a25d0827e1</string>
			<key>Key</key>
			<string>2f9f2e363b5abae5dbe014579666d36704429ecbcf157268967210145ea29c14</string>
			<key>Patch</key>
			<string>iBSS.p105.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p105.RELEASE.dfu</string>
			<key>IV</key>
			<string>76c39d486b18f897fd2ff5db52c1abfa</string>
			<key>Key</key>
			<string>d7aaaa0605335d08dbf1bc008b90cd84a921e2a9414794e39b4b489f224c1699</string>
			<key>Patch</key>
			<string>iBEC.p105.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/DeviceTree.p105ap.img3</string>
			<key>IV</key>
			<string>a1e65ec68f14c2fa5a0ca5ad4ce8273e</string>
			<key>Key</key>
			<string>d061d50424e27ab04828917dc6e5a192a0578dc0c76e476c3d155caea27d5f66</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.p105ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>2ca9fabe3f7113590f5946247a08d9f3</string>
			<key>Key</key>
			<string>ffc7eaddc4d3e733640e2e1c193dfd352de89129adcf7d34c7625667bf12b8ee</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p105.plist</string>
	<key>RootFilesystem</key>
	<string>058-48145-036.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1945</integer>
	<key>RootFilesystemKey</key>
	<string>473b7145db16ac61a0b227ad112fe4e68df040d30a4de38faef5035a2e52b37478cec0df</string>
	<key>RootFilesystemMountVolume</key>
	<string>Genoa13G36.P105OS</string>
	<key>SHA1</key>
	<string>11aa53648b32064ff1dcc9752621c23e84a2c524</string>
	<key>Filename</key>
	<string>iPad2,5_9.3.5_13G36_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,5_9.3.5_13G36</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
