<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>038-5782-123.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1282</integer>
	<key>Filename</key>
	<string>iPhone5,1_6.1_10B143_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone5,1_6.1_10B143</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>SHA1</key>
	<string>42ffd7f16d32fa71dab964314387140164c5af10</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>Brighton10B143.N41OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>40f7e34f0a6b85db1b81e51ef5ef1551d28379de04b113db3b4dddeaacf8fc1e</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n41ap.RELEASE.patch</string>
			<key>IV</key>
			<string>b15e54f6e7f6fac7048e9d5dd3bfce71</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>e380198a2c067e30742eeb4d03f73ecdbf09049fdd6d603b5f6cb2e298fd921c</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n41ap.RELEASE.patch</string>
			<key>IV</key>
			<string>2289f17bffc44495fd3723e50bf8a738</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>Key</key>
			<string>4c6a533b2f483e5ccfe4d1883070740eb7fb6c355f3812defb222c7b901d8b9b</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>40118490cbf2a09ba2cd4df096036cc0</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x.s5l8950x.img3</string>
			<key>Key</key>
			<string>94bdb7e65f436338e77796adc58aa516c423f91ab5442765a114a3f4276fedf9</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8950x.img3</string>
			<key>IV</key>
			<string>c54712a9d15956749fb6952a43b0f8e4</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-0729-001.dmg</string>
			<key>Key</key>
			<string>d271318d8869a196cbff759f000a6075689b825605bbf52e7d68cc6f67768f64</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>df2ae94eedc3506df5e4463bef1b851a</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>Key</key>
			<string>7cc5eb10a6cbbc5d808ae072ce84ea55468e880cd9e17167b3e0be240742c890</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>df68a897117fc314ad75652e83aa8944</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>15d08d5d0ed7a69c8a73415f88715f28c65f66270a2713dca3425d515c6f64055898294e</string>
</dict>
</plist>
