<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>445de01b1b09355c7b13a07101dd6f06</string>
			<key>Key</key>
			<string>a6d8fcdf51102432a35d2f314ee5cca8f621b74581af12006c6f5f42e8f72766</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-2386-001.dmg</string>
			<key>IV</key>
			<string>b21d869c1499ec81e07340fd9f1da83f</string>
			<key>Key</key>
			<string>e0da720fb82204b43b54936f6ced6007acff082e9656be987ae87f49e1b4b16f</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-2340-001.dmg</string>
			<key>IV</key>
			<string>837c8ec5f2fe6c060aef83d84e6cd07a</string>
			<key>Key</key>
			<string>efbdea9cc8cf76407e87f8f0ae13d844f01d1f433acbd2b650dffe5d81348f52</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>c521b6989a0eb9875e6d5caf9e442d65</string>
			<key>Key</key>
			<string>31d67d22c27f75d8ef6628e62daf1db64af2d6ce0b728e6b2da382609645308d</string>
			<key>Patch</key>
			<string>iBSS.n94ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>9a228a63de47e2509a1d9fb65620f726</string>
			<key>Key</key>
			<string>c1ccd68ed62f5afff012d6aa06da323f4acd14194ad377e24d20e37cf96e4e61</string>
			<key>Patch</key>
			<string>iBEC.n94ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>0d57fe3217bd35f10a09f538cb961e3e</string>
			<key>Key</key>
			<string>dd0880c2f9b5ac304114b60aeb2f2e9902d3d9f37d24020cbc0261417935d0b9</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>7088c09ede3ad105da0f44a03bb4e6b6</string>
			<key>Key</key>
			<string>00b5f7c06c9c1b07904c62d727315cd0a360ed989ced8c0ff547f9a3490427b1</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>058-2370-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1572</integer>
	<key>RootFilesystemKey</key>
	<string>35e77a15a899be8ef6165f7eb82fdd3e2c39bdbac02f161375808ecc9d08d7ff66b7aea1</string>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B651.N94OS</string>
	<key>SHA1</key>
	<string>0DB6297CFA36101FB531FF4B06EC28057D97F8F8</string>
	<key>Filename</key>
	<string>iPhone4,1_7.0.6_11B651_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_7.0.6_11B651</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
