<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,2_9.0_13A344_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-03706-363.dmg</string>
			<key>IV</key>
			<string>2feeecb321c7ae10307e5c268e427d71</string>
			<key>Key</key>
			<string>520af67fc9e11360df3af4cfca79a406fe8e0bd365898fda89ddece7b65b86dc</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>3a91de7e4628baaac64e3ece33d512b9</string>
			<key>Key</key>
			<string>37647ad6288ebb750449954648acb3604f7c24be9d089f840aa59529c84019d1</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>51e771501d7f6fc95de3d789cf87bdf7</string>
			<key>Key</key>
			<string>00271f76c9e0728ed7b3cdb13c4ad4b7889b8fc59b42486d4aa068a48429277a</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>ffa75ed41e594e84e75d02cc77236651</string>
			<key>Key</key>
			<string>1c3c32275bf4232fa58a67f72606a627b4b48774e6a9f1efa7326e6bd5e2626b</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>437404a5b4165e635187a4e4b73a148b</string>
			<key>Key</key>
			<string>85cb205cd551442e629ffb267708c5eafe5642c845d46becf7dc5ef5f6244ca4</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>f47771607eb9761ee4d62bfde4853afd</string>
			<key>Key</key>
			<string>a28a482dedea0079f79b19c0b77b8eca2f64371fed61bdd726dc6c5af6560758</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,2_9.0_13A344</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-07912-297.dmg</string>
	<key>RootFilesystemKey</key>
	<string>9f7d72d87c827f616dd4b54f4747e3c3eb48206f1554ffc473e337faaff7024e02f3108e</string>
	<key>RootFilesystemMountVolume</key>
	<string>Monarch13A344.N42OS</string>
	<key>RootFilesystemSize</key>
	<integer>2200</integer>
	<key>SHA1</key>
	<string>af4c09246e226d8c7008ef48193416a44c9f8614</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
