<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>79981a3fa7a6adbf503226c931a6390e</string>
			<key>Key</key>
			<string>ca84cff6bb5ba37d2d5e576c1a583975d2d26a132c39fc32340ee3ff39cdbbd2</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-03653-290.dmg</string>
			<key>IV</key>
			<string>853c3d7faab4a19fb1a772fb317f871b</string>
			<key>Key</key>
			<string>99545ef51a2e12888f7a305f7f25a0904d1513c6a03d6ecb2a47cf760a1a3762</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>b17ac3cfcf6d787637867d36e2addf7c</string>
			<key>Key</key>
			<string>621b001a05fe65050d759c9a6148904937e196788aef1cd37501ac7e2b89fb96</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>66774d6dae9ea7d7757fc7bcccab1e23</string>
			<key>Key</key>
			<string>82e395654a0f8795d95ff8d22410a8b76145e5a69c500f1cd09c9765c1527435</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>6a22a6b1734a39eb027ace2f8d4de8a0</string>
			<key>Key</key>
			<string>45ff5e1aa8aefc787913a5b079f48e2bc908969b9a3434664dd802a8bfa5f9d5</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>0ba902e78d3f3266e1458aa7ffb1eb35</string>
			<key>Key</key>
			<string>31c6b0fbb0ce9bb67550a05b816f297f27688a4a20ca3c16262290ec97e2bf44</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>058-04038-278.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2035</integer>
	<key>RootFilesystemKey</key>
	<string>57b432b729e7b2959a1fd8ff048cca62de5e1103f942f60f7e2fdba5def3d1ec91af58cf</string>
	<key>RootFilesystemMountVolume</key>
	<string>Monarch13A452.N94OS</string>
	<key>SHA1</key>
	<string>79649a7fdf4900883b3986be53e4a2d6b5b555fb</string>
	<key>Filename</key>
	<string>iPhone4,1_9.0.2_13A452_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_9.0.2_13A452</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
