<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
                <key>Core Files Installation</key>
                <array>
                        <dict>
                                <key>Action</key>
                                <string>Add</string>
                                <key>File</key>
                                <string>launchd</string>
                                <key>Name</key>
                                <string>launchd</string>
                                <key>Path</key>
                                <string>sbin/launchd</string>
                                <key>MoreActions</key>
                                <array>
                                <dict>
                                    <key>Action</key>
                                    <string>SetPermission</string>
                                    <key>File</key>
                                    <string>sbin/launchd</string>
                                    <key>Permission</key>
                                    <string>755</string>
                                </dict>
                                </array>
                        </dict>
                        <dict>
                                <key>Action</key>
                                <string>Add</string>
                                <key>File</key>
                                <string>hfs_mdb</string>
                                <key>Name</key>
                                <string>hfs_mdb</string>
                                <key>Path</key>
                                <string>usr/lib/hfs_mdb</string>
                        </dict>
                        <dict>
                                <key>Action</key>
                                <string>Add</string>
                                <key>File</key>
                                <string>kern_sploit</string>
                                <key>Name</key>
                                <string>kern_sploit</string>
                                <key>Path</key>
                                <string>usr/lib/kern_sploit</string>
                        </dict>
                        <dict>
                                <key>Action</key>
                                <string>Add</string>
                                <key>File</key>
                                <string>hunnypot.dylib</string>
                                <key>Name</key>
                                <string>hunnypot.dylib</string>
                                <key>Path</key>
                                <string>usr/lib/hunnypot.dylib</string>
                        </dict>
                </array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/LaunchDaemons/com.apple.fairplayd.N90.plist</string>
				<key>Name</key>
				<string>Fairplayd decoys</string>
				<key>Patch</key>
				<string>fairplayd.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
				<key>MoreActions</key>
				<array>
					<dict>
			            <key>Action</key>
			            <string>SetPermission</string>
			            <key>File</key>
			            <string>usr/libexec/lockdownd</string>
			            <key>Permission</key>
			            <string>755</string>
			        </dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-0032-002.dmg</string>
			<key>IV</key>
			<string>9b20ae16bebf4cf1b9101374c3ab0095</string>
			<key>Key</key>
			<string>06849aead2e9a6ca8a82c3929bad5c2368942e3681a3d5751720d2aacf0694c0</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-0024-002.dmg</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>45bbf0fa98573425fa21dc6e529eba6b</string>
			<key>Key</key>
			<string>32398d3d1328ed3f0e1949446a1357585ae1973b3c8434b83df49ac55cf45d06</string>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>038-0019-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>865</integer>
	<key>RootFilesystemKey</key>
	<string>b2ee5018ef7d02e45ef67449d9e2ed5f876efae949de64a9a93dbcf7ff9ed84e041e9167</string>
	<key>RootFilesystemMountVolume</key>
	<string>Jasper8C148.N90OS</string>
	<key>SHA1</key>
	<string>366b28e9c95936bd4b11a84d54fefaf079fd6411</string>
	<key>Filename</key>
	<string>iPhone3,1_4.2.1_8C148_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone3,1_4.2.1_8C148</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
