<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>ab96ed32e3a12c75e57aeec49279ac70</string>
			<key>Key</key>
			<string>be9eab85e84e87a39397f174610c090c6bcdc6c42d3f4c53cd42096ba54a3c3e</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-0733-001.dmg</string>
			<key>IV</key>
			<string>443c34a0affccee2755489ca080b5061</string>
			<key>Key</key>
			<string>6b961f7091d438b4a59b376b9f1bb49bd197b4180f1fe5ff3aa0cd033632e065</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-0729-001.dmg</string>
			<key>IV</key>
			<string>cc27a6a83c3d78c7cc70f2c4e4f88635</string>
			<key>Key</key>
			<string>3d183915f32d61668562d74c4171c0e9eea82f0958fadcd7bd4b33a7bddc7ca8</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>92ebf4edbdd38a859fbc7bc74318c4c3</string>
			<key>Key</key>
			<string>65454a496255bd849c944e311a97bcff4d66cf11ff90c3b71c07a698d8dd14d5</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>5d746bbf1ad87198208f0e2f1eb9f6e5</string>
			<key>Key</key>
			<string>b8d3f02c78344ccc645c89a3c2c7f5a371224b143b5711f87018e23af9eeccba</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>ec176293e8cb6fd53b22dae69ec6665e</string>
			<key>Key</key>
			<string>2eefd29ffbd2beab95237367bd321c00b3b9dfd5e768b71607c9c3afba3035a3</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x.s5l8950x.img3</string>
			<key>IV</key>
			<string>c54712a9d15956749fb6952a43b0f8e4</string>
			<key>Key</key>
			<string>94bdb7e65f436338e77796adc58aa516c423f91ab5442765a114a3f4276fedf9</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RootFilesystem</key>
	<string>038-5788-123.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1282</integer>
	<key>RootFilesystemKey</key>
	<string>98003ccca4d3cdbdd1dcab3545f66522037a25e99fe9ce4d10e5b3e135ed96390940623d</string>
	<key>RootFilesystemMountVolume</key>
	<string>Brighton10B143.N42OS</string>
	<key>SHA1</key>
	<string>a32af87309a7e01a976eb73cac3f06370c5a1079</string>
	<key>Filename</key>
	<string>iPhone5,2_6.1_10B143_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,2_6.1_10B143</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
