<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>9f8cfdfceeaecae0ccc045667d18db09</string>
			<key>Key</key>
			<string>8bf6f42f9bdfdbb38d16a09de08c4a8af0c2fcf1569e4fa1b1c46e8735488f22</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-36873-072.dmg</string>
			<key>IV</key>
			<string>980febe094cab8ebd232070ee793e1f0</string>
			<key>Key</key>
			<string>92d5e45c3a2e1e50fe53b91559c6b4740c044374bf9348221fddd75a3ecfc417</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>311b4d29da4165037cafed81bbf1f720</string>
			<key>Key</key>
			<string>08c1ea05774242d381d43cd339024a0bb7ec1c5814fd064cdc73fb26ab2c5f1e</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>4f45af3953cb680278431729d0926b09</string>
			<key>Key</key>
			<string>0c5e57e4a3c6a60d3083475899b84af6fb312a20855a2d07d4d96a74186e42c6</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>0b7c59e77855bccd7c2cd3abc7c3fc1c</string>
			<key>Key</key>
			<string>6ca742f90c0470d6b4fa276f0d5ebc98888148c8ec665c70c4c3c3b3c3b0102e</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>e1e031bf0d62ac44f3ad00a7650363b5</string>
			<key>Key</key>
			<string>de31e67b3aaedb656eb78e7eeb590b5dd73ece0eddb851562c4b5b93b19d477e</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>058-36646-072.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2017</integer>
	<key>RootFilesystemKey</key>
	<string>a4d3af6010e7f434008f005f0a32b48f91a9b514aa429e59484db27d2ba49951df546325</string>
	<key>RootFilesystemMountVolume</key>
	<string>Frisco12F69.N94OS</string>
	<key>SHA1</key>
	<string>8b16c162c84f21c99997c2c577f9b87eb7766247</string>
	<key>Filename</key>
	<string>iPhone4,1_9.3.2_12F69_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_9.3.2_12F69</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
