<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>0c30a1abc35d2d94cdcf4c90235bcf47</string>
			<key>Key</key>
			<string>ca88e6b67f8072d9dfd1605072f6e88db018d36b5d3c41663a93cc5e8810d0ea</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-15814-139.dmg</string>
			<key>IV</key>
			<string>f70d91617bce89cf8f33a3fc52b9514c</string>
			<key>Key</key>
			<string>5d73ed1eb0e3cf655927249a1e8f1263210ecfb0093f3d9c54f99a24861c10f4</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>dca23082d162aaf99c740dc69d1479c0</string>
			<key>Key</key>
			<string>bcdf35e3217e135955901eafa1365cc60af5bbfc877c95c1cf99337df7474d8b</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>8213955f911d370e9cb8b09b7b1903b2</string>
			<key>Key</key>
			<string>82e7a14b14e93296e51b0c6f45c48b9e37add9c8b6529c03efc48bc8196ad0b9</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>43424ddb1d4fd5e273220d4efd4c6c20</string>
			<key>Key</key>
			<string>c2dd200b2c1e939cc01b28624e5fd2d6ffca7c84436306b57cb59079b44778bc</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>d8a42bdb7b969132707028a395c06820</string>
			<key>Key</key>
			<string>0cb4209728204884b0f38e149466ec9b92747b9d077f65747e5973019599bef3</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>058-15896-139.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2012</integer>
	<key>RootFilesystemKey</key>
	<string>2710c37d4d3545486db6093da4ad5d224737cbc7c6b5a5df177af52b2fdea42dc467af84</string>
	<key>RootFilesystemMountVolume</key>
	<string>Copper12H143.N94OS</string>
	<key>SHA1</key>
	<string>ff2b0ba09d0248bf3c5127664582a996e70728f8</string>
	<key>Filename</key>
	<string>iPhone4,1_8.4_12H143_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_8.4_12H143</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
