<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>048-8520-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1590</integer>
	<key>Filename</key>
	<string>iPhone5,1_7.0.2_11A501_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone5,1_7.0.2_11A501</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>SHA1</key>
	<string>75e9e19545b579dd6d4c60808090a360f9fc9ebe</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>Innsbruck11A501.N41OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>be00da1b58aa2536195898caa7f6ec32569fcd213bee4b4514fa757b2de72a48</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n41ap.RELEASE.patch</string>
			<key>IV</key>
			<string>5a629570f38fa454aa202666cce13cee</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>b6947ebd182dc3ed8ed6472bef302ff0e1a9251d98c71059c37492d3bbb343b8</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n41ap.RELEASE.patch</string>
			<key>IV</key>
			<string>90f9cec37d1f16ac5782ef0ed442de6f</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>Key</key>
			<string>fbbe784c01aae9bfc484c23009f22e15eea851c663fdb4b6eb8f8814b510c302</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>fecbd1bfd9921061c819666619a6deb1</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Key</key>
			<string>9dc7f6c502b91388c0f72e53e7ef8784f30955ce0aebf9bebb39637005ad201f</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>5b8099e59c8aebacd11ddf7024786a47</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-9014-002.dmg</string>
			<key>Key</key>
			<string>7cd38f6fe0cf019efc25de9d68b7e6eb7ef8b867451d76a062c09e21c3f9e071</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>69653d069af708eccd8bd8dce09fdd91</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>Key</key>
			<string>16ab9dae8af3ea8dffb88aeacb96ac2622af5963bff73ad1cc1cba873d60fb50</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>5c8351b3a6d9ad2b8233f2e4fa13bb4d</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>30e1e919ca33f0b33c84346778c196489ab893d6aed08d71a4cf0c9a62c21c7fd1444e23</string>
</dict>
</plist>
