<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,1_6.0.1_10A525_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-8911-002.dmg</string>
			<key>IV</key>
			<string>099bef907bd492d89fcf3a1e445ab969</string>
			<key>Key</key>
			<string>9979296aa5e1004bfb39cd471165fb5ee5f6955148e5c2a0cbcaf3a39d5e91e0</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>c6299e9be6a9378b1091c42e19974820</string>
			<key>Key</key>
			<string>22e2ba86411de61bd60a40321e80b30445e4834e51231bd3aa16f3cb517c0ba8</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>IV</key>
			<string>bb453797eae5086536a6371c197113c9</string>
			<key>Key</key>
			<string>f46eba730a0973e25bc3572d086f6ee6a5d85dd2127d1ceaca622099fea805a4</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x.s5l8950x.img3</string>
			<key>IV</key>
			<string>328e282c9e60a9380b92845a22894cf1</string>
			<key>Key</key>
			<string>6127304e4efee11d6c4f369cc43395c2bf40a0c068045d8a99d3f6294159c086</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>a444d65e76c1367b9005879596995b86</string>
			<key>Key</key>
			<string>a50adc9acafa3a5e3fe4e33300378d607bf9d52204678eb893db8937c823088d</string>
			<key>Patch</key>
			<string>iBEC.n41ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>5c0f74824dc120f9956f78af174c6a7c</string>
			<key>Key</key>
			<string>2507c3729aebb9bfcd2ae4a8ed6117dd27dc37b661d9a580cf6a0b66461af8f5</string>
			<key>Patch</key>
			<string>iBSS.n41ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,1_6.0.1_10A525</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-8916-002.dmg</string>
	<key>RootFilesystemKey</key>
	<string>ebeaca6dfa068022d48e183ffd772a5e6e74bc753ce8735f440d85d581f95032dba91715</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sundance10A525.N41OS</string>
	<key>RootFilesystemSize</key>
	<integer>1280</integer>
	<key>SHA1</key>
	<string>68f3bbcfd867bd0c9484086dd0639f6f0cba0578</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
