<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.s5l8900x</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8900x</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/applelogo.s5l8900x.img3</string>
			<key>IV</key>
			<string>30C0CB05AE49D0484392261B2C8B21A8</string>
			<key>Key</key>
			<string>F9841FA3197F0BD9FD162CE170C5F6F9</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/batterycharging0.s5l8900x.img3</string>
			<key>IV</key>
			<string>DCE93EC9DF98CF590C0B792BCBCCCA8B</string>
			<key>Key</key>
			<string>A3F0C602763852309469648116DF4722</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/batterycharging1.s5l8900x.img3</string>
			<key>IV</key>
			<string>0C794909235D360AF8A2AAD92B92C281</string>
			<key>Key</key>
			<string>6EB1142E1F77F87687DA00C796E4EB61</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/batteryfull.s5l8900x.img3</string>
			<key>IV</key>
			<string>04BB4DD56CA411DD5A6C4CFF06EAC5E3</string>
			<key>Key</key>
			<string>E518C7F9DF797BC7A9C5E7256A6A85DD</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/batterylow0.s5l8900x.img3</string>
			<key>IV</key>
			<string>6ED7927936A0B7227ADE1CAE7BAF6A8D</string>
			<key>Key</key>
			<string>B6A8C1A9B7DC523146558422305E2237</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/batterylow1.s5l8900x.img3</string>
			<key>IV</key>
			<string>EB3A27A0D16927A3BE24BF4F7E75DF21</string>
			<key>Key</key>
			<string>7BF6775691685437193E089299979171</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/glyphcharging.s5l8900x.img3</string>
			<key>IV</key>
			<string>C62F0A6D0C296B1859599A614ECABD80</string>
			<key>Key</key>
			<string>F5A6AE904D976741CBEFABD527F5027C</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/glyphplugin.s5l8900x.img3</string>
			<key>IV</key>
			<string>38FF24AFA0422C6BE244EA0BE00CE12D</string>
			<key>Key</key>
			<string>689F91DAB29610B6064E450901F3D87F</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>NeedService</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/needservice.s5l8900x.img3</string>
			<key>IV</key>
			<string>5827A2F59A92F6D3ED16712A2185C9D7</string>
			<key>Key</key>
			<string>6A44E62D072062BA03B5B634A67D6B20</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/recoverymode.s5l8900x.img3</string>
			<key>IV</key>
			<string>848D4CEF8E4D8182C3F10062CF5347FE</string>
			<key>Key</key>
			<string>5A56972F4750335C448F3219269ED202</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/DeviceTree.n45ap.img3</string>
			<key>IV</key>
			<string>5A95A408A33A2EB241AEB1639E3D163D</string>
			<key>Key</key>
			<string>CC773D599C67E54203ABBB72F345F3ED</string>
			<key>Patch</key>
			<string>DeviceTree.n45ap.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.s5l8900x</string>
			<key>IV</key>
			<string>A4DB9183CD79722B4146C9DE09AB29C5</string>
			<key>Key</key>
			<string>02418105DFB3BE2AF2A76248E026F702</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/LLB.n45ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-5305-002.dmg</string>
			<key>IV</key>
			<string>CACA33F1ACA029320D60873A4DEED68D</string>
			<key>Key</key>
			<string>9962589AABB4D5EC56B7A867AB5B11B0</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n45ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBEC.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n45ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBSS.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.n45ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF 2</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.s5l8900xall.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.s5l8900xall.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/iBoot.n45ap.RELEASE.img3</string>
			<key>IV</key>
			<string>1DD17716257F652079AC43E04718610B</string>
			<key>Key</key>
			<string>7B638C51CCB3D69DC2CDC0AC5FAEA3D7</string>
			<key>Patch</key>
			<string>iBoot.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
		<string>com.ripdev.icy</string>
	</array>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-5299-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>437</integer>
	<key>RootFilesystemKey</key>
	<string>16FDAD25424DC17008728E89F4900B887732DCC5FB48EEDC9F1C9433AF558DB705EB0577</string>
	<key>RootFilesystemMountVolume</key>
	<string>Kirkwood7A341.N45OS</string>
	<key>SHA1</key>
	<string>dff2bd14931225908a360fb8e60a336f17d2dd6d</string>
	<key>Filename</key>
	<string>iPod1,1_3.0_7A341_Restore.ipsw</string>
	<key>Name</key>
	<string>iPod1,1_3.0_7A341</string>
	<key>DownloadUrl</key>
	<string>http://foobar</string>
	<key>Platform</key>
	<integer>2</integer>
</dict>
</plist>
