<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>libgmalloc.dylib</string>
				<key>Name</key>
				<string>libgmalloc.dylib</string>
				<key>Path</key>
				<string>usr/lib/libgmalloc.dylib</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>pf2</string>
				<key>Name</key>
				<string>pf2</string>
				<key>Path</key>
				<string>usr/lib/pf2</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
				<key>MoreActions</key>
				<array>
					<dict>
			            <key>Action</key>
			            <string>SetPermission</string>
			            <key>File</key>
			            <string>usr/libexec/lockdownd</string>
			            <key>Permission</key>
			            <string>755</string>
			        </dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-7080-079.dmg</string>
			<key>IV</key>
			<string>214388b7e0589464bf59966524ae2ea4</string>
			<key>Key</key>
			<string>581f739963fc3fdbf70dfc695b35d43662a0069b501cb715264c32428e759cba</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-7073-079.dmg</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>966fdb6312a3cd35703e7a1e8bb4cce6</string>
			<key>Key</key>
			<string>81d26076947f2a50c0d31766f7e5f3b73ec198a1e0c50064a03b9e74bd0cbf91</string>
			<key>Patch</key>
			<string>iBSS.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-7061-122.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>768</integer>
	<key>RootFilesystemKey</key>
	<string>01155a88dc41d6bdb6ba368719853e7e68fb0076dbfaafe8e0801256c724b103f2e271ca</string>
	<key>RootFilesystemMountVolume</key>
	<string>Baker8B117.N88OS</string>
	<key>SHA1</key>
	<string>2d1657cd33ae23b8d4e79e41fe758d09d3c52e30</string>
	<key>Filename</key>
	<string>iPhone2,1_4.1_8B117_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone2,1_4.1_8B117</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>5</integer>
</dict>
</plist>
