<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,4_7.0.6_11B651_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-3121-001.dmg</string>
			<key>IV</key>
			<string>8ba58248c1c6a26f6ba16de26738bb83</string>
			<key>Key</key>
			<string>b456291198911b354f925b4ab905992e247d60374169a333de6a824e9f869c93</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n49ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/DeviceTree.n49ap.img3</string>
			<key>IV</key>
			<string>9f359d93d446ac1a078072c078b5afc3</string>
			<key>Key</key>
			<string>74def5389fe2dd647af0a6da7226fe4a9cc199e58824095cac89cefb62e0c964</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n49</string>
			<key>File</key>
			<string>kernelcache.release.n49</string>
			<key>IV</key>
			<string>72c47fabbad9bee286c12a461b2a04cd</string>
			<key>Key</key>
			<string>3632021d367da7339f665e30c7ece56559a64c764cac80452022c88e7fbfde14</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>0a255d591aa2120974a05b1507840dc9</string>
			<key>Key</key>
			<string>0c18a7bccaddf5728ed870f85af7de04c9caf3a880605043ab0dff86991f70a5</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n49ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>2b26b9f8f5ae0f618fb67dce77bdcf8e</string>
			<key>Key</key>
			<string>c3f0057645d0cb5919c5ebee8b224a652b114f16bb4137880584aa4605d506d0</string>
			<key>Patch</key>
			<string>iBEC.n49ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n49ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>b07d6b688a6928b78ab56134a3d78e65</string>
			<key>Key</key>
			<string>7ebbfdc22fcdada43bdf7545128a7dbdca9e73fd9a1629081b749fd5b0fc7c36</string>
			<key>Patch</key>
			<string>iBSS.n49ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,4_7.0.6_11B651</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n49.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-3124-001.dmg</string>
	<key>RootFilesystemKey</key>
	<string>5239c519dc784a5ea37b0c60f54f2f316614f43f55a828817313415d3e5db0427290a3fa</string>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B651.N49OS</string>
	<key>RootFilesystemSize</key>
	<integer>1593</integer>
	<key>SHA1</key>
	<string>b109b4d8e6e5f14cf1c26cf9ed73a496f092466d</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
