<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,1_8.2_12D508_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-06698-150.dmg</string>
			<key>IV</key>
			<string>73066fafd8554e1c9213c2080a9778e1</string>
			<key>Key</key>
			<string>e62b7d53adb120cb93390fb2dab4f8c881c9569e79303b83ca643b7b3345192e</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>4ccbde01f645dd71f2b6b78f5bb6a8ad</string>
			<key>Key</key>
			<string>f29695e3f2d11b78c8164d4e46201de620666698e13de2026ecca81aee15ac0f</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>IV</key>
			<string>b090f09895509fc1d4673576c56c077a</string>
			<key>Key</key>
			<string>a951414538416a2acf11bccd37eeb0931ea61a320d41fafba639269a51b11fad</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>de9f5e249cc33e5d18a2148c3229de01</string>
			<key>Key</key>
			<string>7602a48ca1aacfe98fd0e8591abd43ec4dfa1c1d2ab97b3a36885c86f5666f1a</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41.RELEASE.dfu</string>
			<key>IV</key>
			<string>d3a65b2d208982def02375d5afc8b685</string>
			<key>Key</key>
			<string>66479e1bda19d61262a983a27823b81fbfe33a2f84b15f572e6f57052299b3bb</string>
			<key>Patch</key>
			<string>iBEC.n41.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41.RELEASE.dfu</string>
			<key>IV</key>
			<string>c2cee705caf5d73a0930d61566c3ade8</string>
			<key>Key</key>
			<string>91aa8d6d36150d931946172667c8a2cb656623eb06820d8493050bd9df0349df</string>
			<key>Patch</key>
			<string>iBSS.n41.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,1_8.2_12D508</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-06803-149.dmg</string>
	<key>RootFilesystemKey</key>
	<string>cbec7deb2cad6c31d2b8c7e8db05631ac14eef089f80fc833b3415df6226f4cfc563f087</string>
	<key>RootFilesystemMountVolume</key>
	<string>OkemoZurs12D508.N41OS</string>
	<key>RootFilesystemSize</key>
	<integer>2046</integer>
	<key>SHA1</key>
	<string>dd327f860922fd1399b6cadae5393c611de94a09</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
