<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,2_8.2_12D508_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-06698-150.dmg</string>
			<key>IV</key>
			<string>ca8729b0a3a25fae8e6f1b8657da6b9e</string>
			<key>Key</key>
			<string>4c34f3483909ce1770d355890924db9fbf1c747610b12eada09083f1e25656b5</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>6ba6bf703f82f1c2888de1793e43feef</string>
			<key>Key</key>
			<string>1e634fc85ed901bfe97a7885ffdf5f964d8a8fc8db7a267d05984b209c09d28e</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>7101368df205de17ea39b117d76fc418</string>
			<key>Key</key>
			<string>ff1e3483658ec38127835d9b7e5dd973f0a6a1296e8c0a93121aa6e9be67f71f</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>de9f5e249cc33e5d18a2148c3229de01</string>
			<key>Key</key>
			<string>7602a48ca1aacfe98fd0e8591abd43ec4dfa1c1d2ab97b3a36885c86f5666f1a</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>59289097c5432c9602b387a1d21d0f1d</string>
			<key>Key</key>
			<string>7e6e3b55828145eacceca03ee6aa02408fcfe04f47afca9aa050346a33d4cc78</string>
			<key>Patch</key>
			<string>iBEC.n42.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>1edd2243f9c0f6a995f15b5d933608ad</string>
			<key>Key</key>
			<string>547800802355d9c180fb091bd3f9e28e7b621e8b690af12c034e5c58a559e81d</string>
			<key>Patch</key>
			<string>iBSS.n42.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,2_8.2_12D508</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-06811-149.dmg</string>
	<key>RootFilesystemKey</key>
	<string>fa7c9d7ec9e3bfa827d78996003010182d7004c5de1d12bc90468bc65720528f33ff2509</string>
	<key>RootFilesystemMountVolume</key>
	<string>OkemoZurs12D508.N42OS</string>
	<key>RootFilesystemSize</key>
	<integer>2046</integer>
	<key>SHA1</key>
	<string>31cb980955c40ef6411ef2be2cd1f3bf641ec509</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>