<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone4,1_8.0.2_12A405_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-04585-039.dmg</string>
			<key>IV</key>
			<string>bb105c8b49bef60e3fbdfcdca2899f4e</string>
			<key>Key</key>
			<string>17de5de8ed69eaa9dc1c57972ded5240366990d62481aaf19a5bbaed88837d32</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>daeb7e21073e3aebc1273be68522080f</string>
			<key>Key</key>
			<string>e096cba903f61239678a726f1767c2df3c47260dcbefccebd4d0f52b2fafb2fe</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>3af37a6f1b28dde2f5b536ca3e4e404a</string>
			<key>Key</key>
			<string>059e2c17a33c3043a6fccfe5e0f8fe5852b2ed7d8c9839a64e8ca29a0438f445</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>a6264aca22b6ed2f944c43c33b42dee5</string>
			<key>Key</key>
			<string>7a3cd43374a17fc906bcfe6e380c0ccc2812b93c2e31ba56dc8630457a0f36c3</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>706ca224dab436acd81825bb4ad82f10</string>
			<key>Key</key>
			<string>865e7f3e636f136cfa0484a5b8bcc221d2ea6331ac53171b163909bcdfe35ad7</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>450153916d81ce0339d118b7fd962617</string>
			<key>Key</key>
			<string>6ae3daa6921380f920f451ba4cd3344a3683dc0a2420236d74089a97e67104da</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone4,1_8.0.2_12A405</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-04727-039.dmg</string>
	<key>RootFilesystemKey</key>
	<string>1c57055395bd29ff3c9464c286bcc46d6c72b88b5e6ff20ad698e64eb655a29aeb0fd66f</string>
	<key>RootFilesystemMountVolume</key>
	<string>Okemo12A405.N94OS</string>
	<key>RootFilesystemSize</key>
	<integer>2238</integer>
	<key>SHA1</key>
	<string>67710e1a325be26a7d0ae27da31eb4653fc5bcd5</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
