<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.p101</string>
			<key>IV</key>
			<string>45ba8e49497df1a50cd96e446aa902ac</string>
			<key>Key</key>
			<string>2eeb820ede529a147314052e9b9c0996f517c3aa7d466a7cd15a94e3e75d495a</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.p101</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2592-005.dmg</string>
			<key>IV</key>
			<string>a6714f6c22a9feca7f0637e35097a6ab</string>
			<key>Key</key>
			<string>d1263df11962fc3a532fca03fd21fd5dc162f86b48144b707ce560b39d67c952</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2666-005.dmg</string>
			<key>IV</key>
			<string>b6f0c527e17b127cc951b7228b4c403e</string>
			<key>Key</key>
			<string>b768e5a532a1d4f43bc94ad2629f09ccdbb3177383b9d4f114cca5f2cf218a00</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p101ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>15f8006f543aaca08b9229028ac330a6</string>
			<key>Key</key>
			<string>5aeaf360c9ac962e7a242569d3ac9f39638f06ed1647b22361261227d3e37c1f</string>
			<key>Patch</key>
			<string>iBSS.p101ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p101ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>7c12a9484c7ed359a3bfbdbcdc162e9d</string>
			<key>Key</key>
			<string>71bdd494d7a37eb51a6e78988926f4fe1d4d5d91044d6afa40ecf10f58c7e559</string>
			<key>Patch</key>
			<string>iBEC.p101ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p101ap.production/DeviceTree.p101ap.img3</string>
			<key>IV</key>
			<string>b027ec690d0d7e068a5159ad8b1d5c91</string>
			<key>Key</key>
			<string>60a696fb48feb674f208b2fe1ec5ea3c32d89718fafaa2f40ef1d8b0221a49f9</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.p101ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p101ap.production/applelogo@2x.s5l8955x.img3</string>
			<key>IV</key>
			<string>0b3039938f871fde4379bed616e2ee4e</string>
			<key>Key</key>
			<string>3dfdcb1cadf1fcae2cbbc3ed65f69624eed1220d7fde3ed59130cc8446055547</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8955x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p101.plist</string>
	<key>RootFilesystem</key>
	<string>048-2457-005.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1457</integer>
	<key>RootFilesystemKey</key>
	<string>1e048f139b8638c956d5e915dae54df52c7c8a50ba2d22061f66baeee6e6572802b721e4</string>
	<key>RootFilesystemMountVolume</key>
	<string>BrightonMaps10B329.P101OS</string>
	<key>SHA1</key>
	<string>e4de25259eff8deb00859c0482e57c02630b3103</string>
	<key>Filename</key>
	<string>iPad3,4_6.1.3_10B329_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad3,4_6.1.3_10B329</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
