<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone4,1_8.1.3_12B466_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-12115-017.dmg</string>
			<key>IV</key>
			<string>971872190a80415b801c04d4176ef900</string>
			<key>Key</key>
			<string>021247a03ee3951a13b0626cfa12ccfd3043fe53e835421c8867c02e20ffbea3</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>dce0081a6b1048f98004fecb8e760521</string>
			<key>Key</key>
			<string>2a5cbb42bb92dba6bec89f80497e2f780519f67984d8fd864fb5dd059dd8e62f</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>192db1b6b87c2dc1ec211c39ba20fffe</string>
			<key>Key</key>
			<string>c0473861e1ccb2d75f96327530c41ec21225ca6d23698624424b27f538408cbb</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>0d8cc5a4fe43528c9e6c4d1c0f6a8039</string>
			<key>Key</key>
			<string>17d4d5f057e0323dafe48a2d1e07653f6ba1b6ae45e57bed97c16bcbf2024e8b</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>28f1ce78c927962cd942bd07f627fc24</string>
			<key>Key</key>
			<string>4d325f83c84d08ee40f4e2cc9c78b872460a9d436658b450fad7d01b59646fd3</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>7de3dc6457cc5546ce9e4215f8d7766e</string>
			<key>Key</key>
			<string>76fc4db53383cd2231e7499d64ba22762c5553addaf24c5a7aee7f38a8e5c54b</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone4,1_8.1.3_12B466</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-11860-017.dmg</string>
	<key>RootFilesystemKey</key>
	<string>1077a38a9c5d449778d8fcd35efd4698d8515b04c750a8cc65d43512b01e8ecbb4eecd6a</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUOkemoTaosTwo12B466.N94OS</string>
	<key>RootFilesystemSize</key>
	<integer>1996</integer>
	<key>SHA1</key>
	<string>44455be722f52301a10a19f2b9cb8ceedae79eab</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
