<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>aa1c2fd606341c637e414ef8804ee6e7</string>
			<key>Key</key>
			<string>82b3e62584e5ab941343edc38cd359145785b9985dce32b71393feaae66e8672</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-25131-078.dmg</string>
			<key>IV</key>
			<string>3408202cee80cdc91a72e907edf428a3</string>
			<key>Key</key>
			<string>6c9d03651ae572c7a989cd6778ea0169687c9d80058985bf11c80d879914068c</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>54023bd6dc4e66b25faab33b4ca539e2</string>
			<key>Key</key>
			<string>72e94c99ec5dd4aa661b182b9e941c9b8aa405574e815d4f33b26a0794dd6541</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>5fe64b47127144dd3c227c49cd7b5139</string>
			<key>Key</key>
			<string>2efabc40bbe31b783d7456de44a021ad60214dfcc3d239c27b3597f64ec6e506</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>72c99dded09fb78a32c0f06f2adc985c</string>
			<key>Key</key>
			<string>09f8f7671ee58160d6309bcdb4ecc82551dd90d63ab835c23df76cb6ade8da2c</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>d026c71ac1428f749277ce3df41bc253</string>
			<key>Key</key>
			<string>b0d58c924bd11c2310b4e625f4ed1aae735f0c627fe41ce818ed33c5526b6763</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restored_external</key>
                <dict>
                        <key>File</key>
                        <string>usr/local/bin/restored_external</string>
                        <key>Patch</key>
                        <string>restored.patch</string>
                </dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>058-25367-078.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2040</integer>
	<key>RootFilesystemKey</key>
	<string>6c283f89b301cee9d53e4b140753f34cbc69ce53713a6c8b9a9384404e115875be9687a3</string>
	<key>RootFilesystemMountVolume</key>
	<string>Boulder13B143.N94OS</string>
	<key>SHA1</key>
	<string>4a5a2affb370fe52d7d73132bf67fd985e5290e5</string>
	<key>Filename</key>
	<string>iPhone4,1_9.1_13B143_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_9.1_13B143</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
