<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone4,1_8.0_12A365_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-04585-035.dmg</string>
			<key>IV</key>
			<string>695e48bff1ea62df083b45a878b59a03</string>
			<key>Key</key>
			<string>3051089db3a599aea9a4755f252ae0c595728b2f3354eac8e02810f526b9f253</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>652379a289d9f1bc3605ad5856b88d10</string>
			<key>Key</key>
			<string>95e6810d0597b5b79a5ccaa3dec0b968eb66c4254014f92f575151d50713a84c</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>fac7b6a9cf6d4f47b96fc52093f13ad7</string>
			<key>Key</key>
			<string>a85518a6d768ed47672ad86408b40c0624015b694a81405c5ca769157aca3798</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>5c3fc8dd38ff9bc5d4e9ce6f1579b715</string>
			<key>Key</key>
			<string>14ebbe590ddbd067aa712a4ac4861c6ddd806ef52f03e456f10bf8bd647f51dc</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>a5e58c5aa501fa4869580d3367918683</string>
			<key>Key</key>
			<string>6e02e54ed9b2193b79e86000c12871a82eac3ae4fe0d59ed89c5b233057d307a</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>6c73c335bc30cb548c0eb33dc637957f</string>
			<key>Key</key>
			<string>01162c2e3fb2f53cdd6cc0e3460b6717408f2f22ca60098d25af381a8b097322</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone4,1_8.0_12A365</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-04727-035.dmg</string>
	<key>RootFilesystemKey</key>
	<string>5059b2da95c93f754ce4a701cf6564877dfee899ad884d78f3403dcec7bbd6fe6d3079a8</string>
	<key>RootFilesystemMountVolume</key>
	<string>Okemo12A365.N94OS</string>
	<key>RootFilesystemSize</key>
	<integer>2207</integer>
	<key>SHA1</key>
	<string>ad1634d28be520671612af513e9eff699e649f0b</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
