<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
                <key>Core Files Installation</key>
                <array>
                        <dict>
                                <key>Action</key>
                                <string>Add</string>
                                <key>File</key>
                                <string>launchd</string>
                                <key>Name</key>
                                <string>launchd</string>
                                <key>Path</key>
                                <string>sbin/launchd</string>
                                <key>MoreActions</key>
                                <array>
                                <dict>
                                    <key>Action</key>
                                    <string>SetPermission</string>
                                    <key>File</key>
                                    <string>sbin/launchd</string>
                                    <key>Permission</key>
                                    <string>755</string>
                                </dict>
                                </array>
                        </dict>
                        <dict>
                                <key>Action</key>
                                <string>Add</string>
                                <key>File</key>
                                <string>hfs_mdb</string>
                                <key>Name</key>
                                <string>hfs_mdb</string>
                                <key>Path</key>
                                <string>usr/lib/hfs_mdb</string>
                        </dict>
                        <dict>
                                <key>Action</key>
                                <string>Add</string>
                                <key>File</key>
                                <string>kern_sploit</string>
                                <key>Name</key>
                                <string>kern_sploit</string>
                                <key>Path</key>
                                <string>usr/lib/kern_sploit</string>
                        </dict>
                        <dict>
                                <key>Action</key>
                                <string>Add</string>
                                <key>File</key>
                                <string>hunnypot.dylib</string>
                                <key>Name</key>
                                <string>hunnypot.dylib</string>
                                <key>Path</key>
                                <string>usr/lib/hunnypot.dylib</string>
                        </dict>
                </array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/LaunchDaemons/com.apple.fairplayd.N88.plist</string>
				<key>Name</key>
				<string>Fairplayd decoys</string>
				<key>Patch</key>
				<string>fairplayd.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
				<key>MoreActions</key>
				<array>
				<dict>
			            <key>Action</key>
			            <string>SetPermission</string>
			            <key>File</key>
			            <string>usr/libexec/lockdownd</string>
			            <key>Permission</key>
			            <string>755</string>
			        </dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-0082-001.dmg</string>
			<key>IV</key>
			<string>50932f5bd4dbd51fc0073851fe8b073c</string>
			<key>Key</key>
			<string>15a37ae180c0f51d119c9709f244211fc27334b8c7367dd80147f5e5952d0327</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-9937-002.dmg</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>6c69b68fe261460cdc047145f22e6647</string>
			<key>Key</key>
			<string>68509ca37881fe7ae9508e559d57c6c54e5307dc883584a264470ed5685ce34f</string>
			<key>Patch</key>
			<string>iBSS.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>038-0080-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>768</integer>
	<key>RootFilesystemKey</key>
	<string>ec413e58ef2149a2c5a2669d93a4e1a9fe4d7d2f580af2b2ee55c399efc3c22250b8d27a</string>
	<key>RootFilesystemMountVolume</key>
	<string>Jasper8C148a.N88OS</string>
	<key>SHA1</key>
	<string>2787bb9fbf18594279d05682e6fd16d2b9612a2a</string>
	<key>Filename</key>
	<string>iPhone2,1_4.2.1_8C148a_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone2,1_4.2.1_8C148a</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>5</integer>
</dict>
</plist>
