<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k94</string>
			<key>IV</key>
			<string>20bb74612602ff21c666be2454549e22</string>
			<key>Key</key>
			<string>44056aa43e40a302f2350f58b0da8d6b8874a67eab0067f9f506624c49a719ef</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4442-009.dmg</string>
			<key>IV</key>
			<string>b56b49cbcd6538d195bca0a9b1823c97</string>
			<key>Key</key>
			<string>0959e15bc15d9d08847ca16a8bce4d74b1cf0ef6b27a24d43e18802059d57047</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4228-009.dmg</string>
			<key>IV</key>
			<string>aa637c55bc1148d0bb7f4002ec4c7eb9</string>
			<key>Key</key>
			<string>853809ca5f7068e39f1b3dc227aefcc67d67c1bead53159b21862e62978669ab</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>a0d8d1a8c733ff34b69e23fecca55df0</string>
			<key>Key</key>
			<string>f92c9ab3ddf0bc4fcc402c74c18eb27f56b0bc77d61527e16867f845bfc4706e</string>
			<key>Patch</key>
			<string>iBSS.k94ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>c383edf279961e0544725829460000d5</string>
			<key>Key</key>
			<string>cfa37cd15e1f9a39397038b5bfd78942e858bf0562fc8d9278c724e57aed125d</string>
			<key>Patch</key>
			<string>iBEC.k94ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k94ap.production/DeviceTree.k94ap.img3</string>
			<key>IV</key>
			<string>91b8d73e6f3a7d0c3d9b74154ee463cc</string>
			<key>Key</key>
			<string>74e0f36d2912738b75e30d5341bd9394e8155943748129bd130163ad463346fd</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k94ap.production/applelogo.s5l8940x.img3</string>
			<key>IV</key>
			<string>bc449960341e8921d31f922b022ee4fa</string>
			<key>Key</key>
			<string>ffe5bfb38bad58ea0a3d69575faa9773c23b81623e45522820375420d1fabf06</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k94.plist</string>
	<key>RootFilesystem</key>
	<string>058-4169-009.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1443</integer>
	<key>RootFilesystemKey</key>
	<string>3291cc1cdafa1d35fc3ae6e09f5a868a7ceba41369461dd4c82293993c0caa4f2c2ec450</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sochi11D257.K94OS</string>
	<key>SHA1</key>
	<string>F726D4ADFB4D8AB851B50048B78EF3E266FFE09A</string>
	<key>Filename</key>
	<string>iPad2,2_7.1.2_11D257_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,2_7.1.2_11D257</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
