<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>9d717081257935365963cf75160ec905</string>
			<key>Key</key>
			<string>82c5150264125f425028e72bdf6bc5c7011e82c6012aa181587f99d75549a526</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-49412-035.dmg</string>
			<key>IV</key>
			<string>000b626cd04804e14f0a24cb9d79eb00</string>
			<key>Key</key>
			<string>3d7a42b6ea0bd508ebffed8272887bd106d77218f2c4a1ce19d2c813e8d9b4cd</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-49032-035.dmg</string>
			<key>IV</key>
			<string>7cf0ce762c7c57fa91ed246d276c34e2</string>
			<key>Key</key>
			<string>ff8eaeb1c2d37e907c6f1e0b19888d91280833eb08fbdc7b7a31c0a63fd121eb</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>8684ffe8f07bd36e592c6144278024d2</string>
			<key>Key</key>
			<string>42e1f025cee406719f7de3ba3337521f44dc3f08d5bead4345cabb8d35b9ede7</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>43dfe57004c7dcf7997817105767e4f3</string>
			<key>Key</key>
			<string>34810174d40d320683f80dd15cc9262321600138b1ca23f80c845d5b4c5cb70b</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>d6b9de28c39d3568ac9afb50d034e37a</string>
			<key>Key</key>
			<string>65c5358186a0d4bbc4d6a351f471de2be840f7d0bdf9f2716212f750361452cb</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>be2b0bfc7cf7dd7994ba68bd6f4ea761</string>
			<key>Key</key>
			<string>4a7da62f79d75cbd9a5e7768fc7f7930ba8c1f7b1d246cecbf71fc87946f7d83</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>058-48374-035.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2017</integer>
	<key>RootFilesystemKey</key>
	<string>1c016b9999d81b0a624bb3f0a5b11a354bd0ff8666d7e5c26e4f7d117b978198bb4195c9</string>
	<key>RootFilesystemMountVolume</key>
	<string>Genoa13G35.N94OS</string>
	<key>SHA1</key>
	<string>08086584704bf755a6124407df4db8d97f4d6bc2</string>
	<key>Filename</key>
	<string>iPhone4,1_9.3.4_13G35_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_9.3.4_13G35</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
