<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,4_8.1.3_12B466_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-11793-017.dmg</string>
			<key>IV</key>
			<string>47edb1f3da874fb2ed16a48d640bf817</string>
			<key>Key</key>
			<string>b880d593677ccb0354956663a7e384a3963b14024ee0a30d4c48bda5a79bc72e</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n49ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/DeviceTree.n49ap.img3</string>
			<key>IV</key>
			<string>c6ed7c20db6754d58e9646930fd6b907</string>
			<key>Key</key>
			<string>bab28461c1cbcc7e03081c80dbd701f4252d2ace18a21fe91a55a0219bbdaab4</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n49</string>
			<key>File</key>
			<string>kernelcache.release.n49</string>
			<key>IV</key>
			<string>8f682ce3debf445f4bce584036260075</string>
			<key>Key</key>
			<string>3f6b771a8a0991716c81e93714b96b8bc52a6a8cc726d703f4566882d0cf9542</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>35d385d7bf22f7fa071f72f38e2c8bde</string>
			<key>Key</key>
			<string>d6fd175f1f3bae75721525d6d713a67d1c357af457cc7f00a218b23bfa05fc51</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n49.RELEASE.dfu</string>
			<key>IV</key>
			<string>61674d10062f1528dd0098648bd24c64</string>
			<key>Key</key>
			<string>e2d0de0f529e7400f30ed0f1a6871ad3f9f621a5777ac0516ac4751534a9130b</string>
			<key>Patch</key>
			<string>iBEC.n49.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n49.RELEASE.dfu</string>
			<key>IV</key>
			<string>0fc332fdaf65e9107351b6089b1f5f03</string>
			<key>Key</key>
			<string>fe8a2429599f03e3ad53f3d84d2ebe735972bcb4df4ba14348b0048bf8b9b7c6</string>
			<key>Patch</key>
			<string>iBSS.n49.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,4_8.1.3_12B466</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n49.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-12213-017.dmg</string>
	<key>RootFilesystemKey</key>
	<string>a8e72196deb8c0da3b150d5d26e43e7dbfd654ccb2beada9a537d1e23ea05906f1412e25</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUOkemoTaosTwo12B466.N49OS</string>
	<key>RootFilesystemSize</key>
	<integer>1971</integer>
	<key>SHA1</key>
	<string>9028136a56896efa69457827798afa435d28dbca</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
