<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n78</string>
			<key>IV</key>
			<string>e6bd66216549f0c173aa059aa4815a0f</string>
			<key>Key</key>
			<string>179a0ad11683fa99be1d8f3ea20fb9263bf98fddccabae3ffec4e455f462aec7</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n78</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-15872-140.dmg</string>
			<key>IV</key>
			<string>bf71cf9029bf6e9e9a56ce18fb2186c4</string>
			<key>Key</key>
			<string>b36223b665649838fa08b80458d57b17aba57c556f9a7efd90fd3df07243ffae</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n78.RELEASE.dfu</string>
			<key>IV</key>
			<string>0c5e9e7705e81efaa58f3cf52857829b</string>
			<key>Key</key>
			<string>e4119ce7452c66404c377143f8b71c72af3d5c4f676e067a25d272092a51adf8</string>
			<key>Patch</key>
			<string>iBSS.n78.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n78.RELEASE.dfu</string>
			<key>IV</key>
			<string>ac9daaf9e5e423916c8fd698092c61f4</string>
			<key>Key</key>
			<string>9d38b3c0a08fe719d10177906516ed500c3584ac1f32449d80df47d6ca4f775e</string>
			<key>Patch</key>
			<string>iBEC.n78.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/DeviceTree.n78ap.img3</string>
			<key>IV</key>
			<string>493f1e4b441708e06530336fb661c4a5</string>
			<key>Key</key>
			<string>fcd0c65f085111b3f05ec444a9f034a737ee79b95077de0188c6fd6f6db21366</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n78ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/applelogo@2x~iphone.s5l8942x.img3</string>
			<key>IV</key>
			<string>d29c610167611d534eae0a11899991ec</string>
			<key>Key</key>
			<string>fd112b59d9d15c773ade37778f0e94aa188b15cc6f457ef6a1d04c7d020e6fc6</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n78.plist</string>
	<key>RootFilesystem</key>
	<string>058-15910-140.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2004</integer>
	<key>RootFilesystemKey</key>
	<string>4fde45e71e89f70afba3bfac0a7db3b85256167b406cc884809a97546efb0344f41ce539</string>
	<key>RootFilesystemMountVolume</key>
	<string>Copper12H143.N78OS</string>
	<key>SHA1</key>
	<string>ba04c943ff535ac4059345b5877a54fdcc2523f7</string>
	<key>Filename</key>
	<string>iPod5,1_8.4_12H143_Restore.ipsw</string>
	<key>Name</key>
	<string>iPod5,1_8.4_12H143</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
