<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.p105</string>
			<key>IV</key>
			<string>ba7248e78666a52b2acdc9abfba8cfb8</string>
			<key>Key</key>
			<string>45945d0d42cedd74177349fc6bb8ac3708e9083644efae7a20b38697b0f67172</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.p105</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4322-012.dmg</string>
			<key>IV</key>
			<string>052038f32cdfcfa28231eb19484976ec</string>
			<key>Key</key>
			<string>1c032c2eaafa6601182a5e69a142897a6517026e29ae0ee7ea5319fe9e4665a1</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p105ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>bd49ad768b1c78adff541d2be508c2de</string>
			<key>Key</key>
			<string>956c1756398e3d25bcfde4422f0e91f75a8c43457a0852c4d2d8e478ec78a418</string>
			<key>Patch</key>
			<string>iBSS.p105ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p105ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>c0899039b1eb1cf94cf2fb2faf275ea7</string>
			<key>Key</key>
			<string>2210f8dc09a96e7e070348d5fd7903534ce00dc6fff79f61f04bc3cb6b671586</string>
			<key>Patch</key>
			<string>iBEC.p105ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/DeviceTree.p105ap.img3</string>
			<key>IV</key>
			<string>ee47c72af3207407965809bf9e0b21a3</string>
			<key>Key</key>
			<string>8d61bc56e09f64e9c6bb58822a631315b3246a8fb7eef13b9119eb32409e775e</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.p105ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>c75e51a472fb8665608cb545e359aa69</string>
			<key>Key</key>
			<string>3567afbb81c4761fa4f5ed02c0e6ea1825772ee25c0eb985dabc0c78edbf7624</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p105.plist</string>
	<key>RootFilesystem</key>
	<string>058-4369-009.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1556</integer>
	<key>RootFilesystemKey</key>
	<string>0879e46e5e8bf77532cc043f303cfb2d470e41023551d6d34293dc46dd30b1515558821f</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sochi11D257.P105OS</string>
	<key>SHA1</key>
	<string>7b446aaee1334ef9ac9ac38353457d01ccc1dcf0</string>
	<key>Filename</key>
	<string>iPad2,5_7.1.2_11D257_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,5_7.1.2_11D257</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
