<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,2_8.1.3_12B466_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-11793-017.dmg</string>
			<key>IV</key>
			<string>14f5bf00ac0da513fc8abbfd7a2a382b</string>
			<key>Key</key>
			<string>a485e3a0875ca6e2904db8b99255bedb04a53359d4c7afd6883e816794fa37ba</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>e9a7252a9be238eb5864bdb99cdbb988</string>
			<key>Key</key>
			<string>d0593d645c2131cabafd7efb845009cb71c1e55407b6847d701260d1dc7728c3</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>f4a7b544cfbcd5b5e6b6440ddb388245</string>
			<key>Key</key>
			<string>d0c36ab347287be3c7e713f6739f5bd28bb614df36b274530ca49617ef35303e</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>35d385d7bf22f7fa071f72f38e2c8bde</string>
			<key>Key</key>
			<string>d6fd175f1f3bae75721525d6d713a67d1c357af457cc7f00a218b23bfa05fc51</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>c1fadaacf412ca9cf85ea4ed896d6c1e</string>
			<key>Key</key>
			<string>2d0291423020a7afa399d141fc43479d3abf6c60db7606c8266f2d6db1757741</string>
			<key>Patch</key>
			<string>iBEC.n42.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>8cee17064be9506a55616104260d6457</string>
			<key>Key</key>
			<string>896ef5fe1bbc459ec42775a2961fb80acd0d5b2818c9a0ddf30723e6b7affb9b</string>
			<key>Patch</key>
			<string>iBSS.n42.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,2_8.1.3_12B466</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-11921-017.dmg</string>
	<key>RootFilesystemKey</key>
	<string>bc1876d9c4e0e5dbfb41b51dd476687cab6100446379c99491bec1fc4799af3f0b4c1b7f</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUOkemoTaosTwo12B466.N42OS</string>
	<key>RootFilesystemSize</key>
	<integer>1962</integer>
	<key>SHA1</key>
	<string>f531c36b01a8b41037c1bc8f35ba595ec8b6d974</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>