<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>f7f06f30fe55de78f1000def44f7c62f</string>
			<key>Key</key>
			<string>279aa79d78b5b2fb9cce14a94314e41ec26011742b32cef681e2a8193afbff77</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-8911-002.dmg</string>
			<key>IV</key>
			<string>53eaadb40471d54d170b653af80fa6f2</string>
			<key>Key</key>
			<string>bf003232e14d4251d12493a59f2ec017b10b186227584ff0174decf64ec00dec</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>63f7bd333f882c875ee8b2476cf19831</string>
			<key>Key</key>
			<string>85f1fa8bb3bfbbeaf37d1ab1553bb147e91e390c599a492081ef97e759f6b30e</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>3e37e0d0843b3e288896e0efbae18064</string>
			<key>Key</key>
			<string>c70d059c5593d159ef7b54c1d97e4f84599e77ea018b3879d70b2529b2d9f8a1</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>f218f463d74f2a7967ebce7ec8ec79a5</string>
			<key>Key</key>
			<string>506058c72213e48a546dc3a79f5f29df44b0c019e008790a2e204f71724c54cb</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x.s5l8950x.img3</string>
			<key>IV</key>
			<string>328e282c9e60a9380b92845a22894cf1</string>
			<key>Key</key>
			<string>6127304e4efee11d6c4f369cc43395c2bf40a0c068045d8a99d3f6294159c086</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RootFilesystem</key>
	<string>038-8918-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1280</integer>
	<key>RootFilesystemKey</key>
	<string>9292012c9a4a19454e8ae13b13e93dc2991cc76f568893d271bf3aa8b6ac8acc6fbc9265</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sundance10A525.N42OS</string>
	<key>SHA1</key>
	<string>cc306ca0ae099ed90f3d85ac120b6d0f3b0cdb87</string>
	<key>Filename</key>
	<string>iPhone5,2_6.0.1_10A525_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,2_6.0.1_10A525</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>