<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.p105</string>
			<key>IV</key>
			<string>64b70c7c007e869f741b58245e153bdf</string>
			<key>Key</key>
			<string>f9e7373107293c2d76942d0073a7447278c0db61b11dc6bb0cd39871e1d8637b</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.p105</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-2358-001.dmg</string>
			<key>IV</key>
			<string>247a33214d3b3f589dd2fcbab2586591</string>
			<key>Key</key>
			<string>ac7e71197ef8661be248f848e6802efc9637762e28e3f33e87b7e0c91410bb56</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p105ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>689a434fae4e35a6900e2231727f29a8</string>
			<key>Key</key>
			<string>1024ac133f93d17d2c371809c1dc981168c7a2035ce8e0aba37bb1f6cef2fde8</string>
			<key>Patch</key>
			<string>iBSS.p105ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p105ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>e3b368f4837f3075d2bbd9087f2f9fa5</string>
			<key>Key</key>
			<string>8f1e7d6fe97a596f40c398b29e97cf7ea935f9c2fbf80378faf3c04b370fc9e5</string>
			<key>Patch</key>
			<string>iBEC.p105ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/DeviceTree.p105ap.img3</string>
			<key>IV</key>
			<string>0447587be876f0e9fc8d6a96c11a4c58</string>
			<key>Key</key>
			<string>df0ab5def19c7521bf6c55c4588b5e685c5c474aa49d86d9fd283dd5caddc07e</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.p105ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>e79bf540ddaa16624ca2e177437de9fa</string>
			<key>Key</key>
			<string>724b5c35ab73cd103092d0b95219f8e60102598588daece94d5367fa3f3df949</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p105.plist</string>
	<key>RootFilesystem</key>
	<string>058-2372-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1496</integer>
	<key>RootFilesystemKey</key>
	<string>c49f78884d24a93b821a826de11e81e21fdf0688bff16c055fb3fbf1e744091daa0feb38</string>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B651.P105OS</string>
	<key>SHA1</key>
	<string>7a65128ca6ae525492e4bc67e8c5167fbb46560f</string>
	<key>Filename</key>
	<string>iPad2,5_7.0.6_11B651_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,5_7.0.6_11B651</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
