<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,1_8.0.2_12A405_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-04628-039.dmg</string>
			<key>IV</key>
			<string>7bfddf291e46bdce02b00453017b92db</string>
			<key>Key</key>
			<string>25997a7ee3ee1da71b1f56fd4c2a163bbbe74dded4992bd1b23c193713716e47</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>82ba6cffe99f99d463d46b504a62baf8</string>
			<key>Key</key>
			<string>76ed8c19e18e5b3519c4851194e48574923039ef0ea51fc259045102631db948</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>IV</key>
			<string>73b1e3673e7bffe65c689b9a6d2442d9</string>
			<key>Key</key>
			<string>d597207aef4461ecccf63e66d6d12b0bc19553f0e9c2d89d41cb7023d88408d4</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>3f21235489e5c5e6092f65c4b63e054e</string>
			<key>Key</key>
			<string>6f175ccf6e6c980ab6d6eb7a80622fde81464a65632b5c1b289e66c52ecec567</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41.RELEASE.dfu</string>
			<key>IV</key>
			<string>479d40b746719e7684435b15e5e21ed9</string>
			<key>Key</key>
			<string>972be948a1f33a93c88d4b4af8834fe8000a49f0ad406b31d98363b66b6b8b6c</string>
			<key>Patch</key>
			<string>iBEC.n41.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41.RELEASE.dfu</string>
			<key>IV</key>
			<string>10bdf0e7b69d0567399ad20e31e61686</string>
			<key>Key</key>
			<string>77841f941ff0770078e6405b2cafedaf75060b72666e71df7757d56eff23d8a8</string>
			<key>Patch</key>
			<string>iBSS.n41.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,1_8.0.2_12A405</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-04803-039.dmg</string>
	<key>RootFilesystemKey</key>
	<string>4387cb836a21ed1fb65f3267c16fcd9b50a257cca4aacb0654aeca512ccf89a0ea62b5e9</string>
	<key>RootFilesystemMountVolume</key>
	<string>Okemo12A405.N41OS</string>
	<key>RootFilesystemSize</key>
	<integer>2224</integer>
	<key>SHA1</key>
	<string>8706a73b77a52170b6a7cc61ffcd68742457f12f</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
