<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k93a</string>
			<key>IV</key>
			<string>c7d5383c168f8dde1fc17ff1e6c22d67</string>
			<key>Key</key>
			<string>3bc9271dec7b7b5f816e33ec9c41d2d1880dd12cbec640d49a8635a7e768e190</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k93a</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-15872-140.dmg</string>
			<key>IV</key>
			<string>40b42661c3313c5e2e1ed5e496b067a0</string>
			<key>Key</key>
			<string>49ad455e16c18f3c5d7879907801becf66712eef6b8ac0ddf28df3e22d1df0f7</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93a.RELEASE.dfu</string>
			<key>IV</key>
			<string>0dbcaee521c5181072df30765431b6d5</string>
			<key>Key</key>
			<string>d2f60c467ebb63916815a9f018794bc8707bf8f30c4977e806e13c5e93dd80c2</string>
			<key>Patch</key>
			<string>iBSS.k93a.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93a.RELEASE.dfu</string>
			<key>IV</key>
			<string>feae7bef5c12bdf3aec3940f56fc47d9</string>
			<key>Key</key>
			<string>2075341fe5ff985faaf8a227790ab0c1fd325790049f59672a1bf5494ddab388</string>
			<key>Patch</key>
			<string>iBEC.k93a.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/DeviceTree.k93aap.img3</string>
			<key>IV</key>
			<string>8b6d3ec077f829400673418768e551a3</string>
			<key>Key</key>
			<string>9fb3dacdcc362aa02586083eecc9ee2322c415ab9a2b741f7dc68198a191578b</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93aap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>16a638317198a9f960ec57ec669e8490</string>
			<key>Key</key>
			<string>b12dd2096902d2ba57e5e061bdc43fa2680203b7317d7fbda82da3765f951946</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k93a.plist</string>
	<key>RootFilesystem</key>
	<string>058-15771-139.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1786</integer>
	<key>RootFilesystemKey</key>
	<string>99bc5b63e223b41a63afa6bb0c00e0b77d10dd1fe36f8e319c7a54f8da52a42f5610c75f</string>
	<key>RootFilesystemMountVolume</key>
	<string>Copper12H143.K93aOS</string>
	<key>SHA1</key>
	<string>e594a4f9570725457e543504ed818ac4513c44e3</string>
	<key>Filename</key>
	<string>iPad2,4_8.4_12H143_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,4_8.4_12H143</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
