<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,2_8.1.1_12B435_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-09687-016.dmg</string>
			<key>IV</key>
			<string>a0b5a35b722a05cacf42e266ab39bade</string>
			<key>Key</key>
			<string>9b8a64cbfddb251f5fbd4ed67cca5b984abaca18241c861839956b3f6157ecc4</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>42cc09e0066c3ed22614d4f4a8e0b64d</string>
			<key>Key</key>
			<string>7cbe897b1fd79ffac325d488e0a66dbfef41bd2fe9154d461994f949da6fe164</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>821f9e859ef65d952f630222141b7398</string>
			<key>Key</key>
			<string>a9cd3daafa3bba6361fb6b39158a9601ff74c012bb1c64d37cb159ad58a421be</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>0f26e4182ed76e6f2465e372f70b2d94</string>
			<key>Key</key>
			<string>087b3b6f0a7b36f715ba28a32c1faf68d3c37bd50f03bf2e60eaeb2a6c6fdc3c</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>cde9a2ba5d681f5d0aef7ce4df492c70</string>
			<key>Key</key>
			<string>19f5dd200a38c6b1f3247c45961a9efa7972f09460d9cea28ede12dfd2d7f013</string>
			<key>Patch</key>
			<string>iBEC.n42.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>c01e798b8fda286928c12c8c9820ae7c</string>
			<key>Key</key>
			<string>242fe2c197a8896a6c95cd28e558ecec482504a156d6044918f8fa99a876ab4b</string>
			<key>Patch</key>
			<string>iBSS.n42.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,2_8.1.1_12B435</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-09875-016.dmg</string>
	<key>RootFilesystemKey</key>
	<string>3197442674ab3c99b3877aa2ab89f120ed84c424186e97782959d5f68d070e615a5efa7c</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUOkemoTaosTwo12B466.N42OS</string>
	<key>RootFilesystemSize</key>
	<integer>1962</integer>
	<key>SHA1</key>
	<string>72a3b8ec1390eeca817b9dac607e41d1e7c37975</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>