<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n78</string>
			<key>IV</key>
			<string>00914a27eeae4f60fa89b7110470c5cd</string>
			<key>Key</key>
			<string>6e827177191922b1501f48cd983b01d587478291276581766150828553be325f</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n78</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-14533-072.dmg</string>
			<key>IV</key>
			<string>d959fd3f8c76ad67ffe9dabc6249778b</string>
			<key>Key</key>
			<string>b869d68f99017ed1c8cf09ca4225d887db051cfb133a318efd5a2ebf7192875d</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n78.RELEASE.dfu</string>
			<key>IV</key>
			<string>1355a1c5a3d5da69d3efa04687ab1ee3</string>
			<key>Key</key>
			<string>5c00cd2f14abd8cefb03b85b0a74f18b82192dbe816c270ed175d0ef826577f1</string>
			<key>Patch</key>
			<string>iBSS.n78.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n78.RELEASE.dfu</string>
			<key>IV</key>
			<string>eefe604df9e11833e57addc6c6f0f1a1</string>
			<key>Key</key>
			<string>1ebcac2b098d66763e260ab1674a40d61a4854b64a2ab2fcced59a2dbcf2425b</string>
			<key>Patch</key>
			<string>iBEC.n78.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/DeviceTree.n78ap.img3</string>
			<key>IV</key>
			<string>b2c5b68e5ee05a191e110125a8efff0e</string>
			<key>Key</key>
			<string>abf730d576eb6749fd1e5f06a3026bf8c6b75320bf155ee9271a3afe8b2b39e8</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n78ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/applelogo@2x~iphone.s5l8942x.img3</string>
			<key>IV</key>
			<string>50e54c9195b1f78db2694b41f617c7fc</string>
			<key>Key</key>
			<string>614e1d7ce4cee0a4c82b8cc1b34262202f696e17b1a053bed2b89f84f4964df3</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n78.plist</string>
	<key>RootFilesystem</key>
	<string>058-14578-072.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1991</integer>
	<key>RootFilesystemKey</key>
	<string>3cf3beb96107d17856aa7f835055a4fa5cbb587d3c953b084be3af7fa5aea9b88e73b557</string>
	<key>RootFilesystemMountVolume</key>
	<string>Stowe12F69.N78OS</string>
	<key>SHA1</key>
	<string>ff5eadce79799f38a5442c25ea863feb244ff1c5</string>
	<key>Filename</key>
	<string>iPod5,1_8.3_12F69_Restore.ipsw</string>
	<key>Name</key>
	<string>iPod5,1_8.3_12F69</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
