<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,4_8.0.2_12A405_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-04628-039.dmg</string>
			<key>IV</key>
			<string>000040d64c24d41fc06f7ad371e62354</string>
			<key>Key</key>
			<string>a43a0b1a0690a94e266516a0f964fc3e8b1d2ab10a1765be99656a84a1ea89cc</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n49ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/DeviceTree.n49ap.img3</string>
			<key>IV</key>
			<string>6c683611a5b60d2c2fb10524b7887bb7</string>
			<key>Key</key>
			<string>65460cb6b4b7ad1b30a26bc53707119835a705644910d1d38cba3c2047559ef9</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n49</string>
			<key>File</key>
			<string>kernelcache.release.n49</string>
			<key>IV</key>
			<string>aed30d92102d0f96e285d817fb1af3a8</string>
			<key>Key</key>
			<string>c85aba63ca0b3fcd8c218051ab65ed64c2ba385cdcf08c4edec29b7838b098d6</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>3f21235489e5c5e6092f65c4b63e054e</string>
			<key>Key</key>
			<string>6f175ccf6e6c980ab6d6eb7a80622fde81464a65632b5c1b289e66c52ecec567</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n49.RELEASE.dfu</string>
			<key>IV</key>
			<string>10d2f66b8c8c782bac9f223039cd6f4e</string>
			<key>Key</key>
			<string>a7eae07c7d668c432d8eef22c84d264c62409becdd6cedd5377315d45e746679</string>
			<key>Patch</key>
			<string>iBEC.n49.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n49.RELEASE.dfu</string>
			<key>IV</key>
			<string>7a83df0f4a07a83fc9057442e8b68bf3</string>
			<key>Key</key>
			<string>56bc092d675cb76e40130163781de024a9d3ed8d0d8f6423b50b2f77568cb23a</string>
			<key>Patch</key>
			<string>iBSS.n49.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,4_8.0.2_12A405</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n49.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-04730-039.dmg</string>
	<key>RootFilesystemKey</key>
	<string>e16acf43ecf742d400ecc312dd19ca65462850687754fdd7f7414e33994707b0c20782d3</string>
	<key>RootFilesystemMountVolume</key>
	<string>Okemo12A405.N49OS</string>
	<key>RootFilesystemSize</key>
	<integer>2229</integer>
	<key>SHA1</key>
	<string>ac4721a08c9cd189dcefd5ba4f9e14318624d791</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
