<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n49</string>
			<key>IV</key>
			<string>a5cd049ecc5083c0f897e901a462ec0c</string>
			<key>Key</key>
			<string>e37e12c83ffc5a1e3ff479b64464a62337034f5c8c4c9909dd3831f2ee2b0aad</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n49</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4276-001.dmg</string>
			<key>IV</key>
			<string>5b763e6b0ff05ea2be9e1981a2b9a712</string>
			<key>Key</key>
			<string>06fca6552232767a10e51ca179b9e0050d7289d6412a0b32fd7066b55fa06580</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n49ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>f5e8de702aeeeba30ae77ec6e2038cbd</string>
			<key>Key</key>
			<string>b7c13f3d642ff0cf56b41a7f2641d92334e39e84a45ff7918468c3ab1af1a2d4</string>
			<key>Patch</key>
			<string>iBSS.n49ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n49ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>19a8acb3cea5526a36627b97a020d059</string>
			<key>Key</key>
			<string>5202a17b486b8054f2f0bdf93fbc1178863bd679982906a846c8f4ae2e215dea</string>
			<key>Patch</key>
			<string>iBEC.n49ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/DeviceTree.n49ap.img3</string>
			<key>IV</key>
			<string>20656c15c4acc43933582dd0056375b6</string>
			<key>Key</key>
			<string>f79e8601105872f28b3607cd9eae179433c89a2d80a3e10146bf63147b306651</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n49ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>82691defa82e9cc2e493632b9cf9e546</string>
			<key>Key</key>
			<string>bacdd381e9b5933c66e5bae528d608f2499126ba4d6b376382f9b3d26e7391cf</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n49.plist</string>
	<key>RootFilesystem</key>
	<string>058-4366-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1665</integer>
	<key>RootFilesystemKey</key>
	<string>7b6d08cd80a992c304085ad46cca952d186b754ab80d8e2dc4ac0682339c6e6a867b0bb4</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sochi11D167.n49OS</string>
	<key>SHA1</key>
	<string>4b97bc9e1150f0cdb23b550cf435bf3e1ce75ae1</string>
	<key>Filename</key>
	<string>iPhone5,4_7.1_11D167_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,4_7.1_11D167</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
