<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n48</string>
			<key>IV</key>
			<string>601ac31c1305364ca3f0655fb817658a</string>
			<key>Key</key>
			<string>0bc1da94c19c15e4c2746f421d576b4802894ca8b812808d86c6565ef9058583</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n48</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-09687-017.dmg</string>
			<key>IV</key>
			<string>b38f8fbb4e5ae0f405e30f5300457b4e</string>
			<key>Key</key>
			<string>8a97eb89e9eae84371a38846bb84bbb1886039fc8fb4232185e93769c839e6b2</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n48.RELEASE.dfu</string>
			<key>IV</key>
			<string>ed33917d0dd6dfb4e5ac141fe5a6b2c9</string>
			<key>Key</key>
			<string>57d1cf152b705307b33082b68dfc2f538aaf92d33b87b02102767957bd0cc512</string>
			<key>Patch</key>
			<string>iBSS.n48.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n48.RELEASE.dfu</string>
			<key>IV</key>
			<string>a2e6544803cc1ddc58859c1eac7e5044</string>
			<key>Key</key>
			<string>58def1f93d71910f3a66ec5903c881bc8cadd5ffcfc4ba3dfe1ff128c649911d</string>
			<key>Patch</key>
			<string>iBEC.n48.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/DeviceTree.n48ap.img3</string>
			<key>IV</key>
			<string>5f41e29efdc9f6f4d919d983c8529f90</string>
			<key>Key</key>
			<string>f00646d662a6c0a797b5fd5b201e16804cd0f3864952562bd58cecdf322a29df</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n48ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>0f26e4182ed76e6f2465e372f70b2d94</string>
			<key>Key</key>
			<string>087b3b6f0a7b36f715ba28a32c1faf68d3c37bd50f03bf2e60eaeb2a6c6fdc3c</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n48.plist</string>
	<key>RootFilesystem</key>
	<string>058-09570-017.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1971</integer>
	<key>RootFilesystemKey</key>
	<string>282a095a5cb2d1e8be52feb58186b1192ee9b1951791933655605ef092e7918647a7312e</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUOkemoTaos12B440.N48OS</string>
	<key>SHA1</key>
	<string>5834cb39c8dd34ef9e991a5b206e551f226d8cad</string>
	<key>Filename</key>
	<string>iPhone5,3_8.1.2_12B440_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,3_8.1.2_12B440</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>