<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>IV</key>
			<string>85437bbb506771cac155e4e2c01a671c</string>
			<key>Key</key>
			<string>fe0767f3c3e28d8a4f4326589de5210ba7601a5a0821893ac19e8263d40927f2</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-3474-250.dmg</string>
			<key>IV</key>
			<string>b3d61940395613c8653985f888a22193</string>
			<key>Key</key>
			<string>3da77f31204e6d3c9c0ede2327ae6306c36cc37cfa6857a1e8d0184d6ff50391</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>01616f583d2bf5dcd02207003c730f12</string>
			<key>Key</key>
			<string>0c55153daa3f5c35b252c06f78b7d4fc9b09dbdc5d3cf1beeacd9640627352b1</string>
			<key>Patch</key>
			<string>iBSS.n41ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>0e8c74a68e8c99afe36852d69b2d159d</string>
			<key>Key</key>
			<string>1b370a8ab081073c2ea11f11ffb41027fc11ea227f4affb153821a76560a740a</string>
			<key>Patch</key>
			<string>iBEC.n41ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>b74ba028dd2d91d5c0d2de1f1e312479</string>
			<key>Key</key>
			<string>89b8e626808687490079af11b63f8b66f169381c3898beebc76ae1a6e33666ae</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>39347e67b48ff81d1c7dbe0a23e06479</string>
			<key>Key</key>
			<string>be830b634d8dfc4cbb001df67b8797c7fb078dd3e7b997d4f8724cce9e00c5ee</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>RootFilesystem</key>
	<string>038-3511-395.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1589</integer>
	<key>RootFilesystemKey</key>
	<string>3fc09269ff2d59d9d1a611d0a480ad6fd4e71d1aa43056a2eb13799432494eebbc20ad36</string>
	<key>RootFilesystemMountVolume</key>
	<string>Innsbruck11A465.N41OS</string>
	<key>SHA1</key>
	<string>1DE0E8055FF81E26A3A13C883656581BC97B4908</string>
	<key>Filename</key>
	<string>iPhone5,1_7.0_11A465_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,1_7.0_11A465</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
