<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.s5l8720x</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8720x</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
			<key>IV</key>
			<string>89ff9172601f90caf4e8a61a976df46f</string>
			<key>Key</key>
			<string>7771fb4a051d10608158ac2ecaa9b33b</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
			<key>IV</key>
			<string>8d1d244fefd97186331a6c5a611637e5</string>
			<key>Key</key>
			<string>5814736e25417861069dcf5f1af0a237</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.s5l8720x</string>
			<key>IV</key>
			<string>e5e63f072fe983d6615affcb103dc7cd</string>
			<key>Key</key>
			<string>647e06e61b93719f63d1f02bc661b28c</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.n72ap.RELEASE.patch</string>
			<key>IV</key>
			<string>e13f59246bd7c165727d442bb8061db1</string>
			<key>Key</key>
			<string>c8239d8284b672a685348549886c2561</string>
			<key>IsPlain</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-6041-001.dmg</string>
			<key>IV</key>
			<string>8e84afa0b935d969ced792b5c91c4018</string>
			<key>Key</key>
			<string>b3978d4668c85b11e9c16628f3bfe96c</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-6048-001.dmg</string>
			<key>IV</key>
			<string>bbbd60012088d253bf3648285a735e13</string>
			<key>Key</key>
			<string>7b0a441f1b70943461c4444300a8f455</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>5ea1608ce309fd33669f9a0fe691ede0</string>
			<key>Key</key>
			<string>5465ffeaec67bf1d5e47333b6a8525d9</string>
			<key>Patch</key>
			<string>iBEC.n72ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>9036da1779c8d2a2a3b460b0a52146b1</string>
			<key>Key</key>
			<string>ea15c674bf6086a4a3840c310521dd24</string>
			<key>Patch</key>
			<string>iBSS.n72ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
			<key>IV</key>
			<string>b31c608013ab8980178b79a1d8ba21df</string>
			<key>Key</key>
			<string>edebb477d07161edeac17b12c33ba783</string>
			<key>Patch</key>
			<string>iBoot.n72ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
		<string>com.ripdev.icy</string>
	</array>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-6027-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>510</integer>
	<key>RootFilesystemKey</key>
	<string>ABEF664A55DE10472C076FA633F47A7C3567239E9AF3C73DAC4C8683C75F3BE27B508EB2</string>
	<key>RootFilesystemMountVolume</key>
	<string>Northstar7C145.N72OS</string>
	<key>SHA1</key>
	<string>e0d8800a4fc7cc5be6976ddbceb43c2d2a7120d7</string>
	<key>Filename</key>
	<string>iPod2,1_3.1.1_7C145_Restore.ipsw</string>
	<key>Name</key>
	<string>iPod2,1_3.1.1_7C145</string>
	<key>DownloadUrl</key>
	<string>http://foobar</string>
	<key>Platform</key>
	<integer>2</integer>
	<key>SubPlatform</key>
	<integer>5</integer>
</dict>
</plist>
