<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k93a</string>
			<key>IV</key>
			<string>142973dd7f90fdfae32ebbb2d98e7678</string>
			<key>Key</key>
			<string>d807a4425b9ed3a9deccde27e4e116c4e25ba76fadb8205e035413c40128eb46</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k93a</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2576-007.dmg</string>
			<key>IV</key>
			<string>9fc7f39268b2cdd9908d1771322dfaa4</string>
			<key>Key</key>
			<string>60b49db84cecdec569cfbea887d9318627cbbfa5bfd4fe28e07bdc4f0a18642a</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93aap.RELEASE.dfu</string>
			<key>IV</key>
			<string>5288673bb7f539be0348cb5039639ada</string>
			<key>Key</key>
			<string>2d2743ad819a3275d70b7ae053b12b65f7eecb4e6893ef3ee5066bb57bbd59db</string>
			<key>Patch</key>
			<string>iBSS.k93aap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93aap.RELEASE.dfu</string>
			<key>IV</key>
			<string>faa6ded8a4e23ea198bbd339656aa91c</string>
			<key>Key</key>
			<string>6ee41ddf66dd6aaa71a951d29e7e228c1f4685390aeb2fb469ad46a8770c796b</string>
			<key>Patch</key>
			<string>iBEC.k93aap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/DeviceTree.k93aap.img3</string>
			<key>IV</key>
			<string>90fc221dda667cd489d809403e724d49</string>
			<key>Key</key>
			<string>933c666eb676c1ae38f300d06ab0784fb8e2e3c734f5a0fc3d9a0a0f7cfb3ff3</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93aap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>59e84ca8f06dc5ab7b1ae15d0261e66a</string>
			<key>Key</key>
			<string>1fd122e6cd517e3ffba8c4238085f4ea3ac04a4772ff1530ebb2e638f862f647</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k93a.plist</string>
	<key>RootFilesystem</key>
	<string>048-2467-005.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1048</integer>
	<key>RootFilesystemKey</key>
	<string>abb477fbd98ef8547b3d8e8e5669a5532e234b2bc4332e88ea987b1546b01eaef20f9dcb</string>
	<key>RootFilesystemMountVolume</key>
	<string>BrightonMaps10B329.K93aOS</string>
	<key>SHA1</key>
	<string>120e8ffec8a8564728704c06b93d06c3a4e94d23</string>
	<key>Filename</key>
	<string>iPad2,4_6.1.3_10B329_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,4_6.1.3_10B329</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
