<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.p105</string>
			<key>IV</key>
			<string>7330d38f584b039674a78f4d48cb5a06</string>
			<key>Key</key>
			<string>42cf22c784eb35453fdff419c42cba75ac2e5343925bce9b83df250e5dd3f19b</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.p105</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-1045-002.dmg</string>
			<key>IV</key>
			<string>b32b71c79ccaadbcd8e786403ddeb0fa</string>
			<key>Key</key>
			<string>c07f2c7f2a3ff2398a9b42af02e7bbdccb0669271ea55bf5da7fb3c66e8c0197</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p105ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>0296786a8b4190435fc0d630ac67bc35</string>
			<key>Key</key>
			<string>34d115d29694277c1022ce08ec4dfc1e9f474e1c3fb83a5c16082fd0722cfeb1</string>
			<key>Patch</key>
			<string>iBSS.p105ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p105ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>0f761aafd69649f963111d1a17af2b9d</string>
			<key>Key</key>
			<string>8792d34c81d2285076adb7355f52267d3a93e19cc359d180f22d070371c9edd7</string>
			<key>Patch</key>
			<string>iBEC.p105ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/DeviceTree.p105ap.img3</string>
			<key>IV</key>
			<string>fef6f8d880834b8deb68ecadf83fc505</string>
			<key>Key</key>
			<string>3046f758cf87d10323990c42cbcb25b30375cfca5d28a7d226f836725eedd446</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.p105ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>3910661e212301dc5b60710cd50ad864</string>
			<key>Key</key>
			<string>17c1ee45fcd115f1d2d9eca6afaf5e9d2b94081c7afa33217d41cda93f371d96</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p105.plist</string>
	<key>RootFilesystem</key>
	<string>048-0871-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1079</integer>
	<key>RootFilesystemKey</key>
	<string>f8b2c89a0315dc83e8d9348b29a1e072d284a2906bcc8c59098e07bcfc2e5877e46c4a3d</string>
	<key>RootFilesystemMountVolume</key>
	<string>Brighton10B146.P105OS</string>
	<key>SHA1</key>
	<string>09a0196d309465387afd4a6b11a610a32a39ce15</string>
	<key>Filename</key>
	<string>iPad2,5_6.1.2_10B146_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,5_6.1.2_10B146</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
