<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k93</string>
			<key>IV</key>
			<string>cd0ba286c4398b89ef5f1e810c76b97a</string>
			<key>Key</key>
			<string>6a10a5b98a1f2f2c123f5bc28edb1546be3707cb2211f27f7240b147ec96c812</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k93</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-1124-002.dmg</string>
			<key>IV</key>
			<string>bca3d74b0c8fef504a1b02a39367b564</string>
			<key>Key</key>
			<string>0747346962a2ab51c0a1d02a9dd6c3de68b41b025fca5c563fe5bede1a96961d</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-1077-002.dmg</string>
			<key>IV</key>
			<string>5963f168b56117edb21254c7f571b8cd</string>
			<key>Key</key>
			<string>185754d63ce63a1aaabd3fcacd7f0242fed5b154b4661659fdf4485e4e9f2d42</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>fe2c22952b6eecb46be3c323aabb296e</string>
			<key>Key</key>
			<string>9dd3e92f51d811efc520879e3ded9c9a59ed773057a681c87d74db043c7a4cff</string>
			<key>Patch</key>
			<string>iBSS.k93ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>0a40a4f06a8812ec812651b8972ebc24</string>
			<key>Key</key>
			<string>b90fac31a4b88333cfe45c5742891f8432accc3e3173e3fba8960b5510c5e7b0</string>
			<key>Patch</key>
			<string>iBEC.k93ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93ap.production/DeviceTree.k93ap.img3</string>
			<key>IV</key>
			<string>b16057b5c7c76f10bb6f3051374bc3fe</string>
			<key>Key</key>
			<string>d2ca8b4c09c50e9edfa3937bf0aa887c2f1fccd1bbfc4dde8a29818ce85bbab9</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93ap.production/applelogo.s5l8940x.img3</string>
			<key>IV</key>
			<string>53ff4ba00b0b9aeddbc7987efdb640e4</string>
			<key>Key</key>
			<string>ce6029e9747793549583f9777fef03218cf392f422579529382507aa0b66018d</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k93.plist</string>
	<key>RootFilesystem</key>
	<string>058-1113-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1407</integer>
	<key>RootFilesystemKey</key>
	<string>f1a5a402f868801ef7e249c9de3e9a4c575bfc155e449f9102fe7d70c6f5c5fbea296089</string>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B554a.K93OS</string>
	<key>SHA1</key>
	<string>012D89520F093E008B553EA0F41B5676788BBF1F</string>
	<key>Filename</key>
	<string>iPad2,1_7.0.4_11B554a_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,1_7.0.4_11B554a</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
