<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n78</string>
			<key>IV</key>
			<string>f1723132c8394fa58e4e3ac8ec89a973</string>
			<key>Key</key>
			<string>9b3cccf528350978f5b4bae0719ff66876244d6caa31bd1464e7b4ef225ef16b</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n78</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2576-007.dmg</string>
			<key>IV</key>
			<string>72f95debd5b944bc774cfc53f3705d3b</string>
			<key>Key</key>
			<string>610f6c5c5a6502c02c1251f083ac3fe639ca7ca16e87019f6b1a02341efe842d</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n78ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>47d8694328f5c42893ff147b1c6e0895</string>
			<key>Key</key>
			<string>ef4f975c55e98b04949e972d44e0e23a8a1e29d826ce661b4180ca66c5856d71</string>
			<key>Patch</key>
			<string>iBSS.n78ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n78ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>6874aec1b7931d6d335c7f43cac63770</string>
			<key>Key</key>
			<string>302d60b039e8d78e53ac17c6df30319994257f36b9bfc44c36fe80eae2221a23</string>
			<key>Patch</key>
			<string>iBEC.n78ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/DeviceTree.n78ap.img3</string>
			<key>IV</key>
			<string>279170402e901186de4d80806870bc04</string>
			<key>Key</key>
			<string>e039c307d615f52a9e180c6d7428738ea1bc6b49764ff49a753f819b8b4117c8</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n78ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/applelogo@2x.s5l8942x.img3</string>
			<key>IV</key>
			<string>4cec2878109e65699d258797cccc21e7</string>
			<key>Key</key>
			<string>5ca53fbd75de68851aedf635ce304aea4279d51606b7e082cf781dd2d0a424a5</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n78.plist</string>
	<key>RootFilesystem</key>
	<string>048-2630-005.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1203</integer>
	<key>RootFilesystemKey</key>
	<string>aa23f0364efebf0c77ef4420216dcda0256798bd14ff5fced864200a102ec735502cdd10</string>
	<key>RootFilesystemMountVolume</key>
	<string>BrightonMaps10B329.N78OS</string>
	<key>SHA1</key>
	<string>9cd17c39294c62447c2a6ef2e4e9445b98ce88a4</string>
	<key>Filename</key>
	<string>iPod5,1_6.1.3_10B329_Restore.ipsw</string>
	<key>Name</key>
	<string>iPod5,1_6.1.3_10B329</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
