<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>dc0e1a9db4f6fd8be572989dc813215b</string>
			<key>Key</key>
			<string>e83eaf993108f9eb2c5c1648b8194fffcd46069a69fea34f73d2ecb49f2fde45</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-49032-034.dmg</string>
			<key>IV</key>
			<string>eedbe5fa207bf8ee0ba7d5c3648be12e</string>
			<key>Key</key>
			<string>a22ec6774e4a9f09b31c676ef6d57604047fcf307fd53a61fe291cf2ce1a070a</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>bde205f7db5d1d7e652e8490951d7650</string>
			<key>Key</key>
			<string>880f81207906acf1593a0f086a0abf225b0fc65ad28fa60f646c9c414920d91a</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>3edaa09f1ce7ca4515265b937a685661</string>
			<key>Key</key>
			<string>0ede4b678f06f73984895252cbe9798406c05348c222475e7a8ce5062e44cf74</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>84d75bee138d9601f3291633d53ef6de</string>
			<key>Key</key>
			<string>9ab754a85d34af43ab97c68ad3956f4d9a2b8be0c972b800e924758ffbcfd23b</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>a1d3ee2eda55cbe1fcc77b961b41e014</string>
			<key>Key</key>
			<string>8c79b631548939169201801a58fbeb5bc278a3a451fef37df55417d926bf518b</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>058-48374-034.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2017</integer>
	<key>RootFilesystemKey</key>
	<string>0962e1a9308abd629272347638a1a157e98a00c9c37a3ac9ca926a4a3a3b0d012be678f4</string>
	<key>RootFilesystemMountVolume</key>
	<string>Genoa13G34.N94OS</string>
	<key>SHA1</key>
	<string>6ebea01a3854c6d005f2fd729891f7f45734a05d</string>
	<key>Filename</key>
	<string>iPhone4,1_9.3.3_13G34_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_9.3.3_13G34</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
