<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,3_8.3_12F70_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-14496-073.dmg</string>
			<key>IV</key>
			<string>cf1a7f466bf3e63336831a7d3fbb3b0e</string>
			<key>Key</key>
			<string>92d6dc6f0989a923a367cf909c8221edc96d7b2288e280ae0309ea4e3b5ff387</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n48ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/DeviceTree.n48ap.img3</string>
			<key>IV</key>
			<string>79c303ae1b6c249b0ce7c7954c7d9564</string>
			<key>Key</key>
			<string>0cfebdf4423f9477c0a50b17b4f5ede5d478a52f5dde9661c1ff37a20dbdd1cf</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n48</string>
			<key>File</key>
			<string>kernelcache.release.n48</string>
			<key>IV</key>
			<string>6c5e2b19af656669cbc96fe42b8f78fb</string>
			<key>Key</key>
			<string>b42e6e0cb26c0c5b99e7d5e49a5d8fe58dba1a1c395e8b72bf01c86c5de7bb50</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>1c0253a5b30cd4e767384ddecf5f2b20</string>
			<key>Key</key>
			<string>3a9b60dff5f00de0bf1b1b09e7078077607a3d0fb9bcbace310bbeed9c4cba59</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n48.RELEASE.dfu</string>
			<key>IV</key>
			<string>0602d53b4863fa7b5e3c314a3177ecad</string>
			<key>Key</key>
			<string>86a7af9e4596c147ac56fa71f24547e6a61ba80a8170c6e8e652859f09724cef</string>
			<key>Patch</key>
			<string>iBEC.n48.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n48.RELEASE.dfu</string>
			<key>IV</key>
			<string>25617f8df9c3bc1e66367b39cdc958ad</string>
			<key>Key</key>
			<string>ef2893a192ef0000067021a6aa0a38ae7d348f1b502c3dbe2291846b52400c53</string>
			<key>Patch</key>
			<string>iBSS.n48.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,3_8.3_12F70</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n48.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-14779-073.dmg</string>
	<key>RootFilesystemKey</key>
	<string>26b00f541df9c0664c9ce444ae2f2aa5595f0902b3cea8226884bc84b4a83667587829e7</string>
	<key>RootFilesystemMountVolume</key>
	<string>Stowe12F70.N48OS</string>
	<key>RootFilesystemSize</key>
	<integer>2055</integer>
	<key>SHA1</key>
	<string>5bfd47eda92371d0459b7a7c955a547968e43edd</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
