<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,2_7.1.1_11D201_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-00219-002.dmg</string>
			<key>IV</key>
			<string>6ed1df41d2a13b64860701a5a7d84a74</string>
			<key>Key</key>
			<string>d8f8380a040667a039a13498ee667a8b9ce8eed2667019d00ffbef50a3721905</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>8ddc93f56076d34176c18a5fc6627753</string>
			<key>Key</key>
			<string>26a5f434dc361000ac92957a81f7325b643a1f687155ccefc22ee8e9adc53b06</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>a7374ecacec5738def871f6d0972a008</string>
			<key>Key</key>
			<string>c45a21d49588f7f12f5552313209315513e8dc33fd96063a0b44db167df9a7dc</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>bba99d7ae4bb94dff69bacc69a49da51</string>
			<key>Key</key>
			<string>7c8b569010ba6596c5e9f4bf52d74ead57829f238e7d1758e70034313be7fb9a</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>d88211dde34ef1fc93ce4739b155ba6a</string>
			<key>Key</key>
			<string>f279ebbf01fdea9526be0ad5f8afbf72def14c7dea9b1621758b8d7021918edf</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>069f2d8ecc3af9539ea17cb7a367d2fc</string>
			<key>Key</key>
			<string>fbfc17526908e044ea84fe4d7eba49b4862d2e144b18ccd0571cde1be5d4e812</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,2_7.1.1_11D201</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-00366-002.dmg</string>
	<key>RootFilesystemKey</key>
	<string>861a12ed5f3983ccc01ec070915acd8191e4d24b07849c7f8cd39c00a6a0c1e9050290ea</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUSochi11D201.N42OS</string>
	<key>RootFilesystemSize</key>
	<integer>1660</integer>
	<key>SHA1</key>
	<string>ca1af5ff972215cb62cbe9c259b77d406a6b7ba7</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>