<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,1_8.1.1_12B435_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-09687-016.dmg</string>
			<key>IV</key>
			<string>138e89318939b4d84ca3fb989fa3d891</string>
			<key>Key</key>
			<string>6d4db08a5fae038759efa77e7921a5cf9d700de4b3837bd58ae76aa9930bf9c3</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>1d811ca7360081246cc0837113ef7ae1</string>
			<key>Key</key>
			<string>b71adeff1c651705e95b3e622fc3fc44ead7facb031ec39679656ff00246de01</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>IV</key>
			<string>c13a5bf1e5e05def3b8c327db97775bd</string>
			<key>Key</key>
			<string>ebefe800be1c6293a6ffa1b22768c650319680b695ed173aa8b0571f3b4279cd</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>0f26e4182ed76e6f2465e372f70b2d94</string>
			<key>Key</key>
			<string>087b3b6f0a7b36f715ba28a32c1faf68d3c37bd50f03bf2e60eaeb2a6c6fdc3c</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41.RELEASE.dfu</string>
			<key>IV</key>
			<string>45de6b669cb6d22e8e57c014f73e61a1</string>
			<key>Key</key>
			<string>d82fefc1d58e6197c49d17d359d5e5dc53f9067cbf72a6b124e446b5ceb1f983</string>
			<key>Patch</key>
			<string>iBEC.n41.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41.RELEASE.dfu</string>
			<key>IV</key>
			<string>32e5d89a873d4eff490f76d02583fffb</string>
			<key>Key</key>
			<string>09dd13d61963a5b9da7fe4596cd1c584fd5cbd48c36fbd0a3dd28410eabe6ef3</string>
			<key>Patch</key>
			<string>iBSS.n41.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,1_8.1.1_12B435</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-09862-016.dmg</string>
	<key>RootFilesystemKey</key>
	<string>a9a05a6a91d134beb2e136bfc00be787a87147fa26168055fffd2f325ae832de38d2bbe9</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUOkemoTaosTwo12B466.N41OS</string>
	<key>RootFilesystemSize</key>
	<integer>1962</integer>
	<key>SHA1</key>
	<string>3d40671cbd70700343380b60cd6c630a83424444</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
