<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>4b188d8992958da7246f42e2cabae6a4</string>
			<key>Key</key>
			<string>33988fc2ffcb50f4ee7ec2c6a69e43ecdb94b4f60c1a7198d33ff58921f6cd66</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-25910-078.dmg</string>
			<key>IV</key>
			<string>4423e421ff3a879c652d09752addecb0</string>
			<key>Key</key>
			<string>2f59dff715f59414d2dd091c6dd074d5b4b72944f74f85006effd821d8bbafc1</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>d3510063bde953b11be64c9766c4dee5</string>
			<key>Key</key>
			<string>d58d7aadc24ff28a1d3843525e219337e95408305ae250488afca78cb7d5dd31</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>6c8be6122f3ca4e739d73ac9c35bcd5c</string>
			<key>Key</key>
			<string>6ffba45c6a309e2341675cb2f9a8a0b1bf61e34a49a6ebfb7365eff0c7f34cf1</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>20ad3118979772210bc254876c36a6a4</string>
			<key>Key</key>
			<string>ae99a122de43b87e3e213f8baaff5c05057553c7f9121288f172e672aadae931</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>02c3a3588bb278f3625c81e1ccd8eba6</string>
			<key>Key</key>
			<string>bfe8bfe80d9a1b4bcc7d8a57c9c585906e2632c0db249b3a7e3e0f7c743e937f</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>058-26149-078.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2025</integer>
	<key>RootFilesystemKey</key>
	<string>1836c84a10822d6b5393ea279699e2059e8d9e0c56fb0906407d3c18c372907224378b68</string>
	<key>RootFilesystemMountVolume</key>
	<string>Castlerock13C75.N94OS</string>
	<key>SHA1</key>
	<string>d1c462263a2644c52b1fed9e50a3ff93ad11dffa</string>
	<key>Filename</key>
	<string>iPhone4,1_9.2_13C75_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_9.2_13C75</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
