<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>b9c5d41de525b19898071eb9119ae69b</string>
			<key>Key</key>
			<string>413e16047a956867c259ee5e9fe4e07fb742434066535954514c357cb2becea4</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-8795-002.dmg</string>
			<key>IV</key>
			<string>5665da3a48cd2fbe2bd5e28e46095ba2</string>
			<key>Key</key>
			<string>4ab8287d3fea2ca0eaa259f12bbc298ba6327df83378ea9d095283f22289c29a</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-8789-002.dmg</string>
			<key>IV</key>
			<string>ee214566aff429f7cbdc8d57dfcb47ae</string>
			<key>Key</key>
			<string>3239ca85e0df3901a59395e0b3d9b0ec4558f9fcd80217d9f07158a0407da1ea</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>b2243aad3a1fa655bd4464e25e7e4a08</string>
			<key>Key</key>
			<string>6ffe0dd6e2584d542c6c6abbcd4357e0f022dc6ccdfb6c89f9ead1d9fa522493</string>
			<key>Patch</key>
			<string>iBSS.n94ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>bd0d36c640f4d561134f7b32f1bc68f4</string>
			<key>Key</key>
			<string>55d6b3a5d1f41e5fdff9f2f98891437e4cdd7cf002d8b479faac4331ee5ffdd7</string>
			<key>Patch</key>
			<string>iBEC.n94ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>b5a00e046e6eca4be4d0474abf54da77</string>
			<key>Key</key>
			<string>5405b9bbab497243d803bebe59a4ba2086cbd8c381df9b7a9cbaef86dc5036ea</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>bc0082e4a4a039c960435d23a36a9f4b</string>
			<key>Key</key>
			<string>dab4824c05cf14cc5e2b0b80d6ed7a37c494e8a4d258f961cb82173cdc461986</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>048-8508-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1573</integer>
	<key>RootFilesystemKey</key>
	<string>55aa9a51243a16aa8752b8cf0e25d05daf7d9d977e319fbb8874b04cef04a560f72e4071</string>
	<key>RootFilesystemMountVolume</key>
	<string>Innsbruck11A501.N94OS</string>
	<key>SHA1</key>
	<string>0223583ec3c71a9f47f7bd860e371d076aed829e</string>
	<key>Filename</key>
	<string>iPhone4,1_7.0.2_11A501_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_7.0.2_11A501</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
