<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
	        <key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>jb.plist</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/jb.plist</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>payload</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/payload</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>payload-vars</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/payload-vars</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>racoon-exploit.conf</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/racoon-exploit.conf</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>sysent_1c50</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/sysent_1c50</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>vnimage.clean</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/vnimage.clean</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>vnimage.overflow</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/vnimage.overflow</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>vnimage.payload</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/usr/share/corona/vnimage.payload</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>launchd.conf</string>
				<key>Name</key>
				<string></string>
				<key>Path</key>
				<string>/etc/launchd.conf</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/sbin/racoon</string>
				<key>Name</key>
				<string></string>
				<key>Patch</key>
				<string>racoon.patch</string>
				<key>MoreActions</key>
				<array>
				<dict>
			            <key>Action</key>
			            <string>SetPermission</string>
			            <key>File</key>
			            <string>usr/sbin/racoon</string>
			            <key>Permission</key>
			            <string>755</string>
			        </dict>
				</array>
			</dict>
		</array>
	        <key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
				<key>MoreActions</key>
				<array>
				<dict>
			            <key>Action</key>
			            <string>SetPermission</string>
			            <key>File</key>
			            <string>usr/libexec/lockdownd</string>
			            <key>Permission</key>
			            <string>755</string>
			        </dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-3715-001.dmg</string>
			<key>IV</key>
			<string>861ef22a2220f5791180191dedf28453</string>
			<key>Key</key>
			<string>73c382680d3d724e5851554d1ca3ce4287e958f33021a5f084920030b6faf2af</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-3711-001.dmg</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>05b6de2e7dc95144021a83202f61ab62</string>
			<key>Key</key>
			<string>f21078779f95dd9aa1b2d96d21ac34fc385657aa6cde77c44db051012dbaad2d</string>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>1d30d95c43807e465d63840e36d68df0</string>
			<key>Key</key>
			<string>9d35cc090e305faf449b8428fe4b0fb9d3b79fbd42da59746bec393b13582f8f</string>
			<key>Patch</key>
			<string>iBEC.n90ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n90.plist</string>
	<key>RootFilesystem</key>
	<string>038-3700-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1021</integer>
	<key>RootFilesystemKey</key>
	<string>a8c7fe8c4698684db2b315cdf9b0c569e6769ed721b83799bad4dadfaf6186c6fd6e0fb1</string>
	<key>RootFilesystemMountVolume</key>
	<string>Telluride9A405.N90OS</string>
	<key>SHA1</key>
	<string>a123b049c7a03cc952c6328de998d4f74d49c18b</string>
	<key>Filename</key>
	<string>iPhone3,1_5.0.1_9A405_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone3,1_5.0.1_9A405</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
