<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.p105</string>
			<key>IV</key>
			<string>b560ea51f73a12079fc59f7234d3a190</string>
			<key>Key</key>
			<string>9f30a312c0568f439a140b19ca3201b33bf2d14fe64b7fc17b67d82f3b7add1d</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.p105</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2576-007.dmg</string>
			<key>IV</key>
			<string>62ca5fb9b36d138ec15d747e99797adb</string>
			<key>Key</key>
			<string>b5fdc2538a41badc896bf7b159b58569c7f5cfd32893ce3143bdeeb6ad25c89a</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p105ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>cd223b71ad5d6ce3be88cb3445e9e15d</string>
			<key>Key</key>
			<string>97ed144b0e6f70e7ed9c1d8402fbb72aab7300b025a47b14139d42dde8f9de5e</string>
			<key>Patch</key>
			<string>iBSS.p105ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p105ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>5409312a3afa47843a2005ee6f47f016</string>
			<key>Key</key>
			<string>25b92037fed823c12b7cef9952c918969ed577a507c597ba989154e3b3f826c3</string>
			<key>Patch</key>
			<string>iBEC.p105ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/DeviceTree.p105ap.img3</string>
			<key>IV</key>
			<string>551f456d1ac01141dd5592f6c3d98119</string>
			<key>Key</key>
			<string>5203eb92667cfe7fe1aa312f39d1d6607817043ec45377c9f722232c4189a078</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.p105ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>59e84ca8f06dc5ab7b1ae15d0261e66a</string>
			<key>Key</key>
			<string>1fd122e6cd517e3ffba8c4238085f4ea3ac04a4772ff1530ebb2e638f862f647</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p105.plist</string>
	<key>RootFilesystem</key>
	<string>048-2615-005.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1080</integer>
	<key>RootFilesystemKey</key>
	<string>b5fae2d8574262151e3f26ef61fa7527df9e8958455b90b4ef76d2a7e21a53944576926a</string>
	<key>RootFilesystemMountVolume</key>
	<string>BrightonMaps10B329.P105OS</string>
	<key>SHA1</key>
	<string>02a679b092037c2086fb27646c1ca2698307c7f4</string>
	<key>Filename</key>
	<string>iPad2,5_6.1.3_10B329_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,5_6.1.3_10B329</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
