<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,4_8.0_12A365_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-04628-035.dmg</string>
			<key>IV</key>
			<string>3ed05e9b7295e542edcf12d5aaeef525</string>
			<key>Key</key>
			<string>a0294715fafb184bde4d3ad9ec346db1961941df08e1d6dd6ef2310f28a5c12a</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n49ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/DeviceTree.n49ap.img3</string>
			<key>IV</key>
			<string>f448f2121d04c38bf69821f214aa6448</string>
			<key>Key</key>
			<string>9d9a3de654e1ac04f3d1cacacd62be32c13c449f61d367422dd8f146c7cb6639</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n49</string>
			<key>File</key>
			<string>kernelcache.release.n49</string>
			<key>IV</key>
			<string>523dd49268b33caba3c63a2903651369</string>
			<key>Key</key>
			<string>a5530de39aa8b90a82d2aa91866cd151cb29acc06ecd2ac61480a36be2d23807</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>bc3ca1ca6b0e63c44a395f3d6a4b5d65</string>
			<key>Key</key>
			<string>7343497d98d47c7aef9b5f973f86a0ac780278c51a3c61ed8d7ee19c9838f684</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n49.RELEASE.dfu</string>
			<key>IV</key>
			<string>d8cb575b79e8e9e4dd5806deb2764c5a</string>
			<key>Key</key>
			<string>b318de398ada9574284d4aaf235c2f41a3ae4abf393ad8322e8eac461ad31265</string>
			<key>Patch</key>
			<string>iBEC.n49.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n49.RELEASE.dfu</string>
			<key>IV</key>
			<string>d2fe942b983a5203a2d294bd014bc0d0</string>
			<key>Key</key>
			<string>ef3342690d582a96574c2f534541070f508f6cfcba65e98c54e17cdc7500655e</string>
			<key>Patch</key>
			<string>iBSS.n49.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,4_8.0_12A365</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n49.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-04730-035.dmg</string>
	<key>RootFilesystemKey</key>
	<string>ad6cb6872707103386013c4ad25194e88e57b388312d5c23e27f7572b2399d663b6df57b</string>
	<key>RootFilesystemMountVolume</key>
	<string>Okemo12A365.N49OS</string>
	<key>RootFilesystemSize</key>
	<integer>2201</integer>
	<key>SHA1</key>
	<string>4a22f014bbf7c62f4e7f6cb958d0c93c25fe7bbb</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
