<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,2_7.1_11D167_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-4276-001.dmg</string>
			<key>IV</key>
			<string>7d1605e9f8379fe18561eb4e2a31ca39</string>
			<key>Key</key>
			<string>c382b6218c416b0349479ca757d836957e1854c7abae396e249dd8fa330badc8</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>bef8293e2aec5f075812f881d7e05730</string>
			<key>Key</key>
			<string>4e18178c2658200a4c02fb6383cc4637e29ae46054ac5a2dbc2cde775bfbc6f3</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>3ed402b2d57dae822936f382f6c0f2d8</string>
			<key>Key</key>
			<string>b57cc6c0a2ace3ab354d1bf73299c6352f2af7016abb9f069958c52c19358d44</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>82691defa82e9cc2e493632b9cf9e546</string>
			<key>Key</key>
			<string>bacdd381e9b5933c66e5bae528d608f2499126ba4d6b376382f9b3d26e7391cf</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>d7f83e0fa6a663a29b93dd30c05b4284</string>
			<key>Key</key>
			<string>9f18bb565c1b43bb7e9b7cd01538e57b987c1b669e11ce19d80911f0461716a4</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>ffabce967beb456318d313187eea5fe7</string>
			<key>Key</key>
			<string>59cb3d755593d75d1b7f448500ba20bd81ae286daf701f00e6baa70ffb992b9e</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,2_7.1_11D167</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-4447-001.dmg</string>
	<key>RootFilesystemKey</key>
	<string>be03247cb96519b646e5a105d627d18eae6550dee41417356b2be81cb012f8d44c22aa26</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sochi11D167.N42OS</string>
	<key>RootFilesystemSize</key>
	<integer>1660</integer>
	<key>SHA1</key>
	<string>621411e8da22db4a9e84d10f4ac8a5be5a8bd9c1</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
