<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,3_8.2_12D508_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-06698-150.dmg</string>
			<key>IV</key>
			<string>7d6a0cae9a2d13b77e694d10ec590ceb</string>
			<key>Key</key>
			<string>76d7a7eb472684b81d3e4008dd07f08df03de93a8a56543ad3652f70a7c2d9a5</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n48ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/DeviceTree.n48ap.img3</string>
			<key>IV</key>
			<string>07b47f82a03d538cb4c5e9bbc374d3c1</string>
			<key>Key</key>
			<string>d59df9287d6296497757edc6a717cf5590ff87e3156ef2a3b116771dc44b1cc3</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n48</string>
			<key>File</key>
			<string>kernelcache.release.n48</string>
			<key>IV</key>
			<string>d42c588ca8c06faa985516e13231b63b</string>
			<key>Key</key>
			<string>22e44030797d92a73cbc32624040a4bbc268b75b41b6720c6df80fb292c43114</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>de9f5e249cc33e5d18a2148c3229de01</string>
			<key>Key</key>
			<string>7602a48ca1aacfe98fd0e8591abd43ec4dfa1c1d2ab97b3a36885c86f5666f1a</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n48.RELEASE.dfu</string>
			<key>IV</key>
			<string>63fd525af36ee9bb653ff9ed3eac4d7d</string>
			<key>Key</key>
			<string>bc19884a9f68706a10cee827fc448b4536759c98b01279a896e474155fdbb576</string>
			<key>Patch</key>
			<string>iBEC.n48.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n48.RELEASE.dfu</string>
			<key>IV</key>
			<string>360fbdb69fcc66b91de24bb683f7747b</string>
			<key>Key</key>
			<string>d7f7334ac850ab842d22c3f8fea778fea03bf1d05d473c3b49a40bf318cfecf0</string>
			<key>Patch</key>
			<string>iBSS.n48.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,3_8.2_12D508</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n48.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-06615-149.dmg</string>
	<key>RootFilesystemKey</key>
	<string>47cf5796da107f0e50b6bc110df3bd04121e27e6b43b6ae86239201bfd27624901c2a921</string>
	<key>RootFilesystemMountVolume</key>
	<string>OkemoZurs12D508.N48OS</string>
	<key>RootFilesystemSize</key>
	<integer>2055</integer>
	<key>SHA1</key>
	<string>0df2314d59fe170f211a2882f6b2f7567071344e</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>