<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,2_6.1.2_10B146_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>048-0856-002.dmg</string>
			<key>IV</key>
			<string>6a931d6862041091d5e1173f88ec8456</string>
			<key>Key</key>
			<string>2bd075a99a4245f96c8fde081ced7157f4a58bb7bdf8e784636ac8d6ea449813</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>8dbc180211d04168e2885c2db5ce4db2</string>
			<key>Key</key>
			<string>1cc6c694b32670976a91faed47e7d02eb09ace1272c6a90c2260426dd82aad12</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>a190a78f05d68cf949d065dc9ca1185a</string>
			<key>Key</key>
			<string>60fe0b43d0bd8eed64304cf92fd033c9943df63c45ad323caec255c7b75390a6</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x.s5l8950x.img3</string>
			<key>IV</key>
			<string>27b2550d29cc5b5582e50c3c4d40dbef</string>
			<key>Key</key>
			<string>3cbb37f09ee009ae592b098ac72e93b5ae2cbfe6332366cd76eb75798b270630</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>17118aa937639c360f9f61f855f05e0b</string>
			<key>Key</key>
			<string>58b4bd16ae3b080d098da87f89b446d11cda183e3d6c570c0f9fc6bad7e81d93</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>d6f791ce8e44df9c076a365275503271</string>
			<key>Key</key>
			<string>8a3e2bd52700a1a993d090da04c99d7f649d8f0329646d255385502df5cbcadb</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,2_6.1.2_10B146</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>048-0877-002.dmg</string>
	<key>RootFilesystemKey</key>
	<string>4dbcdfed4577279e1f4ded4a33e72d2c8fcaa6e20d6a0530112f93a82eb0c6b7061c6158</string>
	<key>RootFilesystemMountVolume</key>
	<string>Brighton10B146.N42OS</string>
	<key>RootFilesystemSize</key>
	<integer>1282</integer>
	<key>SHA1</key>
	<string>a4f9d2a100b10869be43037eee4a3210e88f9d53</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
