<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,3_8.4_12H143_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-15840-139.dmg</string>
			<key>IV</key>
			<string>479478d9deb72c3b3bd51d5607c7ad9a</string>
			<key>Key</key>
			<string>3f8b6e89ac67cad935918906de16037a5998d4c8c20e46a2770dbb7450fe29f8</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n48ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/DeviceTree.n48ap.img3</string>
			<key>IV</key>
			<string>d4a02b6cf3089372f0bdd5e694a1f2e9</string>
			<key>Key</key>
			<string>8f5786e997c1ea04223698b6df7cdcc3233d0c1351942372f343441a0392b591</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n48</string>
			<key>File</key>
			<string>kernelcache.release.n48</string>
			<key>IV</key>
			<string>7045b55a1cd5829aaf414ab4a5397cb3</string>
			<key>Key</key>
			<string>28b5ff809c3793926cc2758ddf415d6a5b2412e4484cee22cc2be31648553035</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>95060c517c02d434b437e8f16069f46f</string>
			<key>Key</key>
			<string>55f096d0d3fe9444925bce54ed393290a604161f4d578b73be31c6880d8dc5da</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n48.RELEASE.dfu</string>
			<key>IV</key>
			<string>e5808f42fd7333a4c5932d58dd908a53</string>
			<key>Key</key>
			<string>8c388d78ec5de247ae22fb58ade5743c06d9dc8b42b945e0e540259daa989256</string>
			<key>Patch</key>
			<string>iBEC.n48.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n48.RELEASE.dfu</string>
			<key>IV</key>
			<string>e39d3966ab4e83bec3eb1d2034d8c33d</string>
			<key>Key</key>
			<string>a24dcd0165bc928746909bbf88cb8b943c8332dad5d7b84e9a713daca4a9cfcf</string>
			<key>Patch</key>
			<string>iBSS.n48.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,3_8.4_12H143</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n48.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-15764-139.dmg</string>
	<key>RootFilesystemKey</key>
	<string>dc365e50e4819a790ccf49928e3e2af5ca880ea26b000887ec371b7925ad7edc01a055fd</string>
	<key>RootFilesystemMountVolume</key>
	<string>Copper12H143.N48OS</string>
	<key>RootFilesystemSize</key>
	<integer>2068</integer>
	<key>SHA1</key>
	<string>6980170545bfa3efc3bd97555d44dcee494607a3</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
