<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>f1d3337d7329d24257eda848c0076ef1</string>
			<key>Key</key>
			<string>c995a10393e23ee9e1225edbe182bab5c4e04a94be0ac1567fd2e2b4c24e7e64</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-00363-002.dmg</string>
			<key>IV</key>
			<string>dd6b2c1c6dc15d126c27c157f70f54d2</string>
			<key>Key</key>
			<string>0eeaf0d00a7584f2440abc67cb827161bbf63f38bd39954f0cd7466b0f2b69dd</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-00183-002.dmg</string>
			<key>IV</key>
			<string>64836af651c3306e0897f7509a50cb7d</string>
			<key>Key</key>
			<string>f5688427288c6dac2e485ff30e9ca51dde53f1ad593e595d56778044d58ed09a</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>8d03e855370dc03fc6fa8423e5177005</string>
			<key>Key</key>
			<string>3bd84ebf9df97a0a5e953a5f3ae4b04f97586f1e5166b48c6d994ab47ce5ce5e</string>
			<key>Patch</key>
			<string>iBSS.n94ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>7ab06c16c3fc515478409f22b4dd5a37</string>
			<key>Key</key>
			<string>3f492094635e406ddb3340fde5d2e1cd6acb7ec212ed17afc272256829d3b5b3</string>
			<key>Patch</key>
			<string>iBEC.n94ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>7afbf38b39762040e40cefea36b0048b</string>
			<key>Key</key>
			<string>d2927794301c573df623db8bb021de5ddef549a1cf1b22236b71c191cd895c9a</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>5f69a9237a3d3da896c00c13ecd6a63d</string>
			<key>Key</key>
			<string>274ab134dd7ab751acd60d0fb0cc742d57cbb31591d033a1fd715bcc24c538be</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>058-00295-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1643</integer>
	<key>RootFilesystemKey</key>
	<string>af16cc625945211013cbde22e73ef3e6bf20f445a60df2f9dc8a300dc7f3dc1e40cc66cb</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUSochi11D201.N94OS</string>
	<key>SHA1</key>
	<string>be3f954f69083125f4905204e477c743e1c89597</string>
	<key>Filename</key>
	<string>iPhone4,1_7.1.1_11D201_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_7.1.1_11D201</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
