<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>f29eaaf9b08c1eee8020090eabf1f038</string>
			<key>Key</key>
			<string>6235c5f842e2961ac5e53487329f9b4aef88b7b0985fcb321313e26bceb0a37f</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-03653-284.dmg</string>
			<key>IV</key>
			<string>c751d527a64bd5b9ae736866c70b2eb9</string>
			<key>Key</key>
			<string>caf50e8770e4c63e1977f6d609d407b9fa6fe7b2e4e634db6f8dd602e91cbf6d</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>50986f7977b906a58eb271d77e16e772</string>
			<key>Key</key>
			<string>3ec71021563ef80ea09a1ea3dcf64cd4658697b67e14fbf2f88e1c23ed4a9fb1</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>ce23ec07f549c8024003ce784f8ca901</string>
			<key>Key</key>
			<string>23b7cbc755d796c0bfbf66068ec0cd59595f0995022e5e81c0860b66ed328c96</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>6266cc08f8cd52a93fdf0ca76c4186af</string>
			<key>Key</key>
			<string>acd86587edf5525adfb51bf9ac14a60417ea17cb9e44d3e8f1ce15c4a3217df2</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>dcb3a8ce681cc74da9595ed85232ceb2</string>
			<key>Key</key>
			<string>cebc557ad0784d81523a0d6deeaa7f19cb2a4991adf48701a66c31c8eeab0bf1</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>058-04038-272.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2035</integer>
	<key>RootFilesystemKey</key>
	<string>63676d730527ba91d6eba3a0402ee5f8b3dc940a33d7ef056163a9fe1a3a8f499e276cda</string>
	<key>RootFilesystemMountVolume</key>
	<string>Monarch13A344.N94OS</string>
	<key>SHA1</key>
	<string>5dbe5d8def4e93652ffb29df093b741d3066bb91</string>
	<key>Filename</key>
	<string>iPhone4,1_9.0_13A344_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_9.0_13A344</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
