<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,1_6.1.4_10B350_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>048-2930-001.dmg</string>
			<key>IV</key>
			<string>f1ec9e22cf80df92842cdeeeec02156e</string>
			<key>Key</key>
			<string>dfabaf8969ade6c5206c47cad5eaa7fc8ff7cfb3ce99469de1a3ea866b0b6ad9</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>808ad8f82e5c0fa986dc52fd1c0e1b01</string>
			<key>Key</key>
			<string>2654f2831d53b29305f058aa6b10c56d89746f40c9aeb49e5b98d8babd405011</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>IV</key>
			<string>5c128e480c6365cbbda7b62efefac7d7</string>
			<key>Key</key>
			<string>6b218a9905b6fc28ab611d95650d3336ee9851df1bac2cd86e699929909f87db</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x.s5l8950x.img3</string>
			<key>IV</key>
			<string>e3bc620448124e5853d679496b7fa43d</string>
			<key>Key</key>
			<string>db6eed02d1c5f5be50692e8fd5905b12f435dbe2a349d2afa7548e3667ec6e7b</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>51732e0b246c86026f0bf527ead211af</string>
			<key>Key</key>
			<string>0d9a12c98ab03c169f838d93508110fafb600e3c06aadae39a6442f5c1eb3cd6</string>
			<key>Patch</key>
			<string>iBEC.n41ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>f2701369f4b98681e88894e397026366</string>
			<key>Key</key>
			<string>e06afbc8027e559d702ec1b4fb0ad276e742e794ec440f131f7bea119a7bc3d4</string>
			<key>Patch</key>
			<string>iBSS.n41ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,1_6.1.4_10B350</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>048-2939-001.dmg</string>
	<key>RootFilesystemKey</key>
	<string>1ab23a9c9e6c04f64cb817f3340e34bfba08f1d600c95cf568c8af0d97e9f8d25dabd066</string>
	<key>RootFilesystemMountVolume</key>
	<string>BrightonMaps10B350.N41OS</string>
	<key>RootFilesystemSize</key>
	<integer>1282</integer>
	<key>SHA1</key>
	<string>53b6aa61ee9c258ea66d8c28bb5bfe3fd4ba7939</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
