<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n48</string>
			<key>IV</key>
			<string>dc4da50008b20a943151b55cb097e7b7</string>
			<key>Key</key>
			<string>c3e805dda08dfe5665f3237a1a87f2f4bc3a60e9b48039e35b56464f1782c2e3</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n48</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-1089-002.dmg</string>
			<key>IV</key>
			<string>7ff663d7d931298bb94e7a3f8c7fae15</string>
			<key>Key</key>
			<string>f2bfd84c975638e1653bbb635ffe7dcee29fdb2d01c395de40efca57a7388c9f</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>0f1c4c51a3f6353aa6045fc1b387fd44</string>
			<key>Key</key>
			<string>b5e4a8cebd423f7946244cccef632ca085b05c7dfc5385d8fdc1bfbc8415868e</string>
			<key>Patch</key>
			<string>iBSS.n48ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>7902fa165bc7b683646862038071f872</string>
			<key>Key</key>
			<string>dbb7932d01dccc084dda62f70c571626b0c6ff97b1e6692b688e7c650296f219</string>
			<key>Patch</key>
			<string>iBEC.n48ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/DeviceTree.n48ap.img3</string>
			<key>IV</key>
			<string>7720ba5cccf8b6bc740aeebe2f97e362</string>
			<key>Key</key>
			<string>f5b85e4888f90fab326d09e2e81474f79712027fc8cfa5a0c539f0d23e12d83b</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n48ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>b2f669b628697fb0adaac1fcf457a743</string>
			<key>Key</key>
			<string>3c1057501b2ef53d0c396c3dca0ad48eaa209ae101accf4ec1d54159351837ef</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n48.plist</string>
	<key>RootFilesystem</key>
	<string>058-1066-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1593</integer>
	<key>RootFilesystemKey</key>
	<string>db3f40d27225bf85578c1293d6f19d3ce220240ac1b772284b773ae77419d3903c455774</string>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B554a.N48OS</string>
	<key>SHA1</key>
	<string>252a699947452efd599cd3418578e39182a842c2</string>
	<key>Filename</key>
	<string>iPhone5,3_7.0.4_11B554a_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,3_7.0.4_11B554a</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
