<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.p107</string>
			<key>IV</key>
			<string>5496184ad31efe5d92cda51285771530</string>
			<key>Key</key>
			<string>b3d26cc84f19dbf75f0e9fcb74b892fb8346e85b494a8ad70fa13912c1695d96</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.p107</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2576-007.dmg</string>
			<key>IV</key>
			<string>409fb50706d0764241d0474d6acc58ce</string>
			<key>Key</key>
			<string>bb458eaceee6663f229057483dd4be0f6dd9a35d205a1d8433593a9a63e02b40</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p107ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>0119ce8715e6150b3bb46e3fa2dfd19f</string>
			<key>Key</key>
			<string>5ac7259db42b0079d031c85ae5db105a593f03875ff5d153d73fdaa4cd5fd029</string>
			<key>Patch</key>
			<string>iBSS.p107ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p107ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>fb2c41e89c6f555f21bedc16c5db441c</string>
			<key>Key</key>
			<string>58d6024f2e4ee76e5d21e290750c6958b380118d01c228cbc51fec5b55283ae9</string>
			<key>Patch</key>
			<string>iBEC.p107ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p107ap.production/DeviceTree.p107ap.img3</string>
			<key>IV</key>
			<string>fa7909a6e746bfd6b9047103985388e2</string>
			<key>Key</key>
			<string>32985b6e3223b057ad5e824b608cbd515e0e00c7e212cbed928f2265667d31bf</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.p107ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p107ap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>59e84ca8f06dc5ab7b1ae15d0261e66a</string>
			<key>Key</key>
			<string>1fd122e6cd517e3ffba8c4238085f4ea3ac04a4772ff1530ebb2e638f862f647</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p107.plist</string>
	<key>RootFilesystem</key>
	<string>048-2535-005.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1100</integer>
	<key>RootFilesystemKey</key>
	<string>43c25d8610fb29dff6edc1410624c5b19d82509809ffb9533f2bd2506a02bc994bd89ef6</string>
	<key>RootFilesystemMountVolume</key>
	<string>BrightonMaps10B329.P107OS</string>
	<key>SHA1</key>
	<string>1b06da56b129536b6bd58c732746962972442be1</string>
	<key>Filename</key>
	<string>iPad2,7_6.1.3_10B329_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,7_6.1.3_10B329</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
