<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.j2a</string>
			<key>IV</key>
			<string>9a692b599781cd3682a471b8022e7bd2</string>
			<key>Key</key>
			<string>58950ca735832be119637e66e81e2dc8612142495150214423930f0d131270a0</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.j2a</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4289-009.dmg</string>
			<key>IV</key>
			<string>2066cf84c44817a3cdac5f92b430552e</string>
			<key>Key</key>
			<string>3f456301cbf5d5641fa0b0fe6d2b70af1c3a60892a9c62384a46020e2116dce9</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.j2aap.RELEASE.dfu</string>
			<key>IV</key>
			<string>008c2e5bc2d3be868921222c98790361</string>
			<key>Key</key>
			<string>c5e53fb98cca70f94063ef58191b5c5c51a428f1cd3ea4a44f72e5f6d344636b</string>
			<key>Patch</key>
			<string>iBSS.j2aap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.j2aap.RELEASE.dfu</string>
			<key>IV</key>
			<string>3c5ea4fe535c1c0a63fa383bff35bfff</string>
			<key>Key</key>
			<string>237bcfa0d7063ef6e34015096caec95a6736b956f96196d6645ad1a4c205b752</string>
			<key>Patch</key>
			<string>iBEC.j2aap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.j2aap.production/DeviceTree.j2aap.img3</string>
			<key>IV</key>
			<string>1828ad277c892aa1f045c62135c8e5c9</string>
			<key>Key</key>
			<string>d21edf810b407dedf58686e1940da2e8de22dd53b613a44e0c241ed14cdf158e</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.j2aap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.j2aap.production/applelogo@2x~ipad.s5l8945x.img3</string>
			<key>IV</key>
			<string>5d8e9ff970f5badfcfc8c8615c96c14e</string>
			<key>Key</key>
			<string>c713f87a9db68f62f5ca5be7c747b64c6d10ec0fa35f86eb8613affa4737fd78</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~ipad.s5l8945x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.j2a.plist</string>
	<key>RootFilesystem</key>
	<string>058-4405-009.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1773</integer>
	<key>RootFilesystemKey</key>
	<string>196d04da06660a4a49cd502fc256789380e90cabe5790558441c720010b42ab5c6c73189</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sochi11D257.J2AOS</string>
	<key>SHA1</key>
	<string>9c7e59c227c9139ab7af45e21cea91db8cfa6c29</string>
	<key>Filename</key>
	<string>iPad3,3_7.1.2_11D257_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad3,3_7.1.2_11D257</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
