<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>038-5307-151.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1222</integer>
	<key>Filename</key>
	<string>iPhone4,1_6.1_10B142_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone4,1_6.1_10B142</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>SHA1</key>
	<string>e49a848895823c61b7a1bb1f22650766a9ea9157</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>Brighton10B146.N94OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>354ccdc0ddfa048d7f507bc707aa95a4764087639cf058b91f79bd3d73792e59</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n94ap.RELEASE.patch</string>
			<key>IV</key>
			<string>e05c46975b2e9fa7b5e38553c575b676</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>42c59fa0315e6377c87a297e5724edf73d421802637e023da8e1f25b6af824cc</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n94ap.RELEASE.patch</string>
			<key>IV</key>
			<string>3198f6a2776366aa37c4c9d039b3df79</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>Key</key>
			<string>3dbd044d2218402556fc65bbe57dccfaf0a78318b54d18ea4082b3aba2575226</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>b5efee30e9ac14b28a96643a3f9cd216</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x.s5l8940x.img3</string>
			<key>Key</key>
			<string>1144d575892a0216b64f60edb89a4df7f6c3b481441bfe9cd9bc8c4dcedd614b</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8940x.img3</string>
			<key>IV</key>
			<string>35490867faa57a7530eaa48c72d91629</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-0736-001.dmg</string>
			<key>Key</key>
			<string>daabc1c996711b13ca91c8da4edf216c9ac9508605ecbdccb5ebf27b789966ad</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>9a5e3613c068ec860099ee2e42f6f9c1</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>Key</key>
			<string>ddc7965f87f269a396af8a97d5b92969f4d15c526519f62c2204e315886481a9</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>c12920522b27eaad4f734046ac87ec31</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>a543cd377b8d82465d0f457810f3b6dae781956abdc4c6a3dba53ab0c44d4670f7f3c870</string>
</dict>
</plist>
