<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,3_7.0.3_11B511_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-0174-001.dmg</string>
			<key>IV</key>
			<string>dbc5413a2bca63961ec874a5a8c13975</string>
			<key>Key</key>
			<string>ad1d537d075063d7dc0ff733f7d4ebd096f231bbe93efdb73e1c0467f1db37b3</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n48ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/DeviceTree.n48ap.img3</string>
			<key>IV</key>
			<string>4c41e3fe9025013efad410d3d2159438</string>
			<key>Key</key>
			<string>fcc738bf0276311a90c4c45b5532dc103513e28a34aed5695c0c66a4db9b64ef</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n48</string>
			<key>File</key>
			<string>kernelcache.release.n48</string>
			<key>IV</key>
			<string>1949593658edf6dfbd1fd3c05e083d43</string>
			<key>Key</key>
			<string>c04fe23e7f3bbff578db1017df01846e26a71fd4418940fc47ade7987ca94486</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>fb2aa8a900e618bce5717ce2431afbd6</string>
			<key>Key</key>
			<string>3dcf7e393d774b30b4f3cc2d09117a47ca0f36d7104ec46c2efdaccd2972bf62</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>be406cb52b74ebe2e0a90ae6b8e4a59f</string>
			<key>Key</key>
			<string>b05fd6e57a192aadcf1b2cf007052d476fdbd992e4ae67158cb76df429700eb7</string>
			<key>Patch</key>
			<string>iBEC.n48ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>de0d8beff759042fa2e439c07b807dbd</string>
			<key>Key</key>
			<string>612b4a1522283e0ef4a9c8551ff1cf953901039c40f270a2c0fa809759fadbb5</string>
			<key>Patch</key>
			<string>iBSS.n48ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,3_7.0.3_11B511</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n48.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-0149-001.dmg</string>
	<key>RootFilesystemKey</key>
	<string>982b851a9fbc6c7460171fee4aeedef75ec5bb2c6ae78042d01385bfa44dacf316636cc5</string>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B554a.N48OS</string>
	<key>RootFilesystemSize</key>
	<integer>1593</integer>
	<key>SHA1</key>
	<string>6bbc19a14e7033cb5d025f2cc9fed7145f72893e</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
