<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>ac20a4b047a64fe6b4a3a20a71ce784d</string>
			<key>Key</key>
			<string>8971653fdb070f532d6e563e5e1cd589fca50d809c35689753556fbb5dd7f928</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-49032-036.dmg</string>
			<key>IV</key>
			<string>7842e2c239a2f8a5d8dac384cb308c94</string>
			<key>Key</key>
			<string>3de170b9d5d0e4f22b6800f1ca9f82922b1e100c9f868cf32a957039fab21edb</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>f0f347cec7eef72537b7056f72199cc3</string>
			<key>Key</key>
			<string>3801b8387018fa15fa9d7aede1dd58e304401aaaeead4ae37100eb5b6e901ffc</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>aaca923c569e477c0d6fb441a956722a</string>
			<key>Key</key>
			<string>9da9c5a04bd3e41d3c5cfd41806905bf73b527b58aa4c9df82307ae6c570f5a8</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>21617cab22fd2738cad14f6f1604fae2</string>
			<key>Key</key>
			<string>4800e1183963014bdd82a67df14271e5184c47e4b92f9f929e7f0363eeb4ccd2</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>c639ffd2a1ccc0ee5d85cbf89124150e</string>
			<key>Key</key>
			<string>ecc1f57ccf4111b1db6f2fd4c9e9755db1c098908fd984194fe9d3cb1f3ae912</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>058-48374-036.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2017</integer>
	<key>RootFilesystemKey</key>
	<string>677d05afbb9a1eaa5f5e353829df15c4a5a6a2f7c2f354dadbff11e4aad7e97bf8f9275d</string>
	<key>RootFilesystemMountVolume</key>
	<string>Genoa13G36.N94OS</string>
	<key>SHA1</key>
	<string>6f8e28e55662b35514a18fe010442464f3c596e6</string>
	<key>Filename</key>
	<string>iPhone4,1_9.3.5_13G36_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_9.3.5_13G36</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
