<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,2_8.4_12H143_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-15840-139.dmg</string>
			<key>IV</key>
			<string>54cc485f7bb25e87870ca56582966439</string>
			<key>Key</key>
			<string>4f9ce5c195844bbcbb851d5b5556b10b1ec9567fc6cf463c328fa327f7c514c5</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>bf928d784ead3a3fbdc4d4e07637917f</string>
			<key>Key</key>
			<string>7aa0e9b008d7ea3c81501abf6459a7424ff422ae649f06c66855b27d6507929f</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>093958f013f60679b94065f66209ccaf</string>
			<key>Key</key>
			<string>1ee70ca0edab197f95bd0a770623def747dced617e7f6a36e50a5e026ac92c0e</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>95060c517c02d434b437e8f16069f46f</string>
			<key>Key</key>
			<string>55f096d0d3fe9444925bce54ed393290a604161f4d578b73be31c6880d8dc5da</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>50e0fc4f37b92413ec001bf1b26c16df</string>
			<key>Key</key>
			<string>c399fdd3895a463a9affd2fac2a8c363066e5d70e733df78493dab559ecc2178</string>
			<key>Patch</key>
			<string>iBEC.n42.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>2b91d6e970f28c2980bf9d649ff427c8</string>
			<key>Key</key>
			<string>59dde01bfde6524c225d13614d8d12ccb8738258a2213c1e9854e3b2efe505e6</string>
			<key>Patch</key>
			<string>iBSS.n42.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,1_8.4_12H143</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-15893-139.dmg</string>
	<key>RootFilesystemKey</key>
	<string>37272b5aecc3ea5ffcf61efd2bbe886f49ce7728474a97992de38acadaab15fc6e2319e3</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUOkemoTaos12B440.N42OS</string>
	<key>RootFilesystemSize</key>
	<integer>1962</integer>
	<key>SHA1</key>
	<string>039e2f3be3d7b382a646369080f4da0a08aac914</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
