<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.p105</string>
			<key>IV</key>
			<string>f7873131abcd7efb9ec123c9a06e2e96</string>
			<key>Key</key>
			<string>ed102b9174d7ad0e756ccd6eb56984de212e126b009f43b7932f6910b2e710a2</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.p105</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-01258-031.dmg</string>
			<key>IV</key>
			<string>dad8dad10862d7605a9f57de764d882d</string>
			<key>Key</key>
			<string>ce9331ba34143d98b056a1dae934c42d98f84b73c720868834e59fa71d917746</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p105ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>e17f971106cdf3cfb1fcd3e97a3559cb</string>
			<key>Key</key>
			<string>c5aa06d16394ea05b2e954febafe12cc1c13f1a1461a10d2b9be0a90d7624316</string>
			<key>Patch</key>
			<string>iBSS.p105ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p105ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>a6054418c77fdd0910b76396d5c41835</string>
			<key>Key</key>
			<string>8781d5ed551fda3a7cec772482ddd81f5a815e0f718fe43c8ddb79d94c9904b8</string>
			<key>Patch</key>
			<string>iBEC.p105ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/DeviceTree.p105ap.img3</string>
			<key>IV</key>
			<string>f0ec5c1cd5b6c6e0697d6cfd16212c09</string>
			<key>Key</key>
			<string>a631263f298439e432094aa63a78daa1655ae3ea345fc8f6f52c93e496c0ff53</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.p105ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>793e47b9d69d85bf6e5fd74efd731f87</string>
			<key>Key</key>
			<string>d453c80d8dd8b4abd3748548ca3ba4857acc70240d8411065818d424f1e50bfd</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p105.plist</string>
	<key>RootFilesystem</key>
	<string>058-01301-031.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2009</integer>
	<key>RootFilesystemKey</key>
	<string>b2102ab13c26b37809b1911a3468690a02902665218ac69a44f2abcd710f3abf54f2b605</string>
	<key>RootFilesystemMountVolume</key>
	<string>OkemoVailPrime12A4265u.P105DeveloperOS</string>
	<key>SHA1</key>
	<string>676bd18d772baa944c0046874ffadf33a5f33822</string>
	<key>Filename</key>
	<string>iPad2,5_8.0_12A4265u_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,5_8.0_12A4265u</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
