<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone4,1_8.1_12B411_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-05061-079.dmg</string>
			<key>IV</key>
			<string>50b8f6e93e085be3271b84cf602ac887</string>
			<key>Key</key>
			<string>7e077744c57eae498aed39c6bc902784e542d4ccdc8888c66666249a3bd327ca</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>548fded9389dbdf4312951ba4d0140b5</string>
			<key>Key</key>
			<string>cb7b8e7d3a9092915be9dda5caed08026b5ed8e28d445d99bc8de0d4e4d0fffb</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>e48a5faa67033a674f2022c8eb6a4f10</string>
			<key>Key</key>
			<string>08d55c0e80e66755279903c28d0460afe4f0464f7e7bfa5ee93b79b2a20d961f</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>0bf1c2aea1c72c8254488cdca65c0937</string>
			<key>Key</key>
			<string>78668c18cdb1cc5e5c57886af5a022d2ecdafefa7b56e667d869f25df86b5ae7</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>9067e4d0be13190daaffa22af041a754</string>
			<key>Key</key>
			<string>bdd91337972274864116393bb737fbe543cdffaca29af6ed63ea39090dabe953</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>2892f907019d6c215085259ffbb0e445</string>
			<key>Key</key>
			<string>454bdda259fc4d5c95ad2ba83bcef034ba445b8f5ce7db7f86ad0c22e3ed853d</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone4,1_8.1_12B411</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-05148-079.dmg</string>
	<key>RootFilesystemKey</key>
	<string>434111775fddcf2b23db797a436e6f329d8d36f59244a5787bb9c60527946b69d8b58add</string>
	<key>RootFilesystemMountVolume</key>
	<string>OkemoTaos12B411.N94OS</string>
	<key>RootFilesystemSize</key>
	<integer>2240</integer>
	<key>SHA1</key>
	<string>c5923462caa9a77a1bd3a3e56058982458ba9d25</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
