<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,1_8.1.3_12B466_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-11793-017.dmg</string>
			<key>IV</key>
			<string>f9da811266d222f288c8cb92893e3182</string>
			<key>Key</key>
			<string>b83c9f08030b0abb93b504a0ee51661a979e72b55c2faf7178bcb7fb11e149b1</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>c0cb087bbe6a3abe5d70ec21d3f470e1</string>
			<key>Key</key>
			<string>1fbb916786728b5e77cb41cd7e428108cf47c63de95f677a0177c9c2c6b76115</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>IV</key>
			<string>425e46017faa4c7d2e0ac5c0e8395050</string>
			<key>Key</key>
			<string>5928be52b5c9c3ac9af74c39cbc8c077b225436cf788d966fa2d1ad96b2c18f1</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>35d385d7bf22f7fa071f72f38e2c8bde</string>
			<key>Key</key>
			<string>d6fd175f1f3bae75721525d6d713a67d1c357af457cc7f00a218b23bfa05fc51</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41.RELEASE.dfu</string>
			<key>IV</key>
			<string>aedd9a553ecdfff8247a7741a849c539</string>
			<key>Key</key>
			<string>aaeeb43112fb00d7528dd2415db51de4890b238562ca6f333b3360395a2dd2ef</string>
			<key>Patch</key>
			<string>iBEC.n41.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41.RELEASE.dfu</string>
			<key>IV</key>
			<string>0d34aa62c23ad9ddd93b634ce7c630e2</string>
			<key>Key</key>
			<string>9c36ebf4f8344937e5ea9c14d391e61fbb96af6b82243a6819c1f1eaea9819af</string>
			<key>Patch</key>
			<string>iBSS.n41.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,1_8.1.3_12B466</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-12265-017.dmg</string>
	<key>RootFilesystemKey</key>
	<string>f7ef8aeee2372c420da08c19efa79834158166ce0acb802e5bf29243d037d651c2eba356</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUOkemoTaosTwo12B466.N41OS</string>
	<key>RootFilesystemSize</key>
	<integer>1962</integer>
	<key>SHA1</key>
	<string>83a87959ea5ea120e034a8f91eeb85848949d630</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
