<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.s5l8900x</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8900x</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
			<key>IV</key>
			<string>30C0CB05AE49D0484392261B2C8B21A8</string>
			<key>Key</key>
			<string>F9841FA3197F0BD9FD162CE170C5F6F9</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/batterycharging0.s5l8900x.img3</string>
			<key>IV</key>
			<string>DCE93EC9DF98CF590C0B792BCBCCCA8B</string>
			<key>Key</key>
			<string>A3F0C602763852309469648116DF4722</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/batterycharging1.s5l8900x.img3</string>
			<key>IV</key>
			<string>0C794909235D360AF8A2AAD92B92C281</string>
			<key>Key</key>
			<string>6EB1142E1F77F87687DA00C796E4EB61</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/batteryfull.s5l8900x.img3</string>
			<key>IV</key>
			<string>04BB4DD56CA411DD5A6C4CFF06EAC5E3</string>
			<key>Key</key>
			<string>E518C7F9DF797BC7A9C5E7256A6A85DD</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/batterylow0.s5l8900x.img3</string>
			<key>IV</key>
			<string>6ED7927936A0B7227ADE1CAE7BAF6A8D</string>
			<key>Key</key>
			<string>B6A8C1A9B7DC523146558422305E2237</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/batterylow1.s5l8900x.img3</string>
			<key>IV</key>
			<string>EB3A27A0D16927A3BE24BF4F7E75DF21</string>
			<key>Key</key>
			<string>7BF6775691685437193E089299979171</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/glyphcharging.s5l8900x.img3</string>
			<key>IV</key>
			<string>C62F0A6D0C296B1859599A614ECABD80</string>
			<key>Key</key>
			<string>F5A6AE904D976741CBEFABD527F5027C</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/glyphplugin.s5l8900x.img3</string>
			<key>IV</key>
			<string>38FF24AFA0422C6BE244EA0BE00CE12D</string>
			<key>Key</key>
			<string>689F91DAB29610B6064E450901F3D87F</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>NeedService</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/needservice.s5l8900x.img3</string>
			<key>IV</key>
			<string>5827A2F59A92F6D3ED16712A2185C9D7</string>
			<key>Key</key>
			<string>6A44E62D072062BA03B5B634A67D6B20</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/recoverymode.s5l8900x.img3</string>
			<key>IV</key>
			<string>848D4CEF8E4D8182C3F10062CF5347FE</string>
			<key>Key</key>
			<string>5A56972F4750335C448F3219269ED202</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/DeviceTree.n82ap.img3</string>
			<key>IV</key>
			<string>5E6BCA89F06C8DC4F3868FA4CABA9D40</string>
			<key>Key</key>
			<string>1852158326954E1379EE3AEBE1D5C50C</string>
			<key>Patch</key>
			<string>DeviceTree.n82ap.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.s5l8900x</string>
			<key>IV</key>
			<string>A4DB9183CD79722B4146C9DE09AB29C5</string>
			<key>Key</key>
			<string>02418105DFB3BE2AF2A76248E026F702</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/LLB.n82ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.n82ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-5305-002.dmg</string>
			<key>IV</key>
			<string>CACA33F1ACA029320D60873A4DEED68D</string>
			<key>Key</key>
			<string>9962589AABB4D5EC56B7A867AB5B11B0</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n82ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBEC.n82ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n82ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBSS.n82ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.n82ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.n82ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF 2</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.s5l8900xall.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.s5l8900xall.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/iBoot.n82ap.RELEASE.img3</string>
			<key>IV</key>
			<string>674A95015A8D33CD2F1F259EBE01ACA7</string>
			<key>Key</key>
			<string>4A8D6657297CA45CF6BEC0854EE0A2E8</string>
			<key>Patch</key>
			<string>iBoot.n82ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
		<string>com.ripdev.icy</string>
	</array>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-5301-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>443</integer>
	<key>RootFilesystemKey</key>
	<string>8D5D1FEA02D627C9E9B0D994C3CFDEAAB9780C86AC908DB15461EFE44EDDD19F8924B6B2</string>
	<key>RootFilesystemMountVolume</key>
	<string>Kirkwood7A341.iPhoneOS</string>
	<key>SHA1</key>
	<string>94f1fb43de12bff0f168ce690b7e794cc6220ae3</string>
	<key>Filename</key>
	<string>iPhone1,2_3.0_7A341_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone1,2_3.0_7A341</string>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-6578.20090617.VfgtU/iPhone1,2_3.0_7A341_Restore.ipsw</string>
	<key>Platform</key>
	<integer>3</integer>
</dict>
</plist>
