<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>9a1fe5f3a9ba58ac7d3e0be1cbb89a15</string>
			<key>Key</key>
			<string>7d1d42de3f8f43e177665de566028cf1689b849a7bf219609d76f3fe9c78a7c8</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-14828-072.dmg</string>
			<key>IV</key>
			<string>852070c2b93fab4cae711dd74a3e75d4</string>
			<key>Key</key>
			<string>375111641237a5c980c0b1ca9e18d8d6d9235f0ec536101496d1adb2f2adab8d</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>053218c1c094435850746232625191f2</string>
			<key>Key</key>
			<string>f53120db128402434c0366555361aaea2012dac4eba2765421cb734fda838b4c</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>645132786e8a81f25e51330aa84daae5</string>
			<key>Key</key>
			<string>d0cbbebcd386bb9d65b2d4784a4e69cdc73d761c5df939a47635b2decd808f49</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>c29616595e9f78fd7284d21ca037d0f9</string>
			<key>Key</key>
			<string>1504c3d5cd9b02e10be85f4b90cb0c9d8ca666822ce67b50b885397c3c0e30cd</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>4238a26549cafc784e9a3ea867dce97c</string>
			<key>Key</key>
			<string>d2b4a85df723300661f57e2aae0C65e9c53305472a8362554892db00a880902e</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>058-14563-072.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1997</integer>
	<key>RootFilesystemKey</key>
	<string>6b4eefc740ae0dde79ee0d4a314c8f61784281b03831e57a6903a7ca572065e709bce1bb</string>
	<key>RootFilesystemMountVolume</key>
	<string>Stowe12F69.N94OS</string>
	<key>SHA1</key>
	<string>9d443ee668e9992bc42c1b8c6dbda54047f28099</string>
	<key>Filename</key>
	<string>iPhone4,1_8.3_12F69_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_8.3_12F69</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
