<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>3aa39d9e99c5528be60ecca6f3c85e73</string>
			<key>Key</key>
			<string>dec14d066a2db2a06de03a8cb0ec6e7763a4dd5e5bf79e8834c0483dc4fe5a43</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-25712-333.dmg</string>
			<key>IV</key>
			<string>9d319399715c4467d787c45f39bd0205</string>
			<key>Key</key>
			<string>029aba8ca18cc755892e90f19b1815b84547247c708bcc2dfb8626e2075ae2c4</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>6b1bf14f37357ce1fe3018d8843d53b8</string>
			<key>Key</key>
			<string>cd0fb31a6891f1f606c393e91cff6a7ef48b6423bf6886302869f5da304a829a</string>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>dd6d06ac438582364e44e333bb4246b9</string>
			<key>Key</key>
			<string>4ac12fe923e92dace25a613530565b9b9f90c6ae81f49b5eb35376cc4dac083b</string>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>24e84bf536551c93c4d738565045b181</string>
			<key>Key</key>
			<string>450236ac1f07f7edecb3fbcc55af4d3d5239f3013835d9f4cf6bb3ab138946b8</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>37916a8bfcf7e917067f80d60fba79b7</string>
			<key>Key</key>
			<string>ac208d67459dae9c7d3c132e10ef1f1782b9e467605e50428af122cd286af4ea</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>058-25522-331.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2016</integer>
	<key>RootFilesystemKey</key>
	<string>8f760e282622e82db0f5594dcbd6145d41ea16eed9e052a0106762ca345a35dccfc608fa</string>
	<key>RootFilesystemMountVolume</key>
	<string>Eagle13E237.N94OS</string>
	<key>SHA1</key>
	<string>019323ed421e4d6d6cd4ee782f0d0deee3393019</string>
	<key>Filename</key>
	<string>iPhone4,1_9.3_13E237_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_9.3_13E237</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
