<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k93a</string>
			<key>IV</key>
			<string>06e8cdb770313b095fedf59fa0cad7e5</string>
			<key>Key</key>
			<string>08fb6c392df913edc6b0221a9e81a03c5bbca8682f43ec79ba7ed9e413d13b64</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k93a</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-1096-002.dmg</string>
			<key>IV</key>
			<string>82c8c76e9563e7ffd528051f0b73bc97</string>
			<key>Key</key>
			<string>ad124b48d3908563bd14860debe017a84a0916eeaeaf3b608ced15c6cc257e08</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93aap.RELEASE.dfu</string>
			<key>IV</key>
			<string>cd30221e8d8b254cdf92bb63601d5846</string>
			<key>Key</key>
			<string>662ada18dfc4d7a6ad7cf8ce3c7f629bbb09bcd46849087fd35ff4c774cdd66a</string>
			<key>Patch</key>
			<string>iBSS.k93aap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93aap.RELEASE.dfu</string>
			<key>IV</key>
			<string>39867c4da6b2f49a01db8c3ce438d2d7</string>
			<key>Key</key>
			<string>ce5b40434cf8ec17a40010369605d56e4874b4c2b6ea2fd6fecd51f0e8e4184b</string>
			<key>Patch</key>
			<string>iBEC.k93aap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/DeviceTree.k93aap.img3</string>
			<key>IV</key>
			<string>04cf55c164682a06bd3d252620ea79ab</string>
			<key>Key</key>
			<string>23bf7c99b5680227e3b1ffca50727a3a4383330b0fcf3afa408d4a384722ea88</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93aap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>78db205861abc427b15620f643d31715</string>
			<key>Key</key>
			<string>78205c241c32e1fe0c07121c78c4a2f73fc4299084a78496d3c457eef1caeedc</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k93a.plist</string>
	<key>RootFilesystem</key>
	<string>058-1067-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1391</integer>
	<key>RootFilesystemKey</key>
	<string>10b444bb2d2d34b2990e6448ea67fe763e9604410960e5ab9b1f6531d2559e013ad0ccb7</string>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B554a.K93aOS</string>
	<key>SHA1</key>
	<string>4ea96465334bcf2f0205a9e2f716c06617f4b671</string>
	<key>Filename</key>
	<string>iPad2,4_7.0.4_11B554a_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,4_7.0.4_11B554a</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
