<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,1_9.0.2_13A452_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-03706-369.dmg</string>
			<key>IV</key>
			<string>9b8d6de5aa71935f3c3d4206f36c7d60</string>
			<key>Key</key>
			<string>de9766b3afbbf2aa027c59184dea3256d711e75816beb1f403c3462da345320f</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>9a06fe711850b38689eccb66cf4d791c</string>
			<key>Key</key>
			<string>c9a1683405d772a120282ff3358e45f1588514160a19f15ef030a8f73a77c118</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>IV</key>
			<string>7822c7177333f6997d098fa89a6061fc</string>
			<key>Key</key>
			<string>eaeae1321b3da7e8753a3e523c1754f5b82f8641388688cfc8739ba865596daa</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>962dd1d4734e9e9b27a0014ac0a9379a</string>
			<key>Key</key>
			<string>dfa1dcbba6faa4d6016a065af725a244305be093457c0ddbc8c928f18c0bdc10</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41.RELEASE.dfu</string>
			<key>IV</key>
			<string>2209a56460c6b012e076d122a0c85824</string>
			<key>Key</key>
			<string>b35abfc90d87a29c67d826ce132c085a944b317a36ed7ef8e37615b2113a2267</string>
			<key>Patch</key>
			<string>iBEC.n41.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41.RELEASE.dfu</string>
			<key>IV</key>
			<string>8b1cbdafebd61b9f7b8307ce7c2a5ed9</string>
			<key>Key</key>
			<string>9959574dba2058015922c6037ef09355effbec4e7e67988b2737546bb3225b98</string>
			<key>Patch</key>
			<string>iBSS.n41.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,1_9.0.2_13A452</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-07904-303.dmg</string>
	<key>RootFilesystemKey</key>
	<string>e32219ea877cd46e8bed6375a961891cf0046e991276aa84d65ca5fce1fdad8d3a9d2f9e</string>
	<key>RootFilesystemMountVolume</key>
	<string>Monarch13A452.N41OS</string>
	<key>RootFilesystemSize</key>
	<integer>2049</integer>
	<key>SHA1</key>
	<string>a617d4f7d474b937a6ec10bfa7af4fe20fe7900c</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
