<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,3_8.1.1_12B435_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-09687-016.dmg</string>
			<key>IV</key>
			<string>54bb6cb9cc26b2a23daacd5aabc0a2cf</string>
			<key>Key</key>
			<string>7f69c039c513aeed976d94d2b0d5cb3e10213231086b28a9d5cafe809c6c00f6</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n48ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/DeviceTree.n48ap.img3</string>
			<key>IV</key>
			<string>5f41e29efdc9f6f4d919d983c8529f90</string>
			<key>Key</key>
			<string>f00646d662a6c0a797b5fd5b201e16804cd0f3864952562bd58cecdf322a29df</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n48</string>
			<key>File</key>
			<string>kernelcache.release.n48</string>
			<key>IV</key>
			<string>dd8ff9f82dbb193c9718cdc850ab62ef</string>
			<key>Key</key>
			<string>98849ade4c4acf2b795f5bb7ad0336671fd9c7d4fb34a5869f2450d471628e79</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>0f26e4182ed76e6f2465e372f70b2d94</string>
			<key>Key</key>
			<string>087b3b6f0a7b36f715ba28a32c1faf68d3c37bd50f03bf2e60eaeb2a6c6fdc3c</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n48.RELEASE.dfu</string>
			<key>IV</key>
			<string>a2e6544803cc1ddc58859c1eac7e5044</string>
			<key>Key</key>
			<string>58def1f93d71910f3a66ec5903c881bc8cadd5ffcfc4ba3dfe1ff128c649911d</string>
			<key>Patch</key>
			<string>iBEC.n48.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n48.RELEASE.dfu</string>
			<key>IV</key>
			<string>ed33917d0dd6dfb4e5ac141fe5a6b2c9</string>
			<key>Key</key>
			<string>57d1cf152b705307b33082b68dfc2f538aaf92d33b87b02102767957bd0cc512</string>
			<key>Patch</key>
			<string>iBSS.n48.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,3_8.1.1_12B435</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n48.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-09570-016.dmg</string>
	<key>RootFilesystemKey</key>
	<string>ced3a7e8f9fd0617d5791e8c5e3293f6d1ef2541f597f3f5f3206866e94e4d02fa4099a9</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUOkemoTaos12B435.N48OS</string>
	<key>RootFilesystemSize</key>
	<integer>1971</integer>
	<key>SHA1</key>
	<string>dd69d7b1ab5c1c7c14f1c0384dc547814c214619</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>