<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,3_7.0.6_11B651_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-3121-001.dmg</string>
			<key>IV</key>
			<string>636a4b388833eb841b733e31b5a8fd4f</string>
			<key>Key</key>
			<string>2d900025f1cf79582974d95bf7212b9dc12f101c7e5520816a05766fb75a17a2</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n48ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/DeviceTree.n48ap.img3</string>
			<key>IV</key>
			<string>8a4acbb79c2c2ae76da90df310c1d1c7</string>
			<key>Key</key>
			<string>f9f1cd3dc8eff5d0451968bbce0431a9a5481693296bdbb2cca906aebce8cbfe</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n48</string>
			<key>File</key>
			<string>kernelcache.release.n48</string>
			<key>IV</key>
			<string>85f50e82b370dfd029d772c02428ec51</string>
			<key>Key</key>
			<string>dbc1e2efbada89bbe5e7a859a3ac966c88bb60ad37d845550bf2c01a4922bcc5</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>0a255d591aa2120974a05b1507840dc9</string>
			<key>Key</key>
			<string>0c18a7bccaddf5728ed870f85af7de04c9caf3a880605043ab0dff86991f70a5</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>6ca9bbabbccaf9f77d2933bad02406a1</string>
			<key>Key</key>
			<string>03417fcc88832bd8d07d0227b0cd02a8acd63e477984295f6b9fb43d06a18e8c</string>
			<key>Patch</key>
			<string>iBEC.n48ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>eea4deb897e35fead27bf294da1a9e2e</string>
			<key>Key</key>
			<string>0b8014442edb47d62a3c53f1e4070ba0e392d50988f3fc61ff1f67dc401feed8</string>
			<key>Patch</key>
			<string>iBSS.n48ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,3_7.0.6_11B651</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n48.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-2330-003.dmg</string>
	<key>RootFilesystemKey</key>
	<string>d1a413f46270ed17945f6227b687a000bad923dc6bac4d1fcd1b96a64b216dd17932eac8</string>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B651.N48OS</string>
	<key>RootFilesystemSize</key>
	<integer>1593</integer>
	<key>SHA1</key>
	<string>73e6a5fd08a172e44aa77a8a58be26a08fd80456</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
