<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.p105</string>
			<key>IV</key>
			<string>6d6d05879d4e1b735cd66a10cbdf23cd</string>
			<key>Key</key>
			<string>e2a1b8af23cea48e89be9818ade05430389abb4c353b103b9fef91bf5fb8c66f</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.p105</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-14533-072.dmg</string>
			<key>IV</key>
			<string>11eef34e38536fa1201fd14aaf4313ca</string>
			<key>Key</key>
			<string>7ba31d73cbe95dbee31211e0701be31014ddde15efeba442aa7ab687ab2fc857</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p105.RELEASE.dfu</string>
			<key>IV</key>
			<string>da3638a5d6f5f06908a4aac79804bf15</string>
			<key>Key</key>
			<string>9a626f1f68a29d8b90768a71bd1cd238c1310f02c4e5da32aced20477536ee72</string>
			<key>Patch</key>
			<string>iBSS.p105.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p105.RELEASE.dfu</string>
			<key>IV</key>
			<string>9113efc34bb4101d1defcd187bcb82ad</string>
			<key>Key</key>
			<string>d807b2e042fd32a8a6715ed42fe253d6ebf700003914ac09d3f60b30e561c055</string>
			<key>Patch</key>
			<string>iBEC.p105.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/DeviceTree.p105ap.img3</string>
			<key>IV</key>
			<string>abd8ae42b849a68c7ef1c99763163fc4</string>
			<key>Key</key>
			<string>60e4199df479221dd26a62d14f2ab1185e4494ceea33365ffc65002c0f498725</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.p105ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>9963dea035b646ce6a2bec08d21e695a</string>
			<key>Key</key>
			<string>f4861289b5922c57dd39df199b4a4f6ddb6640105cb7d83f396d65e5c69d74a8</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p105.plist</string>
	<key>RootFilesystem</key>
	<string>058-14565-072.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1940</integer>
	<key>RootFilesystemKey</key>
	<string>6d152b1cd18bba53980a6e604aa7337ea4bc67c04162555f60fa12b0ca1e50deb1427514</string>
	<key>RootFilesystemMountVolume</key>
	<string>Stowe12F69.P105OS</string>
	<key>SHA1</key>
	<string>3f70317d5ef9676767943a786fbe5521735f7529</string>
	<key>Filename</key>
	<string>iPad2,5_8.3_12F69_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,5_8.3_12F69</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
