<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>7c9936fe82c0cc850b25edc297279424</string>
			<key>Key</key>
			<string>87f53ab7787a608279f1bf9d88e7a0f459d1200a9fd867d458beed099442233e</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-1124-002.dmg</string>
			<key>IV</key>
			<string>a47b38124ff7c469d0bddee2e27d6017</string>
			<key>Key</key>
			<string>77321dbee7bf7906a5881681087a4fa3c2f5479f7ad0cd8b071751e6085ae5d4</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-1077-002.dmg</string>
			<key>IV</key>
			<string>ecf95f77d049a225b96378c28f7302ae</string>
			<key>Key</key>
			<string>90782ac22ede152364a1f104f7b6dd6b39a54f44dc43bc22d3ae53f952d96a56</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>3a0fc879691a5a359973792bcd367277</string>
			<key>Key</key>
			<string>371e3aea9121d90b8106228bf2b5ee4c638a0b4837fefbd87a3c0aca646e5996</string>
			<key>Patch</key>
			<string>iBSS.n94ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>6325f8181a82de78e15563bb7ec5178f</string>
			<key>Key</key>
			<string>e9f15c1fd878d9a9d30897811d7661973e3633c5302211395153faf8d06c7cd9</string>
			<key>Patch</key>
			<string>iBEC.n94ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>2ffd9e032574d545319b36b3b21a6818</string>
			<key>Key</key>
			<string>96941da2a68afc1632c7771f9da9379096ff4e5f859c4103d25660344a37d646</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>43d6c5cbfa9ecef45b200c081d4bd7fe</string>
			<key>Key</key>
			<string>a8f98d6e7a10bb4f1fe0864801e560421e025bef18684da1965da6cfe825683c</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>RootFilesystem</key>
	<string>058-1108-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1572</integer>
	<key>RootFilesystemKey</key>
	<string>da293860c6f7fe2d2e6c86275fa83a254b51bdf8303dbd1df70e39a8a13e4830353ecab8</string>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B554a.N94OS</string>
	<key>SHA1</key>
	<string>76B111ADB02D2DE53FCC5EDCB02E8E176A4C6723</string>
	<key>Filename</key>
	<string>iPhone4,1_7.0.4_11B554a_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone4,1_7.0.4_11B554a</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
