<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>903b15ef0b1bc0d1aed68737b071d410</string>
			<key>Key</key>
			<string>234da4a8420f9f9d39c81fe470e36c6eb99587377b01bd02361299744adf66b7</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-9014-002.dmg</string>
			<key>IV</key>
			<string>48fada71894095879667cef4635678af</string>
			<key>Key</key>
			<string>35bb954780953a911f38ab2f35f158a44e9f1733789d6ef0cddb2f7435f56edd</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>289eff82d674a4903b25955d70fb23a8</string>
			<key>Key</key>
			<string>0d76833b166a77b0a413513002144dd10a690caa9ddfd8f565d38a71c1b536df</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>2922b0627ddcf5404114c314557e9931</string>
			<key>Key</key>
			<string>b5577667e321bcf0a1eab8e3f6442ae2441fce046f626923dc540cea33cb3ddb</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>2b26ff7b01b62d4ead1a574ea85d90aa</string>
			<key>Key</key>
			<string>b6e6221b26122ad72a2174ab6fca11212a4e72085a9da0564fce01fc07ca3450</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>5b8099e59c8aebacd11ddf7024786a47</string>
			<key>Key</key>
			<string>35bb954780953a911f38ab2f35f158a44e9f1733789d6ef0cddb2f7435f56edd</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RootFilesystem</key>
	<string>048-8522-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1590</integer>
	<key>RootFilesystemKey</key>
	<string>30c7f3d0675eebc3d01791af5ee7829db5f2403320ac5c0b003ee7d4575f0d72b49ff1a1</string>
	<key>RootFilesystemMountVolume</key>
	<string>Innsbruck11A501.N42OS</string>
	<key>SHA1</key>
	<string>5f05f380d1308ea78cfce333fad4e684c3e0e5bc</string>
	<key>Filename</key>
	<string>iPhone5,2_7.0.2_11A501_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,2_7.0.2_11A501</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
