<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,2_8.0.2_12A405_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-04628-039.dmg</string>
			<key>IV</key>
			<string>0b25ae14692c0ffddfcff65b9de32272</string>
			<key>Key</key>
			<string>6a84b1536eea92cc8c2264edba520687697836778504835804072d685c97d526</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>1f42a9c77b6722cab534458c036f56f5</string>
			<key>Key</key>
			<string>df2e0bec4b4c2a6e40216368d08701c8fa13540c4cbdf8db00bae494eb21a144</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>6f666ce6f90b6b4d3e9fc34fdff99069</string>
			<key>Key</key>
			<string>24675cf827c7f31b39b18c651969347fcff825de69bb109a7bade20b7d220f4a</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>3f21235489e5c5e6092f65c4b63e054e</string>
			<key>Key</key>
			<string>6f175ccf6e6c980ab6d6eb7a80622fde81464a65632b5c1b289e66c52ecec567</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>cd7509d77b12a3112155c1f2d4529103</string>
			<key>Key</key>
			<string>3d9f5dab53ff4816efc7de2d0b5155573b7206f68798ea817ae6fd7adc8c1d5b</string>
			<key>Patch</key>
			<string>iBEC.n42.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>f0d1c550283eda4254601838229297c3</string>
			<key>Key</key>
			<string>9ab1bcca59c0b410ee74bad182c17c999c8031a72b374eae6fbcddd3b41e1a44</string>
			<key>Patch</key>
			<string>iBSS.n42.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,2_8.0.2_12A405</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-04813-039.dmg</string>
	<key>RootFilesystemKey</key>
	<string>b301532a31b39a6d132218039635c3be9d142d165eb2a2f11815dabd8940ec359eee8b6a</string>
	<key>RootFilesystemMountVolume</key>
	<string>Okemo12A405.N42OS</string>
	<key>RootFilesystemSize</key>
	<integer>2224</integer>
	<key>SHA1</key>
	<string>0f637001cf3cab122a54234cfdf90423f40f1850</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>