<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPad2,1_8.4_12H143_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-15814-139.dmg</string>
			<key>IV</key>
			<string>5df8c3b865a904d397866a2e88568e3a</string>
			<key>Key</key>
			<string>b842aecde5d98c050c07248aeebf35ac6cc60066e7f990c357059409eba8d802</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93ap.production/DeviceTree.k93ap.img3</string>
			<key>IV</key>
			<string>5581c8fdd009c29b5dd2819634203351</string>
			<key>Key</key>
			<string>36787a4146d671d22a2ff5d7ed3008f04de3e6b2c53b07acb0f42f99cb1c2363</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k93</string>
			<key>File</key>
			<string>kernelcache.release.k93</string>
			<key>IV</key>
			<string>4c94d337515c33b504894e71739dbc5c</string>
			<key>Key</key>
			<string>c17727b05065f2ef42d4648aef988e6f5bb901e49ecc540d3fa8097633d967ac</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93ap.production/applelogo.s5l8940x.img3</string>
			<key>IV</key>
			<string>3e68a345fb4806d8de296dd066f689ea</string>
			<key>Key</key>
			<string>3f23378d1ab83340ea5f5deaaed74143e7e611112e2cf3cbaca227db822bf150</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93.RELEASE.dfu</string>
			<key>IV</key>
			<string>bb4e53bb2ea11528b7e55302b9c9f897</string>
			<key>Key</key>
			<string>8ca3915c64d5ab91196a4a37e031a6713d49d5d025c9f39a1b54fc6649290c18</string>
			<key>Patch</key>
			<string>iBEC.k93.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93.RELEASE.dfu</string>
			<key>IV</key>
			<string>c29433d2bab5ba1f5a4c718d4386b99d</string>
			<key>Key</key>
			<string>533e4ab6181f9e51e02f4ec161e9fe54c20ab1fe18e1e41e44e5c95a0b877a3b</string>
			<key>Patch</key>
			<string>iBSS.k93.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad2,1_8.4_12H143</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k93.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-15911-139.dmg</string>
	<key>RootFilesystemKey</key>
	<string>120b01a9cff223368adee1c685236d73308b75b0095d4e716bb01f0c020f3a152918ba3c</string>
	<key>RootFilesystemMountVolume</key>
	<string>Copper12H143.K93OS</string>
	<key>RootFilesystemSize</key>
	<integer>1802</integer>
	<key>SHA1</key>
	<string>d4c0f63b02702010b05a207ce29cd31f42000510</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
