<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,1_6.0_10A405_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-6463-002.dmg</string>
			<key>IV</key>
			<string>a7921449dcc4b173d46b40fa11c9b40e</string>
			<key>Key</key>
			<string>120daf98813834ef1146c988baac1562db681642a149854b3308d07f39ff9ad1</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>94e914ed79a34088e7b83b7dcad1d735</string>
			<key>Key</key>
			<string>e68c022219841e5864de20355129d72647894438ac2d5195f56f2c8dcc53b544</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>IV</key>
			<string>0253a2c484b0fef5fb44acb9e4093d41</string>
			<key>Key</key>
			<string>129380581d7d1e4b0d535c0ba22d1639a9de25b1c88df96ed0a4781b75ea9c77</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x.s5l8950x.img3</string>
			<key>IV</key>
			<string>5458f2dce1333bfc5e0bd1aae814f089</string>
			<key>Key</key>
			<string>a64a7e657f574100abef63a64101b076d67394b08d4ce99ef6f99b88cba629c0</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>4018851d3b9faf0123335557d22b554b</string>
			<key>Key</key>
			<string>ddda442e074265d8c1a82094339359f8799ab5d57972291dd35bfb37a9d4315d</string>
			<key>Patch</key>
			<string>iBEC.n41ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>943ddbb6301c286875816d30f8db9c60</string>
			<key>Key</key>
			<string>d292297b3c1eb6b5b30e3d22e062aaa69bbf0d241aaeea226a4527ff29235b43</string>
			<key>Patch</key>
			<string>iBSS.n41ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,1_6.0_10A405</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-6485-002.dmg</string>
	<key>RootFilesystemKey</key>
	<string>64222b62d812d68e883b71c22a25b20b533dadad0333a54079d71995fb6ceb02b3536c99</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sundance10A405.N41OS</string>
	<key>RootFilesystemSize</key>
	<integer>1280</integer>
	<key>SHA1</key>
	<string>e746a07feabaadc86b46615b33197c8ac1c80605</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
