<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>libgmalloc.dylib</string>
				<key>Name</key>
				<string>libgmalloc.dylib</string>
				<key>Path</key>
				<string>usr/lib/libgmalloc.dylib</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Add</string>
				<key>File</key>
				<string>pf2</string>
				<key>Name</key>
				<string>pf2</string>
				<key>Path</key>
				<string>usr/lib/pf2</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
				<key>MoreActions</key>
				<array>
					<dict>
			            <key>Action</key>
			            <string>SetPermission</string>
			            <key>File</key>
			            <string>usr/libexec/lockdownd</string>
			            <key>Permission</key>
			            <string>755</string>
			        </dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-7082-092.dmg</string>
			<key>IV</key>
			<string>103ae8786d55bebdea996a56706641c9</string>
			<key>Key</key>
			<string>a80b3c27041f09d4554bbf4af59dd5bcea38bd4fe2faf82d8d6f62853ec6b337</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-7074-092.dmg</string>
			<key>IV</key>
			<string>4445214ed192b6ccfe6953c6ae80c55e</string>
			<key>Key</key>
			<string>7f50d391295747a06d03cdb2ae536fa089a368e473a470148f44750712c58105</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>c2c5416472e5a0d6f0a25a123d5a2b1c</string>
			<key>Key</key>
			<string>1fbc7dcafaec21a150a51eb0eb99367550e24a077b128831b28c065e61f894a0</string>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-7063-114.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>822</integer>
	<key>RootFilesystemKey</key>
	<string>2ab6aea67470994ec3453791ac75f6497c081edd1991e560a61dd666ac4b73f43c781739</string>
	<key>RootFilesystemMountVolume</key>
	<string>Baker8B117.N90OS</string>
	<key>SHA1</key>
	<string>a3f8a333ca181146b862ca6a59c9a6e7c27eba0b</string>
	<key>Filename</key>
	<string>iPhone3,1_4.1_8B117_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone3,1_4,1_8B117</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
