<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,4_8.2_12D508_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-06698-150.dmg</string>
			<key>IV</key>
			<string>3663217051ccfda009161b4c59f7af12</string>
			<key>Key</key>
			<string>5f0f3ceada51171ba01caad05ae74f8cb799561c8868a58dcca51fdbac4f0c3a</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n49ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/DeviceTree.n49ap.img3</string>
			<key>IV</key>
			<string>9f4a7fabb7453fa347a6e6c050549368</string>
			<key>Key</key>
			<string>8f49341f739bda983b6ca6a9aeecfbd18c4a97427f7ea5d8ccc6e2291980a208</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n49</string>
			<key>File</key>
			<string>kernelcache.release.n49</string>
			<key>IV</key>
			<string>5b79d833daf1a9275a8f9171ceff4862</string>
			<key>Key</key>
			<string>493603dd2a2d74fae9e55c4ae991a69ceba79ace4a1eee2389b98e8e178edcf0</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>de9f5e249cc33e5d18a2148c3229de01</string>
			<key>Key</key>
			<string>7602a48ca1aacfe98fd0e8591abd43ec4dfa1c1d2ab97b3a36885c86f5666f1a</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n49.RELEASE.dfu</string>
			<key>IV</key>
			<string>89f2c4e9df2673742660f31d803c00cd</string>
			<key>Key</key>
			<string>a5ea4913c0bdc65d54d329626449fd74d6223423e4fcb11c85deea2b03420ae7</string>
			<key>Patch</key>
			<string>iBEC.n49.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n49.RELEASE.dfu</string>
			<key>IV</key>
			<string>e535b75ba9b7fb370ac4f3dc1973e5b8</string>
			<key>Key</key>
			<string>87734ef3ccef46ad719c4f32590fffe018a341aec7396989867685f937bebbe8</string>
			<key>Patch</key>
			<string>iBSS.n49.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,4_8.2_12D508</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n49.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-06755-149.dmg</string>
	<key>RootFilesystemKey</key>
	<string>8382eb13e146efdb2d1fd82296561db4bdd8887433aa45f972c428034941f5b3eb272cef</string>
	<key>RootFilesystemMountVolume</key>
	<string>OkemoZurs12D508.N49OS</string>
	<key>RootFilesystemSize</key>
	<integer>2055</integer>
	<key>SHA1</key>
	<string>b239f710335c00e6845bf2b5d7292e1bf88406e0</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
