<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,3_9.3.2_13F69_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-37546-072.dmg</string>
			<key>IV</key>
			<string>67b38ea491b3fdcb3b193f1fcc1c6021</string>
			<key>Key</key>
			<string>f178dd12910fbfd6922314ad3112f6ecd8587273a86d29aab24ab8ea672329c4</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n48ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/DeviceTree.n48ap.img3</string>
			<key>IV</key>
			<string>33790a52df174bb9d6ce1594ec70e207</string>
			<key>Key</key>
			<string>8c4dbd1edf7eaf61d3da01d5745d3ec86213f0a38d9e8711393322f84420f27b</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n48</string>
			<key>File</key>
			<string>kernelcache.release.n48</string>
			<key>IV</key>
			<string>b9c9ae52028d4c68f41ef0e0472b2614</string>
			<key>Key</key>
			<string>1b304b4ae57beb34a5b14bca4cb756ff5973dc97aef2eba134025d40f14fdf03</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>40d87fdd6f3f32e76f905837627669c4</string>
			<key>Key</key>
			<string>16711988e9628d67b251ab1c3193e751d1007ccc6c92c647fdc2659a24e213b8</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n48.RELEASE.dfu</string>
			<key>IV</key>
			<string>34cd608cf10a18ea146033ea78bcae55</string>
			<key>Key</key>
			<string>750543969492a965f568b7ceddd206b7c2915389dfcaa744e380e180d851957a</string>
			<key>Patch</key>
			<string>iBEC.n48.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n48.RELEASE.dfu</string>
			<key>IV</key>
			<string>ef710a5a0c7b3b34e21eff6d697a7f6e</string>
			<key>Key</key>
			<string>6f25db6a2a19b673ef544dc7704da4a7b91e0941874483dca55e6d8270e2552e</string>
			<key>Patch</key>
			<string>iBSS.n48.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,3_9.3.2_13F69</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n48.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-37097-073.dmg</string>
	<key>RootFilesystemKey</key>
	<string>53686d35d39d7f3352980df0455c4b21ebacefa5826583cc34bbc4dd02033fb0cb6d05c6</string>
	<key>RootFilesystemMountVolume</key>
	<string>Frisco13F69.N48OS</string>
	<key>RootFilesystemSize</key>
	<integer>2046</integer>
	<key>SHA1</key>
	<string>8f2664e2918f8912c1d95b86344f68e9b7e8f821</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
